// ----------------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------------
.web .desktopcontainer, .desktop .webcontainer {
  display: none
}

.auth
  user-select(none)
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: #fff
  z-index: 100
  overflow-y: auto
  -webkit-overflow-scrolling: touch;

  .desktopcontainer
    text-align: center
    max-width: 500px
    margin: 50px auto 40px

  .form
    font-size: 16px
    width: 260px
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    -moz-box-sizing: border-box


  // --------------------------------------------------------------------------
  // OBJECTS INSIDE CONTAINER
  // --------------------------------------------------------------------------

  .icon
    border-radius: 20px
    margin-bottom: 20px
    box-shadow: 0 1px 3px rgba(0,0,0,0.3)

  h1
    text-align: center
    margin: 0 0 25px 0

  .bullshit
    max-width: 400px
    margin: 0 auto 25px
    font-size: 16px
    line-height: 1.5
    color: #444

  .note, .note a
    margin-bottom: 0
    color: #777

  .note a
    text-decoration: none
    color: #555

    &:hover
      text-decoration: underline

  .note-success
    display: none

  .error
    font-size: 13px
    color: #E15556
    font-weight: bold

    &.populated
      display: inline-block
      margin-top: 20px

    a
      text-decoration: none
      color: darken(#E15556, 10%)

      &:hover
        text-decoration: underline

  p
    font-size: 14px
    text-align: center


  // --------------------------------------------------------------------------
  // MODES
  // --------------------------------------------------------------------------

  .mode-login
    .register,
    .auth-name,
    .note-register
      display: none

  .mode-register
    .login,
    .note-login
      display: none

  .ajax
    button::after
      content: " "
      position: absolute
      display: inline-block
      right: -24px
      width: 16px
      height: 16px
      background-image: url(img/loader.gif)
      background-repeat: no-repeat
      background-size: 16px


  // --------------------------------------------------------------------------
  // BUTTONS
  // --------------------------------------------------------------------------

  button
    width: 100%
    border: 0
    background-color: #068dd8
    color: #fff
    font-size: 15px
    line-height: 1
    vertical-align: top
    padding: 10px 0
    position: relative
    text-shadow: 0 -1px 1px #0072BB
    cursor: pointer

    &:active
      box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.25)
      vbg-gradient(#4D90FE, #0072BB)

    &.login
      text-shadow: 0 -1px 1px #1D943B
      background: #35AA47

      &:hover
        background-color: #1D943B

      &:active
        vbg-gradient(#35AA47,#1D943B)

    &:hover
      background-color: #0072BB

  .offline a
    width: 100px
    text-align: center
    font-size: 13px
    display: inline-block
    text-decoration: none
    color: #888
    border: 1px solid #ddd
    padding: 5px 0
    margin-top: 10px

    &:active
      background: #ddd
      color: #666

  // --------------------------------------------------------------------------
  // TEXT INPUTS
  // --------------------------------------------------------------------------

  input
    border-radius: 0
    color: #4c4c4c
    width: 100%
    border: 1px #ccc solid
    outline: 0
    background-repeat: no-repeat
    display: block
    box-sizing: border-box
    -moz-box-sizing: border-box
    padding: 5px 10px 6px

    &:focus
      border-color: #1BC1F5

  .auth-email
    border-bottom: 0
    background-image: url("img/emaillogin.png")
    background-size: 18px
    background-position: 8px 50%
    padding-left:32px

    &:focus
      border-bottom: 1px #1BC1F5 solid

      & + input
        border-top: 0

  .auth-password
    margin-bottom: 15px
    background-image: url("img/password.png")
    background-size: 16px
    background-position: 9px 50%
    padding-left:32px

  .auth-name
    margin-bottom: 15px
    background-image: url("img/user.png")
    background-size: 16px
    background-position: 9px 50%
    padding-left:32px



  // --------------------------------------------------------------------------
  // DEAD CODE
  // --------------------------------------------------------------------------

  // .or
  //   display: inline-block
  //   color: #666
  //   margin: 25px 0

  //   &::before, &::after
  //     content: ""
  //     display: inline-block
  //     height: 1px
  //     position: relative
  //     top: -4px
  //     width: 105px

  //   &::before
  //     hbg-gradient(#fff,#ccc)
  //     border-right: 15px solid #fff

  //   &::after
  //     border-left: 15px solid #fff
  //     hbg-gradient(#ccc,#fff)

  // .service
  //   display: inline-block
  //   height: 50px
  //   margin: 0 5px
  //   width: 50px
  //   border-radius: 4px
  //   box-shadow: 0 1px 0px #CCC
  //   // background: #0f0
  //   background-size: 50px 50px

  //   &.dropbox
  //     background-image: url("img/dropbox.png")

  //   &.ubuntu
  //     background-image: url("img/ubuntuone.png")

  //   &.google
  //     background-image: url("img/googledrive.png")

  //   &.skydrive
  //     background-image: url("img/skydrive.png")


// WEB STUFF.
#web_header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  background: rgba(0,0,0,0.8);
  z-index: 10;

  .inner {
    max-width: 1080px;
    padding: 0 20px;
    position: relative;
    margin: 0 auto;
  }

  h1 {
    color: #fff;
    margin: 0;
    line-height: 50px;
    font-size: 1.8em;
    display: inline-block;
    background-image: url("../img/glyph_dark.png");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 0 50%;
    text-indent: 24px;
  }

  nav {
    position: absolute;
    right: 15px;
    display: inline-block;

    ul {
      margin: 0;
    }

    li {
      margin-left: 1em;
      display: inline-block;
    }
    a {
      line-height: 50px;
      font-weight: bold;
      text-decoration: none;
      color: #fff;
      padding: 0.5em;
    }

    .signin {
      padding: 0 7px;
      color: #FFF;
      background-color: #1570a6;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;

      a {
        line-height: 30px;
      }

      &:hover {
        background-color: #083047;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

#web_top {
  background-image: url(../img/topback.jpg);
  height: 600px;
  text-align: center;
  background-size: cover;
  color: #fff;

  h1 {
    padding-top: 100px;
    font-weight: 300;
    font-size: 4.3em;
    margin: 0;
  }

  h2 {
    font-weight: 300;
  }

  img {
    vertical-align: top;
    margin-top: 5px;
    margin-right: 2px;
  }
}

#web_features {
  max-width: 1080px;
  margin: 0 auto 0;
  padding-top: 25px;
  font-size: 0;
  text-align: center;
  top: -50px;
  position: relative;

  .inner {
    position: relative;
    top: 50px;
  }

  .inner > div {
    font-size: 16px;
    width: 310px;
    display: inline-block;
    padding: 0 25px;
    line-height: 1.5;
    margin-bottom: 25px;
  }
}

#web_apps {
  padding: 50px 0 0;
  background-color: #293137;
  color: #fff;
  font-size: 0;

  .inner {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 25px;
  }

  .left {
    font-size: 16px;
    width: 55%;
    display: inline-block;
    vertical-align: top;
  }

  .right {
    font-size: 16px;
    margin-left: 5%;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    height: 300px;
    background-image: url(../img/iphone.png);
    background-size: 83%;
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  h2 {
    margin-top: 0.7em;
    font-size: 2em;
  }
}
