.auth
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: #fff
  z-index: 100
  // display: none

  .form
    width: 200px
    margin: 100px auto 0
    border: 1px #ccc solid
    padding: 20px

    &.sign-up
      .name,
        display: block
      .message.sign-up
        display: none

    &.login
      .message.login
        display: none
      .name
        display: none

  h1
    text-align: center
    margin: 0 0 20px 0

  label
    display: none

  input
    color: #4c4c4c
    width: 180px
    border: 1px #ccc solid
    margin: 0 0 5px 0
    outline: 0
    padding: 5px 10px 6px

    &:focus
      border-color: #08c

  button
    width: 200px
    height: 30px

  p
    font-size: 14px
    text-align: center

