@import "./mixin"
@import "./normalize"
@import "./print"
@import "./auth"

// ------------------
//     VARIABLES
// ------------------
$task-color = #d9d9d9
$dark-blue = #068dd8
$light-blue = #1BC1F5
$green = #9DD071
$red = #E15556

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(lato.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(lato_bold.woff) format('woff');
}

#feedback
  position: fixed
  display: inline-block
  background: #444
  color: #fff
  z-index:100
  bottom: 0
  left: 0
  font-size: 12px
  text-decoration: none
  padding: 5px 8px
  border-top-right-radius: 2px

  &:hover
    text-decoration: underline
    background: #222
    cursor: pointer

body, input
  font-family: "Lato", sans-serif

// Clear fix
.group:after
  content: ""
  display: table
  clear: both

// --------------------
//     ANIMATIONS
// --------------------

@-webkit-keyframes fade-out
  0%
    background-position-y: -100px
  100%
    background-position-y: 0px

@-moz-keyframes fade-out
  0%
    background-position-y: -100px
  100%
    background-position-y: 0px

@-ms-keyframes fade-out
  0%
    background-position-y: -100px
  100%
    background-position-y: 0px

@keyframes fade-out
  0%
    background-position-y: -100px
  100%
    background-position-y: 0px

@-webkit-keyframes height
  0%
    height: 0
    padding: 0 44px
    border-top: 1px transparent solid
    overflow: hidden
  100%
    height: 40px
    padding: 5 44px
    border-top: 1px inherit solid
    overflow: hidden

@-moz-keyframes height
  0%
    height: 0
    padding: 0 44px
    border-top: 1px transparent solid
    overflow: hidden
  100%
    height: 40px
    padding: 5 44px
    border-top: 1px inherit solid
    overflow: hidden

@-ms-keyframes height
  0%
    height: 0
    padding: 0 44px
    border-top: 1px transparent solid
    overflow: hidden
  100%
    height: 40px
    padding: 5 44px
    border-top: 1px inherit solid
    overflow: hidden

@keyframes height
  0%
    height: 0
    padding: 0 44px
    border-top: 1px transparent solid
    overflow: hidden
  100%
    height: 40px
    padding: 5 44px
    border-top: 1px inherit solid
    overflow: hidden


@-webkit-keyframes rev
  0%
    height: 40px
    padding: 5 44px
    border-top: 1px #E6E6E6 solid
    overflow: hidden
  100%
    height: 0
    padding: 0 44px
    border-top: 1px transparent solid
    overflow: hidden

@-moz-keyframes rev
  0%
    height: 40px
    padding: 5 44px
    border-top: 1px #E6E6E6 solid
    overflow: hidden
  100%
    height: 0
    padding: 0 44px
    border-top: 1px transparent solid
    overflow: hidden

@-ms-keyframes rev
  0%
    height: 40px
    padding: 5 44px
    border-top: 1px #E6E6E6 solid
    overflow: hidden
  100%
    height: 0
    padding: 0 44px
    border-top: 1px transparent solid
    overflow: hidden

@keyframes rev
  0%
    height: 40px
    padding: 5 44px
    border-top: 1px #E6E6E6 solid
    overflow: hidden
  100%
    height: 0
    padding: 0 44px
    border-top: 1px transparent solid
    overflow: hidden
@-webkit-keyframes new-task
  0%
    opacity: 0
    -webkit-transform: scale3d(1.02, 1.1, 1) translate3d(0,0,0)
  100%
    opacity: 1
    -webkit-transform: scale3d(1, 1, 1) translate3d(0,0,0)

@-moz-keyframes new-task
  0%
    opacity: 0
    -moz-transform: scale3d(1.02, 1.1, 1) translate3d(0,0,0)
  100%
    opacity: 1
    -moz-transform: scale3d(1, 1, 1) translate3d(0,0,0)

@-ms-keyframes new-task
  0%
    opacity: 0
    -ms-transform: scale3d(1.02, 1.1, 1) translate3d(0,0,0)
  100%
    opacity: 1
    -ms-transform: scale3d(1, 1, 1) translate3d(0,0,0)

@keyframes new-task
  0%
    opacity: 0
    transform: scale3d(1.02, 1.1, 1) translate3d(0,0,0)
  100%
    opacity: 1
    transform: scale3d(1, 1, 1) translate3d(0,0,0)

p, h1, h2, h3
  cursor: default

img
  -webkit-user-drag: none
  -moz-user-drag: none
  -ms-user-drag: none
  user-drag: none
  user-select(none)

html, body
  height: 100%
  overflow: hidden

// --------------------
//     HEADER
// --------------------

header
  user-select(none)
  abs(0, 0, auto, 0)
  height: 39px
  z-index: 1
  vbg-gradient(#eaeaea, #ccc)
  box-shadow: 0 1px 3px rgba(0,0,0,0.08)
  border-bottom: 1px solid #aaa

  .logo
    height: 40px
    width: 83px
    background-image: url(img/logo.png)
    background-size: 83px 40px
    margin-left: 15px
    display: inline-block

  .user
    float:right
    vertical-align: top
    display: inline-block
    margin-top: 2px
    margin-right: 5px
    padding: 3px 5px 1px 3px
    border: 1px solid transparent
    border-radius: 3px

    &:hover
      vbg-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.1))
      border: 1px solid rgba(0,0,0,0.2)

    &:active
      vbg-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.3))
      border: 1px solid rgba(0,0,0,0.3)
      box-shadow: 0 1px 5px rgba(0,0,0,0.2) inset

    img
      margin-right: 8px
      border-radius: 3px
      box-sizing: border-box
      -moz-box-sizing: border-box
      box-shadow: 0 1px 1px #fff
      border: 1px solid rgba(0,0,0,0.7)
      vertical-align: top
      display: none

    .name
      display: inline-block
      font-size: 13px
      line-height: 30px
      cursor: default
      color: #333
      text-shadow(0px 1px 0px #fafafa)

  .settingsButton
    display: inline-block
    float: right
    vertical-align: top
    margin-right: 10px

    span
      line-height: 40px
      color: #aaa
      text-shadow(0px 1px 0px #fafafa)
      padding-right: 5px

    .img
      vertical-align: top
      margin: 14px 14px 0 5px
      background-image: url("img/settings.png")
      width: 14px
      height: 14px
      display: inline-block
      padding-right: 0
      background-size: 14px

      &:active
        opacity: 0.5

// Retina Logo
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    header .logo {
      background-image: url("img/logo@2x.png");
    }
}

// We're dropping this for the Web Version
.search
  vertical-align: top
  // display: inline-block
  display: none
  position: relative
  // float: right
  height: 24px
  padding: 0 5px 0 25px
  margin: 7px 0 0 18px
  border-radius(4px)
  border: 1px solid #bbb
  box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset
  background: #fff url("img/search.png") no-repeat 7px 5px
  background-size: 15px 15px;

  input
    width: 200px
    border: 0
    height: 18px
    margin: 3px 0 3px 2px
    font-size: 13px
    line-height: 18px
    &:focus
      outline: none

.clear-search
  display: none
  abs(5px, 5px, auto, auto)
  background: url("img/clear-search.png")
  background-size: 14px 14px;
  opacity: 0.6
  width: 14px
  height: 14px
  transition(0.2s, opacity)
  &:hover
    opacity: 1


// --------------------
//     MAIN SECTION
// --------------------

.no-cssscrollbar .main {
  overflow-y: auto
}

.main
  abs(40px, 293px, 0, 0)
  padding: 0 13px 40px 30px
  overflow-y: scroll
  -webkit-tap-highlight-color: rgba(0,0,0,0)

  &.show::-webkit-scrollbar-thumb
      background: rgba(0,0,0,0.2);

  &::-webkit-scrollbar
    width: 8px

  &::-webkit-scrollbar-thumb
      background: transparent;
      border-radius: 10px;
      -webkit-transition: 300ms ease background;
      // border-top: 15px solid #fff
      // border-bottom: 15px solid #fff

      &:active:hover
        background: rgba(0,0,0,0.4)

      &:hover
        background: rgba(0,0,0,0.2);



  .title
    border-bottom: 2px $light-blue solid
    position: relative
    height: 70px
    margin: 0 0 20px

    h1
      font-size: 26px
      padding: 0
      color: $dark-blue
      margin: 0
      abs(auto, auto, 5px, 0)
      border: 1px transparent solid
      cursor: default
      transition(0.2s, border-color)
      outline: 0

      &[contenteditable=true]:hover
        border-color: #999
        cursor: text

      &[contenteditable=true]:focus
        border-color: #999

.buttons
  abs(auto, 0, 10px, auto)
  font-size: 0
  text-align: right;

  li
    display: inline-block
    list-style-type: none
    margin-left: 10px

  a
    display: block
    height: 17px
    width: 16px
    background-repeat: no-repeat

// List title
.title
  .trash
    background-image: url("img/sprite_list.png")
    background-position: -16px 0;

  .email
    background-image: url("img/sprite_list.png")

  .print
    background-image: url("img/sprite_list.png")
    background-position: -48px 0;

  .share
    background-image: url("img/share.png")

  .sort
    background-image: url("img/sprite_list.png")
    background-position: -32px 0;



// The 'Add a task' input box
.new-task
  width: 100%
  box-sizing: border-box
  -moz-box-sizing: border-box
  border: 1px #E6E6E6 solid
  height: 28px
  padding: 0 0 0 10px
  line-height: 18px
  font-size: 14px
  color: hsl(0,0,30%)
  transition(border-color 0.3s)
  -webkit-appearance: none
  border-radius: 0

  &:focus
    outline: none
    border-color: #1bc1f5

  &::input-placeholder
    color: hsl(0,0,60%)

  &::-webkit-input-placeholder
    color: hsl(0,0,60%)

  &::-moz-placeholder
    color: hsl(0,0,60%)


ul.tasks
  width: 100%
  margin: 0
  padding: 0
  margin-top: 20px
  -webkit-tap-highlight-color: rgba(0,0,0,0)

.message
  display: none
  text-align: center
  padding-top: 80 px
  color: #888
  font-size: 18px
  user-select(none)
  background: url(img/notasks.png) no-repeat 50%
  background-size: 48px 30px

.empty
  .message
    display: block

.group
  margin-bottom: 20px
  & + .task
    border-top: 1px $task-color solid

.seperator
  list-style-type: none
  height: 20px

  &+ li
    border-top: 1px $task-color solid

.task
  display: block
  list-style-type: none
  border: 1px $task-color solid
  position: relative
  font-size: 14px
  color: #4c4c4c
  line-height: 28px
  cursor: default
  border-top: 0
  transition(.15s, ease, margin)
  -webkit-transform: translate3d(0,0,0)
  -webkit-tap-highlight-color: rgba(0,0,0,0)

  &.new
    -webkit-transform: none
    -webkit-animation: new-task 1 ease 150ms
    -moz-animation: new-task 1 ease 150ms
    -ms-animation: new-task 1 ease 150ms
    animation: new-task 1 ease 150ms


  &:first-child
    border-top: 1px solid $task-color

  // Vertical Stripes
  &:before
    content: ""
    display: block
    border-left: 1px solid #E6E6E6
    border-right: 1px solid #E6E6E6
    width: 2px

  &:before
    abs(0, auto, 0, 31px)

  &.p3 .priority
    border-left: 4px solid $red

  &.p2 .priority
    border-left: 4px solid $green

  &.p1 .priority
    border-left: 4px solid $light-blue

  // Priority
  .priority
    abs(-1px, auto, -1px, -1px)
    width: 0
    transition(150ms, border, ease)

  .tag
    color: $dark-blue
    cursor: pointer
    transition(150ms, color, ease)

    &:hover
      text-decoration: underline

  // Checkbox
  .checkbox
    display: inline-block
    position: relative
    margin: 0 0 0 4px
    width: 28px
    height: 28px
    // Not sure why, but there is a large space underneath
    margin-bottom: -9px


    &:before
      display: block
      content: ""
      top: 8px
      left: 7px
      position: absolute
      border: 1px #D9D9D9 solid
      height: 10px
      width: 10px


  // Task Name
  .name
    line-height: 18px
    abs(6px, 0, auto, 44px)
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    cursor: default
    transition(150ms, color, ease)

  .input-name
    color: #4c4c4c
    abs(6px, 0, auto, 44px)
    transition(0.2s, background)
    display: none
    border: none
    outline: none
    padding: 0

  // Buttons
  .right-controls

    abs(0, 0, auto, auto)
    text-align: right
    font-size: 0

  // Trash Can
  .delete
    display: none
    background: url("img/trashcan_grey.png") 50% 50% no-repeat
    width: 25px
    height: 29px
    padding: 0 5px
    opacity: 0.4
    transition(0.2s, opacity)

    &:hover
      opacity: 0.8

  .priority-button
    display: none
    padding: 0 10px
    height: 29px
    vertical-align: top
    border-left: 1px solid $task-color
    border-right: 1px solid $task-color

    .low, .medium, .high
      display: inline-block
      margin: 9px 2px 0
      width: 9px
      height: 9px
      border: 1px solid rgba(#000, 0.2)
      transition(0.1s, border)

      &:hover
        border: 1px solid rgba(#000, 0.5)

    .low
      background: $light-blue

    .medium
      background: $green

    .high
      background: $red

  // Date
  //This is so it shows up in the print styles
  img
    vertical-align: top
    padding: 9px 0
    display: none

  time
    font-size: 13px
    padding: 0 10px
    color: #999

    &.soon
      color: $dark-blue

    &.overdue, &.due
      color: $red

  .listName
    font-size: 13px;
    padding-right: 10px;
    color: #777;
    opacity: 0.8
    background: url("img/all_light.png") no-repeat 5px 50%;
    background-size: 12px 11px;
    padding-left: 25px;

  .date
    height: 28px
    line-height: 20px
    display: none
    vertical-align: top
    font-size: 13px
    color: #999
    padding: 0 5px 0 7px
    background: #fff
    border: 0
    outline: 0
    width: 80px

  &.animout
    .notes
      -webkit-animation: 0.15s ease rev 1
      -moz-animation: 0.15s ease rev 1
      -ms-animation: 0.15s ease rev 1
      animation: 0.15s ease rev 1

  // Show the notes
  .notes
    background: #FAFAFA
    line-height: 21px
    outline: none
    height: 0
    padding: 0 5px 0 44px
    overflow:hidden

    &::-webkit-scrollbar-track
      margin: 10px 0

    &::-webkit-scrollbar
      width: 0

    &.placeholder
      color: hsl(0,0,40%)

  // Expanded Task
  &.expanded
    border-top: 1px solid $task-color
    &.group
      margin-bottom: 20px
    &+ li
      border-top: 1px solid $task-color

      &.seperator
        border-top: 0

    // Add some spacing around the task
    margin: 5px 0

    // Show right buttons
    .date, .delete, .priority-button, img
      display: inline-block

    // Hide List Name
    .name, time, .listName
      display: none

    .input-name
      display: inline-block
      cursor: text
      right: 214px

    .notes
      cursor: text
      display: block
      //min-height: 40px
      height: 40px
      padding: 5px 5px 5px 44px
      border-top: 1px #E6E6E6 solid
      -webkit-animation: 0.15s ease height 1
      -moz-animation: 0.15s ease height 1
      -ms-animation: 0.15s ease height 1
      animation: 0.15s ease height 1
      overflow: auto
      max-height: 200px

      &.auto
        height: auto

        &::-webkit-scrollbar
          width: 7px

      .inner
        min-height: 40px
        width: 100%
        outline: 0

  // Completed Task
  &.completed

    // Add Tick to Checkbox
    .checkbox:after
      content: ""
      display: block
      position: absolute
      top: 9px
      left: 8px
      width: 10px
      height: 10px
      background: url("img/checkmark.png") no-repeat

    .priority
      border-left: 4px solid #ccc

    // Strikethrough task name
    .name
      // text-decoration: line-through
      color: hsl(0,0,60%)

      // Change tag Color
      .tag
        color: hsl(0,0,60%)

    // Hide Due Date
    img, time
      display: none !important


.ui-sortable-placeholder
  height: 28px !important
  background-color: transparent
  visibility: visible !important
  border-left: 0
  border-right: 0

  &:first-child
    border-top: 0

  &:last-child
    border-bottom: 0

  &::before
    border: 0

// --------------------
//     SETTINGS
// --------------------

.modal
  display: none
  font-size: 14px
  color: hsl(0,0,30%)
  width: 100%
  height: 100%
  background-color: rgba(255,255,255,0.7)
  opacity: 0
  z-index: 10
  position: absolute
  -webkit-transform: translate3d(0, 0, 0)
  transition(.3s, opacity, ease)
  user-select(none)
  -webkit-tap-highlight-color: rgba(0,0,0,0)

  label
    color: #222
    font-size: 15px
    width: 265px
    display: inline-block
    text-align: right
    padding-right: 10px

  select
    font-size: 16px

  button
    font-size: 13px

  a
    color: $dark-blue
    text-decoration: none

    &:hover
      text-decoration: underline

  hr
    border: 0
    border-top: 1px dashed #ddd

  .tabs
    ul
      list-style-type: none
      margin: 0
      padding: 0
      font-size: 0
      border-bottom: 3px solid $green
    li
      display: inline-block
      line-height: 30px
      font-size: 15px
      padding: 0 15px
      font-weight: bold
      color: #666;
      cursor: default
      background-color: #fff

      &:active
        background-color: lighten($green, 75%)

      &.current
        background-color: $green
        text-shadow: 0 -1px 0 darken($green, 30%)
        color: #fff

  table
    width: 100%
    font-size: 15px
    line-height: 1.4
    thead
      font-weight: bold
      font-size: 18px

      // Too lazy to do it properly
      tr:last-child
        color: #444
        border-bottom: 1px solid #ccc

    tr
      border-bottom: 1px dotted #ccc
      color: #666


      &:last-child
        border: 0

    a

      // The tabs uses .current... again, I'm lazy
      &.selected
          color: #555
          font-weight: bold

    td
      padding: 5px 10px 5px 0

      &:nth-child(2)
        padding-right: 25px

  button.special, a.special
    display: inline-block
    text-decoration: none
    border: 2px solid #555
    background: #fff
    font-size: 16px
    color: #222
    margin-top: 15px
    padding: 8px 15px
    font-family: "Lato", sans-serif
    cursor: default

    &:active
      background: #555
      color: #fff

  & > div
    abs(15%, auto, auto, 50%)
    transition(.3s, -webkit-transform, ease)
    -webkit-transform: scale(0.75) translate3d(0, 0, 0)
    background: #fff
    font-size: 16px

  .delete-container
    width: 400px
    margin-left: -228px
    border: 3px solid $red
    padding: 25px
    text-align: center
    font-size: 16px
    color: #222

    span
      display: inline-block
      margin: 5px 0

    button.special
      border: 2px solid $red

      &:active
        background: $red

  .tour-container
    width: 650px
    height: 354px
    padding: 25px
    margin-left: -353px
    border: 3px solid $dark-blue
    text-align: right

    .image
      width: 650px
      height: 300px
      background-image: url(img/tour.png)
      transition(.3s, background-position, ease)

    button
      border: 2px solid $dark-blue

      &:active
        background: $dark-blue

  .settings-container
    width: 600px
    margin-left: -303px
    border: 3px solid $green

    & > div
      padding: 35px 25px 30px
      display: none

      &.language
        padding: 25px 35px

      &.current
        display: block

  .share-container
    width: 550px
    padding: 25px
    margin-left: -300px
    border: 3px solid $dark-blue

  .export-container
    width: 450px
    padding: 25px
    margin-left: -250px
    border: 3px solid $dark-blue
    color: #333

    textarea
      min-height: 100px
      margin: 20px 0 5px
      width: 100%
      box-sizing: border-box
      -moz-box-sizing: border-box
      color: #444
      font-family: 'Source Code Pro', 'Consolas', monospace
      font-size: 11px
      resize: vertical

    .btncontainer
      text-align: center
      button
        background: #fff
        border: 2px solid $dark-blue

        &:active
          background: $dark-blue
          color: #fff

  .email-container
    width: 300px
    margin-left: -178px
    border: 3px solid $light-blue
    padding: 25px

    span.struct
      display: inline-block
      margin-bottom: 15px
      color: #444

    .tip
      display: inline-block
      margin: 15px 0 0
      font-size: 13px
      color: #666

    input
      width: 212px
      border: 2px solid $light-blue
      padding: 5px 8px
      outline: none

    button
      color: #444
      font-size: 14px
      line-height: 19px
      vertical-align: top
      padding: 5px 8px
      width: 65px
      background: #fff
      border: 2px solid $light-blue

      &:active
        background: $light-blue
        color: #fff


  .settings-container > .account
    padding-top: 25px
    .special
      margin-top: 15px
      margin-left: 0
      border: 2px solid $dark-blue

      &:active
        background-color: $dark-blue

    .signedin
      display: none

    label
      width: 140px

    .center
      text-align: center

    button
      margin-left: 5px

    input
      box-shadow: none
      padding: 2px 5px
      margin-bottom: 5px

    span
      display: inline-block
      font-size: 14px
      vertical-align: top
      width: 410px
      margin-top: 16px
      margin-left: 20px

  .pro, .proventor-container
    text-align: center
    h2
      font-size: 32px
      margin: 15px 0
    p
      font-size: 16px
      max-width: 400px
      line-height: 1.5
      margin: 0 auto 5px
      color: #444

    .special
      width: 120px
      border: 2px solid $dark-blue

      &:active
        background: $dark-blue

  .proventor-container
    border: 3px solid $dark-blue
    width: 500px
    padding: 25px
    margin-left: -275px

  .disabled
    color: #888

  &.show
    opacity: 1
    & > div
      -webkit-transform: scale(1) translate3d(0, 0, 0)

  .about
    text-align: center
    img
      border-radius: 20px
      box-shadow: 0 1px 3px rgba(0,0,0,0.5)
    h2
      font-size: 26px
    a
      text-decoration: none

    .grey
      margin-top: 25px
      color: #888
      font-size: 13px


// --------------------
//     SIDEBAR
// --------------------

.sidebar
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  abs(40px, 0, 0px, auto)
  width: 250px
  padding-right: 30px
  overflow-x: hidden
  overflow-y: auto

  // Sidebar title
  .title
    height: 70px
    border-bottom: 2px $light-blue solid
    position: relative
    margin: 0

    h2
      color: $dark-blue
      font-size: 20px
      display: block
      abs(auto, auto, 6px, 15px)
      margin: 0

    img
      abs(auto, 15px, 9px, auto)

    input
      background: url(img/search_blue.png) no-repeat
      padding-left: 22px
      background-position: 0 50%
      background-size: 15px
      border: 0
      outline: 0
      abs(auto, auto, 6px, 15px)

    .completed
      bottom: 10px
      opacity: 0.7

      &:active
        opacity: 1

    div
      transition(300ms, ease, opacity)

    .hide
      opacity: 0

  // Lists
  ul.lists
    margin: 0
    padding: 0
    font-size: 0

  .list
    user-select(none)
    position: relative
    list-style-type: none
    overflow: hidden
    font-size: 15px
    color: #4c4c4c
    height: 40px
    line-height: 40px
    border-top: 1px #E6E6E6 solid
    -webkit-transform: translate3d(0px,0px,0px)
    cursor: default

    &.inbox, &.all, &.completed
      transition(background, 0.1s, ease)

      .name
        margin-left: 25px

      &.current
        background-position: 32px 15px

    // Add Inbox Icon
    &.inbox
      background: url("img/inbox.png") no-repeat 15px 15px
      border-top: 0
      background-size: 12px 12px;

      &.ui-state-active
        background: url("img/inbox.png") no-repeat 15px 15px, #fafafa

        &.current
          background-position: 32px 15px

    // Add All Tasks Icon
    &.all
      background: url("img/all.png") no-repeat 15px 14px
      background-size: 12px 11px;

      &.current
        background-position: 32px 14px

    &.completed
      background: url("img/completed.png") no-repeat 15px 15px
      background-size: 13px 10px;


    // List Name
    .name
      display: inline-block
      margin-left: 5px
      text-overflow: ellipsis
      width: 150px
      white-space: nowrap
      overflow: hidden
      abs(auto, 45px, auto, 10px)

      // George's mixins suck.
      -webkit-transition: -webkit-transform 0.1s ease
      -moz-transition: -moz-transform 0.1s ease
      -ms-transition: -ms-transform 0.1s ea se
      transition: transform 0.1s ease

    .arrow
      display: inline-block
      margin-top: 10px
      width: 7px
      height: 10px
      position: relative
      left: 15px

    // Number of Tasks
    .count
      display: inline-block
      float: right
      margin-right: 15px

    // Currently Selected Task
    &.current
      font-weight: bold

      .name
        -webkit-transform: translate3d(20px,0px,0px)
        -moz-transform: translate3d(20px,0px,0px)
        -ms-transform: translate3d(20px,0px,0px)
        transform: translate3d(20px,0px,0px)

      .arrow
        background: url("img/arrow-left-fade.png") no-repeat
        -webkit-animation: 200ms steps(10, end) fade-out 1
        -moz-animation: 200ms steps(10, end) fade-out 1
        -ms-animation: 200ms steps(10, end) fade-out 1
        animation: 200ms steps(10, end) fade-out 1


    // jQuery UI Hover state
    &.ui-state-active
      background: #fafafa

  .new-list
    -webkit-appearance: none
    border-radius: 0
    width: 100%
    box-sizing: border-box
    -moz-box-sizing: border-box
    border: 0
    border-top: 1px #E6E6E6 solid
    height: 40px
    padding: 0 0 0 15px
    font-size: 15px
    color: hsl(0,0,30%)
    transition(border-color 0.3s)
    &:focus
      outline: none
      font-style: normal

    &::input-placeholder
      color: hsl(0,0,60%)

    &::-webkit-input-placeholder
      color: hsl(0,0,60%)

    &::-moz-placeholder
      color: hsl(0,0,60%)

.helper
  display: inline-block
  min-height: 27px
  min-width: 80px
  line-height: 27px
  padding: 5px 10px
  background: rgba(#fff, 0.9)
  border: 1px solid #ddd
  font-size: 15px
  cursor: default
  overflow: hidden
  width: auto !important

// Dark Theme
$dark-border = #272727

.dark
  body
    background: #333333

  .main .title h1, .sidebar .title h2
    color: lighten($light-blue, 10%)

  header
    vbg-gradient(#333, #111)
    border-bottom: 1px solid #000

    .logo
      background-image: url(img/logo_light.png)

    .settingsButton .img
      background-image: url("img/settings_light.png")

    .user

      &:hover
        vbg-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.05))
        border: 1px solid #111

      &:active
        vbg-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.3))
        border: 1px solid #000

      .name
        color: #fff
        text-shadow: 0px 1px 0px #000

  .search
    background: #333 url("img/search_light.png") no-repeat 7px 5px
    border: 1px solid #111
    background-size: 15px 15px;

    input
      background: #333
      color: #fff

  .clear-search
    background: url("img/clear-search_light.png")
    background-size: 14px 14px;

  .new-task
    background: #2a2a2a
    border: 1px solid #222
    color: #fff

  .group + .task
    border-top: 1px solid $dark-border

  .task
    border: 1px solid $dark-border
    border-top: 0
    color: #fff

    &:first-child
      border-top: 1px solid $dark-border

    &::before
      border-left: 1px solid $dark-border
      border-right: 1px solid $dark-border

    &.completed .name
      color: #666

    .notes
      background: #2a2a2a

    .priority-button
      border-left: 1px solid $dark-border
      border-right: 1px solid $dark-border

    .date
      background: #333
      color: #fff

    .checkbox
      &::before
        border: 1px solid #222

    &.expanded, &.expanded .notes, &.expanded + li
      border-top: 1px solid $dark-border

    .input-name
      // Or else we don't get a blinky cursor
      color: #fff
      background: #333

  .sidebar
    .list
      color: #fff
      border-top: 1px solid #444

      &.current .arrow
        background-image: url("img/arrow-left-fade_light.png")

      &.inbox
        background-image: url("img/inbox_light.png")

      &.all
        background-image: url('img/all_light.png')

      &.completed
        background-image: url('img/completed_light.png')

    .new-list
      background: #333
      color: #fff
      border-top: 1px solid #444

  .modal
    background-color: rgba(0,0,0,0.4)

.pro-badge
  display: inline-block
  background: #444
  font-size: 12px
  padding: 3px 5px 2px
  border-radius: 3px
  margin-left: 10px
  line-height: 1
  text-transform: uppercase
  color: #fff

  &.opp
    display: none

.proenable .pro-badge
  display: none

  &.opp
    display: inline-block

// Just a thankyou
.ispro
  display: none
.proenable
  .ispro
    display: block
  .notpro
    display: none

// Retina Logo
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .dark header .logo {
      background-image: url("img/logo_light@2x.png");
    }
}

@media screen and (max-width: 600px)
  aside.sidebar
    display: none

  .main
    right: 0

// jQuery UI
@import "./jqueryui"
