/* Metro Theme Author: Michael Martin-Smucker */
body { background: #fff; }

html, button, input, select, textarea { font-family: "Segoe UI", "Open Sans", sans-serif; }

.panel { background: #eee; border: 0; box-shadow: none; color: #000; height: 58px; }
.panel button { background: none; }

.vsplitbar { background-image: -webkit-linear-gradient(white 10%, #cccccc, white 90%); background-clip: content-box; border: 0; box-shadow: none; opacity: 0; padding: 0 3px; -webkit-transition: opacity 300ms; top: 58px; width: 7px; z-index: auto; }
.vsplitbar:hover { opacity: 1; -webkit-transition: 0; }

#sidebar { display: block; overflow-y: auto; padding-top: 58px; text-transform: lowercase; z-index: auto; }
#sidebar .panel { display: none; }
#sidebar h2 { border: 0; color: #222; font-size: 25px; font-weight: normal; height: auto; line-height: 25px; padding: 16px 0 8px 15px; text-transform: lowercase; }
#sidebar ul li { color: #666; font-size: 15px; padding-left: 35px; }
#sidebar ul li input { background: #f4f4f4; border: 1px solid #ddd; cursor: text; font-size: 13px; height: 16px; outline: 0; padding: 3px 4px; }
#sidebar ul li.selected { background: none; border: 0; color: #00aadd; }
#sidebar ul li.selected .edit, #sidebar ul li.selected .delete { opacity: 0.5; }
#sidebar ul li.selected .edit:hover, #sidebar ul li.selected .delete:hover { opacity: 1; }
#sidebar ul li.selected .edit { background-position: 0 -103px; opacity: 0.5; }
#sidebar ul li.selected .edit.open { background-position: 0 179px; }
#sidebar ul li.selected .delete { background-position: 1px -81px; opacity: 0.5; }
#sidebar ul li .edit, #sidebar ul li .delete { margin-top: 5px; }
#sidebar ul li .edit { background-position: 0 -103px; }
#sidebar ul li .edit.open { background-position: 0 179px; }
#sidebar ul li .delete { background-position: 1px -81px; }
#sidebar #lists { overflow: visible; }
#sidebar .listAddBTN { border: 1px solid transparent; color: #aaa; cursor: text; font-style: italic; font-weight: normal; line-height: 16px; margin: 3px 5px 0 30px; padding: 3px 4px; }
#sidebar .listAddBTN:hover { border-color: #ddd; color: #888; }

#tasks { padding-top: 58px; }
#tasks .panel { left: 0; position: fixed; top: 0; }
#tasks .panel .left button { background-position: center -6px; background-repeat: no-repeat; font-size: 15px; line-height: 19px; min-width: 62px; padding: 36px 10px 5px; text-align: center; text-transform: lowercase; -webkit-transition: background-color 120ms linear; }
#tasks .panel .left button:hover { background-color: #fff; }
#tasks .panel .left button.add { background-image: url("themes/metro/add.png"); color: #55bb22; }
#tasks .panel .left button.delete { background-image: url("themes/metro/cancel.png"); color: #ee3333; }
#tasks .panel .left button.sort { background-image: url("themes/metro/sort.png"); color: #00aadd; }
#tasks .panel .left span.open ul { background: #999; color: #fff; margin-top: 10px; }
#tasks .panel .left span.open ul:before { border: 10px solid transparent; border-bottom-color: #999; content: ""; left: 10px; position: absolute; top: -20px; }
#tasks .panel .left span.open ul li { width: 72px; }
#tasks .panel .left span.open ul li.current { background: rgba(0, 0, 0, 0.3); box-shadow: none; }
#tasks .panel .right { margin-top: 16px; }
#tasks .panel .right button { height: 20px; line-height: 20px; margin: 4px 5px; opacity: 0.65; padding: 0; -webkit-transition: opacity 200ms; }
#tasks .panel .right button:hover { opacity: 1; -webkit-transition: opacity 100ms; }
#tasks .panel .right button.runSync { background: url("themes/metro/sync.png") no-repeat 0 0; width: 24px; }
#tasks .panel .right button.runSync.running { background-position: 0 -20px; }
#tasks .panel .right button.settingsbtn { background: url("themes/metro/settings.png") no-repeat 0 0; width: 24px; }
#tasks .panel .right input { background: white url("themes/metro/search.png") no-repeat right center; background-color: rgba(255, 255, 255, 0.9); border: 0; margin: 0 0 0 4px; padding-right: 25px; -webkit-transition: 200ms ease width; width: 140px; }
#tasks .panel .right input:focus { border: 0; outline: 0; width: 250px; }
#tasks .tasksContent { text-align: left; }
#tasks .tasksContent h2 { display: inline-block; font-size: 25px; font-weight: normal; line-height: 25px; margin: 0; padding: 16px 20px 8px 16px; text-transform: capitalize; }
#tasks .tasksContent .button { border: 0; border-radius: 0; }
#tasks .tasksContent .button#updateLogbook { color: #fff; float: right; margin: 16px 20px; background: #8866bb; border: 1px solid #7a54b3; }
#tasks .tasksContent .button#updateLogbook:hover { background: #9678c3; border-color: #8866bb; }
#tasks .tasksContent .noTasks { color: #888; }
#tasks .tasksContent ul li { background: rgba(255, 255, 255, 0.95); border-color: #eee; border-left: 0; clear: both; padding: 4px 0 4px 4px; }
#tasks .tasksContent ul li.selected { background: #ddf7ff; }
#tasks .tasksContent ul li.expanded { margin: 15px 0; }
#tasks .tasksContent ul li.checked .checkbox { position: static; }
#tasks .tasksContent ul li.checked .checkbox:after { left: auto; top: 5px; }
#tasks .tasksContent ul li.checked .content { color: #888; text-decoration: line-through; }
#tasks .tasksContent ul li.checked.logbook .content { color: #111; text-decoration: none; }
#tasks .tasksContent ul li .boxhelp { padding-right: 4px; }
#tasks .tasksContent ul li .checkbox { background-color: rgba(255, 255, 255, 0.95); border-color: rgba(0, 0, 0, 0.2); box-sizing: border-box; margin-top: 9px; }
#tasks .tasksContent ul li .checkbox:hover { border-color: rgba(0, 0, 0, 0.3); }
#tasks .tasksContent ul li .checkbox:before { background: #ddd; content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 4px; }
#tasks .tasksContent ul li .checkbox.low:before { background: #00aadd; }
#tasks .tasksContent ul li .checkbox.medium:before { background: #ffbb44; }
#tasks .tasksContent ul li .checkbox.high:before { background: #ee3333; }
#tasks .tasksContent ul li .content { font-size: 15px; padding: 0 10px 0 4px; }
#tasks .tasksContent ul li .notes { background: url("themes/metro/note.png") no-repeat; height: 16px; margin-top: 8px; width: 16px; }
#tasks .tasksContent ul li .tag { color: #999; cursor: pointer; font-style: italic; margin: 0 6px; padding: 0; }
#tasks .tasksContent ul li .tag:before { content: "#"; }
#tasks .tasksContent ul li .label, #tasks .tasksContent ul li button.priority { background: #00aadd; border: 0; color: #fff; font-size: 12px; height: 22px; line-height: 22px; margin-left: 20px; margin-top: 4px; position: relative; text-transform: capitalize; }
#tasks .tasksContent ul li .label:before, #tasks .tasksContent ul li button.priority:before { border: 11px solid transparent; border-right-color: #00aadd; content: ""; left: -22px; position: absolute; top: 0; }
#tasks .tasksContent ul li .label:after, #tasks .tasksContent ul li button.priority:after { border: 2px solid #fff; border-radius: 50%; content: ""; left: -2px; position: absolute; top: 9px; }
#tasks .tasksContent ul li .label.overdue { background: #ee3333; }
#tasks .tasksContent ul li .label.overdue:before { border-right-color: #ee3333; }
#tasks .tasksContent ul li .label.due { background: #55bb22; }
#tasks .tasksContent ul li .label.due:before { border-right-color: #55bb22; }
#tasks .tasksContent ul li .label.list { background: #8866bb; }
#tasks .tasksContent ul li .label.list:before { border-right-color: #8866bb; }
#tasks .tasksContent ul li button.priority.none { background: #999999; }
#tasks .tasksContent ul li button.priority.none:before { border-right-color: #999999; }
#tasks .tasksContent ul li button.priority.low { background: #00aadd; }
#tasks .tasksContent ul li button.priority.low:before { border-right-color: #00aadd; }
#tasks .tasksContent ul li button.priority.medium { background: #ffbb44; }
#tasks .tasksContent ul li button.priority.medium:before { border-right-color: #ffbb44; }
#tasks .tasksContent ul li button.priority.high { background: #ee3333; }
#tasks .tasksContent ul li button.priority.high:before { border-right-color: #ee3333; }
#tasks .tasksContent ul li button.none, #tasks .tasksContent ul li button.low, #tasks .tasksContent ul li button.medium, #tasks .tasksContent ul li button.high, #tasks .tasksContent ul li input.date, #tasks .tasksContent ul li input.tags, #tasks .tasksContent ul li button.date, #tasks .tasksContent ul li div.tag { border: 0; }
#tasks .tasksContent ul li .hidden textarea { background: #fafafa url("themes/metro/note.png") no-repeat 8px 8px; border-top-color: #ddd; color: #444; }

.ui-sortable-helper.tasks { background: #8866bb; }

.modal h3 { background: #eee; border: 0; font-weight: normal; font-size: 28px; padding: 2px 12px; text-align: left; }
.modal p { margin: 12px 16px; text-align: left; }
.modal .button-container button { color: #fff; height: auto; margin: 0 8px; text-transform: capitalize; }
.modal .button-container button.yes { background: #55bb22; border: 1px solid #4ba51e; }
.modal .button-container button.yes:hover { background: #5fd126; border-color: #55bb22; }
.modal .button-container button.no { background: #ee3333; border: 1px solid #ec1b1b; }
.modal .button-container button.no:hover { background: #f04b4b; border-color: #ee3333; }

.datepicker { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.datepicker.dropdown-menu { font-family: "Segoe UI", "Open Sans", sans-serif; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.datepicker thead tr:first-child th.switch { font-size: 18px; font-weight: normal; }
.datepicker thead tr:first-child .prev, .datepicker thead tr:first-child .next { opacity: 0.7; }
.datepicker thead tr:first-child .prev:after, .datepicker thead tr:first-child .next:after { background-image: url("themes/metro/arrows.png"); background-repeat: no-repeat; content: ""; display: block; height: 20px; width: 20px; }
.datepicker thead tr:first-child .prev:after { background-position: 50% 0; }
.datepicker thead tr:first-child .next:after { background-position: 50% -20px; }
.datepicker td, .datepicker th { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active.disabled:hover, .datepicker td.active.disabled:hover:hover, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.disabled:active, .datepicker td.active.disabled:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled.active, .datepicker td.active.disabled:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active.disabled.disabled, .datepicker td.active.disabled:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled], .datepicker td.active.disabled[disabled], .datepicker td.active.disabled:hover[disabled] { background: #00aadd; text-shadow: none; }
