@media print {
  header.group, aside.sidebar, .main .tasks-container input.new-task {
    display: none !important;
  }
  section.main {
    position: static;
    padding: 0;
    .title {
      height: 50px;
    }
    .tasks-container ul.tasks li.task {
      &:last-child {
        margin-bottom: 0;
      }
    }
    &::after {
      content: "Created with nitrotasks.com";
      font-size: 11px;
      color: #666666;
      position: relative;
      padding-top: 10px;
      display: block;
      text-align: right;
    }
  }
}
