/* HTML5 Boilerplate  */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: transparent; }

::selection { background: transparent; }

a { color: #00e; }

a:visited { color: #551a8b; }

a:hover { color: #06e; }

a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }

dd { margin: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

html, body { height: 100%; width: 100%; }

#content { position: absolute; top: 0; left: 0; height: 100%; width: 100%; overflow: hidden; }

#sidebar { height: 100%; position: absolute; z-index: 2; box-sizing: border-box; min-width: 115px; width: 200px; max-width: 500px; }
#sidebar h2 { margin: 0; padding: 5px 15px 5px 15px; font-size: 13px; text-transform: uppercase; border-top: 1px solid #000; border-bottom: 1px solid #000; }
#sidebar h2 button { background: transparent; float: right; border-top: 1px solid transparent; border-bottom: 1px solid transparent; border-left: 0; border-right: 0; padding: 0; font-weight: bold; }
#sidebar h2.collapsed { border-bottom: none; }
#sidebar #lists ul { overflow-y: auto; }
#sidebar ul { margin: 0; padding: 0; }
#sidebar ul li { display: box; display: -webkit-box; display: -moz-box; height: 30px; box-sizing: border-box; line-height: 30px; font-weight: normal; font-size: 13px; color: #444444; padding: 0 0 0 15px; cursor: pointer; position: relative; width: 100% !important; }
#sidebar ul li .count { display: inline-block; width: 50px; height: 32px; text-align: center; }
#sidebar ul li .name { display: block; height: 32px; box-flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#sidebar ul li input { display: block; height: 32px; background: #fff; padding: 0; margin: 0 0 0 -1px; border: 0; outline: 1px solid #000; box-flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; }
#sidebar ul li input:focus { outline: 1px solid #000; outline-offset: 0; }
#sidebar ul li.selected { background: #eee; outline: 1px solid #000; }
#sidebar ul li.dragHover { background: #ccc; }
#sidebar ul li .delete, #sidebar ul li .edit { display: none; }

#lists li.selected:hover .delete, #lists li.selected:hover .edit { display: block; }

.panel { height: 41px; width: 100%; font-size: 13px; background: #fff; z-index: 4; position: relative; border-bottom: 1px solid #000; padding: 0 20px 0 16px; box-sizing: border-box; }
.panel .left { float: left; }
.panel .right { float: right; }
.panel .right input { border: 1px solid #000; font-size: 13px; padding: 5px 5px; margin: 7px 0; vertical-align: top; }
.panel button { background: #fff; border: 0; padding: 0 15px; line-height: 40px; }

#tasks { position: absolute; top: 0; bottom: 0; right: 0; left: 0; height: 100%; z-index: 1; box-sizing: border-box; background-image: #ffffff; background-image: -webkit-radial-gradient(50% 50%, ellipse closest-side, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%); }
#tasks .tasksContent { overflow-y: auto; }
#tasks .tasksContent h2 { text-align: center; font-size: 20px; }
#tasks .tasksContent ul { padding: 0 20px 40px 16px; margin: 0; }
#tasks .tasksContent ul li { display: block; min-height: 30px; height: 30px; margin-top: -1px; cursor: pointer; overflow: hidden; padding: 0; position: relative; z-index: 2; background: #fff; border: 1px solid #000; font-size: 13px; line-height: 30px; color: #111; -webkit-transform: translateZ(0); -webkit-transition-property: margin, height; -webkit-transition-duration: 150ms, 150ms; -webkit-transition-timing-function: ease, ease; }
#tasks .tasksContent ul li.placeholder { background: rgba(0, 0, 0, 0.1); box-shadow: 0 0 0 #000; }
#tasks .tasksContent ul li .boxhelp { display: -webkit-box; display: -moz-box; display: box; }
#tasks .tasksContent ul li .checkbox { margin: 8px; width: 13px; height: 13px; border: 1px solid #000; }
#tasks .tasksContent ul li .checkbox.checked { position: relative; border-color: transparent !important; background: none !important; }
#tasks .tasksContent ul li .checkbox.checked:after { display: block; position: absolute; content: url(img/logged.png); top: -6px; left: -1px; }
#tasks .tasksContent ul li .extra { margin-right: 20px; }
#tasks .tasksContent ul li input { border: 0; line-height: 1; box-shadow: none; background: transparent; box-sizing: border-box; }
#tasks .tasksContent ul li input:focus { box-shadow: none; outline: 0; height: 32px; }
#tasks .tasksContent ul li div[data-bind=content] { padding-left: 1px; padding-top: 1px; }
#tasks .tasksContent ul li [data-bind=content] { -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; }
#tasks .tasksContent ul li input[data-bind=content] { padding: 0; margin: 0; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; display: block; }
#tasks .tasksContent ul li button.none, #tasks .tasksContent ul li button.low, #tasks .tasksContent ul li button.medium, #tasks .tasksContent ul li button.high, #tasks .tasksContent ul li button.date { border: 0; border-left: 1px solid #000; background: transparent; line-height: 32px; padding: 0 15px; }
#tasks .tasksContent ul li input.date { border-left: 1px solid #000; padding: 8px 5px; vertical-align: top; width: 80px; text-align: center; }
#tasks .tasksContent ul li input.date:focus { outline: 0; height: 32px; }
#tasks .tasksContent ul li.selected.expanded { background: #fff; }
#tasks .tasksContent ul li .hidden { display: none; }
#tasks .tasksContent ul li .hidden textarea { width: 100%; border: 0; border-top: 1px solid #000; box-sizing: border-box; padding: 8px 30px 8px 32px; resize: none; min-height: 70px; }
#tasks .tasksContent ul li .hidden textarea:focus { box-shadow: none; outline: 0; }

.vsplitbar { border-right: 4px solid transparent; box-sizing: border-box; position: absolute; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; width: 5px; border-left: 1px solid #000; box-shadow: 0 -1px 0 #111111, 0 -41px 0 white; margin-top: 41px; height: 100%; z-index: 10; }

.ui-sortable-helper.tasks { display: inline !important; font-size: 13px; font-weight: bold; color: #fff; background: #85B1F8 !important; line-height: 30p !importantx; height: auto !important; min-height: 0 !important; padding: 3px 10px; cursor: default; }

#prefsDialog { display: none; position: fixed; width: 520px; left: 50%; margin-left: -250px; top: 100px; background: #fff; box-shadow: 0 2px 15px rgba(0, 0, 0, 0.7); z-index: 100; border-radius: 5px; }
#prefsDialog ul { height: 30px; margin: 0; padding: 0; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom: 1px solid rgba(0, 0, 0, 0.5); background: -webkit-linear-gradient(bottom, #d9d9d9 0%, #f2f2f2 100%); background: -moz-linear-gradient(bottom, #d9d9d9 0%, #f2f2f2 100%); background: -o-linear-gradient(bottom, #d9d9d9 0%, #f2f2f2 100%); background: -ms-linear-gradient(bottom, #d9d9d9 0%, #f2f2f2 100%); background: linear-gradient(bottom, #d9d9d9 0%, #f2f2f2 100%); }
#prefsDialog ul li { display: inline-block; margin: 0; width: 25%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; text-align: center; line-height: 30px; height: 30px; }
#prefsDialog ul li.active { background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); background: linear-gradient(top, #ffffff 0%, #f0f0f0 100%); }
#prefsDialog ul li.active a { color: #222; }
#prefsDialog ul li:first-child { border-top-left-radius: 5px; }
#prefsDialog ul li:last-child { border-top-right-radius: 5px; }
#prefsDialog ul li:not(:last-child) { border-right: 1px solid rgba(0, 0, 0, 0.2); }
#prefsDialog ul li a { text-decoration: none; color: #444; font-weight: bold; font-size: 13px; display: block; }
#prefsDialog .tab-content .tab-pane { display: none; padding: 15px; border-bottom-radius: 5px; color: #3b3b3b; font-size: 13px; line-height: 18px; }
#prefsDialog .tab-content .tab-pane input[type=checkbox] { margin-left: 40px; margin-right: 10px; }
#prefsDialog .tab-content .tab-pane label:not(.description) { font-weight: bold; }
#prefsDialog .tab-content .tab-pane label.left { display: inline-block; margin-left: 60px; margin-right: 10px; text-align: right; }
#prefsDialog .tab-content .tab-pane label.right { display: inline-block; margin-right: 10px; width: 120px; text-align: right; }
#prefsDialog .tab-content .tab-pane .description { margin-left: 60px; display: block; font-size: 12px; line-height: 16px; width: 400px; }
#prefsDialog .tab-content .tab-pane button { margin: 5px 0; font-size: 13px; }
#prefsDialog .tab-content .tab-pane button:last-child { margin-bottom: 0; }
#prefsDialog .tab-content .tab-pane select, #prefsDialog .tab-content .tab-pane input[type=file] { font-size: 13px; line-height: 22px; margin: 5px 0; }
#prefsDialog .tab-content .tab-pane select:last-child, #prefsDialog .tab-content .tab-pane input[type=file]:last-child { margin-bottom: 0; }
#prefsDialog .tab-content .tab-pane input[type=text], #prefsDialog .tab-content .tab-pane input[type=password] { margin: 5px 0; width: 200px; font-size: 13px; line-height: 18px; height: 18px; }
#prefsDialog .tab-content .tab-pane blockquote { width: 400px; color: #3b3b3b; border: 3px solid #0a6fea; background: #0a6fea; border-radius: 5px; }
#prefsDialog .tab-content .tab-pane blockquote h1 { text-align: center; font-size: 15px; margin: 0; padding: 5px; color: #fff; }
#prefsDialog .tab-content .tab-pane blockquote span { display: block; padding: 10px; background: #fff; border-radius: 3px; }
#prefsDialog .tab-content .tab-pane blockquote a { color: #0080ff; text-decoration: none; }
#prefsDialog .tab-content .tab-pane blockquote a:hover { text-decoration: underline; }
#prefsDialog .tab-content .tab-pane blockquote.disabled { color: #3b3b3b; background: #fff; border-color: #fff; width: 490px; padding: 0; margin: 0; }
#prefsDialog .tab-content .tab-pane blockquote.disabled img { margin: 0 13px; cursor: pointer; }
#prefsDialog .tab-content .tab-pane blockquote .icon { float: left; margin: 0 10px 0 0; }
#prefsDialog .tab-content .tab-pane.active { display: block; }
#prefsDialog .tab-content .tab-pane a.icon { display: inline-block; width: 150px; height: 122px; margin: 12.5px; border-radius: 5px; box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), 0 1px 0 white; background: rgba(0, 0, 0, 0.05); }
#prefsDialog .tab-content .tab-pane a.icon:hover { background: -webkit-linear-gradient(#fcfcfc, #e5e5e5); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
#prefsDialog .tab-content .tab-pane a.icon:active { background: -webkit-linear-gradient(#e5e5e5, #fcfcfc); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
#prefsDialog .tab-content .tab-pane a.icon img { margin-top: 8.5px; }
#prefsDialog .tab-content .tab-pane#tabSync { position: relative; }
#prefsDialog .tab-content .tab-pane#tabSync .icons { text-align: center; }
#prefsDialog .tab-content .tab-pane#tabSync blockquote { text-align: left; }
#prefsDialog .tab-content .tab-pane#tabSync .waiting, #prefsDialog .tab-content .tab-pane#tabSync .settings { display: none; }
#prefsDialog .tab-content .tab-pane#tabSync .waiting { text-align: center; }
#prefsDialog .tab-content .tab-pane#tabSync .settings .service { text-transform: capitalize; }
#prefsDialog .tab-content .tab-pane#tabSync .settings .logout { display: block; float: right; margin-right: 20px; }
#prefsDialog .tab-content .tab-pane#tabSync .spinner { position: absolute; left: 50%; top: 50%; margin: -32px 0 0 -32px; }

#tabLanguage table { font-size: 13px; line-height: 20px; color: #444; width: 100%; }
#tabLanguage table th { text-align: left; font-size: 14px; border-bottom: 1px solid #aaa; }
#tabLanguage table tr { border-bottom: 1px solid #ccc; }
#tabLanguage table tr:last-of-type { border-bottom: none; }
#tabLanguage table tr td, #tabLanguage table tr th { padding: 5px 0; }
#tabLanguage table tr td:first-of-type, #tabLanguage table tr td:nth-of-type(3), #tabLanguage table tr th:first-of-type, #tabLanguage table tr th:nth-of-type(3) { width: 20%; }
#tabLanguage table tr td:nth-of-type(4), #tabLanguage table tr td:nth-of-type(2), #tabLanguage table tr th:nth-of-type(4), #tabLanguage table tr th:nth-of-type(2) { width: 30%; }
#tabLanguage table tr a { color: #0ba1d0; text-decoration: none; }
#tabLanguage table tr a:hover { cursor: pointer; text-decoration: underline; }
#tabLanguage table tr a.current { font-weight: bold; color: #444; }
#tabLanguage table tr td.author { font-style: italic; color: #888; }
#tabLanguage table tr td.author a { color: #555; }

#scheduledDialog { position: fixed; background: rgba(0, 0, 0, 0.3); z-index: 3; width: 100%; height: 100%; display: none; }
#scheduledDialog .inner { background: rgba(255, 255, 255, 0.9); width: 300px; display: none; position: fixed; top: 40px; padding: 15px; left: 50%; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; margin-left: -115px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.8); font-size: 13px; }
#scheduledDialog .inner table { width: 100%; }
#scheduledDialog .inner table tr.bottom td { padding-bottom: 10px; }
#scheduledDialog .inner table tr td { -webkit-box-sizing: border-box; padding: 2px 5px; }
#scheduledDialog .inner table tr td:first-child { width: 100px; text-align: right; }
#scheduledDialog .inner #recurSpecial { margin: 5px auto; }
#scheduledDialog .inner #recurSpecial div { text-align: center; margin: 3px auto; }
#scheduledDialog .inner #buttonbox { text-align: right; }
#scheduledDialog .inner #buttonbox button { text-align: right; margin: 15px 0 0; }
#scheduledDialog .inner input[type=number] { width: 50px; }
#scheduledDialog .inner input[type=text] { width: 100px; }
