html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font: 14px/25px "Helvetica Neue"; }

#content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }

#sidebar {
  height: 100%;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  min-width: 150px;
  width: 200px;
  max-width: 350px;
  background: #f7f7f7; }
  #sidebar h2 {
    margin: 0;
    padding: 5px 0 5px 18px;
    font-size: 16px;
    background: #eff1f5;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f7f8), color-stop(100%, #e7eaf2));
    background: -webkit-linear-gradient(top, #f6f7f8 0%, #e7eaf2 100%);
    background: -moz-linear-gradient(top, #f6f7f8 0%, #e7eaf2 100%);
    background: -o-linear-gradient(top, #f6f7f8 0%, #e7eaf2 100%);
    background: -ms-linear-gradient(top, #f6f7f8 0%, #e7eaf2 100%);
    background: linear-gradient(top, #f6f7f8 0%, #e7eaf2 100%);
    border-bottom: 1px solid #d1d2d4; }
  #sidebar ul {
    margin: 0;
    padding: 0; }
    #sidebar ul li {
      display: block;
      height: 33px;
      line-height: 33px;
      text-shadow: 0 1px 0 #fff;
      font-weight: bold;
      color: #444444;
      padding-left: 18px;
      border-bottom: 1px solid #e1e2e4;
      background-image: #f6f6f7;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #f4f4f6));
      background: -webkit-linear-gradient(top, #f8f8f8 0%, #f4f4f6 100%);
      background: -moz-linear-gradient(top, #f8f8f8 0%, #f4f4f6 100%);
      background: -o-linear-gradient(top, #f8f8f8 0%, #f4f4f6 100%);
      background: -ms-linear-gradient(top, #f8f8f8 0%, #f4f4f6 100%);
      background: linear-gradient(top, #f8f8f8 0%, #f4f4f6 100%);
      cursor: pointer; }
      #sidebar ul li:first-of-type {
        border-top: 1px solid #fff; }
      #sidebar ul li:hover {
        background-image: #fbfcfd;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f7f8fa));
        background: -webkit-linear-gradient(top, #ffffff 0%, #f7f8fa 100%);
        background: -moz-linear-gradient(top, #ffffff 0%, #f7f8fa 100%);
        background: -o-linear-gradient(top, #ffffff 0%, #f7f8fa 100%);
        background: -ms-linear-gradient(top, #ffffff 0%, #f7f8fa 100%);
        background: linear-gradient(top, #ffffff 0%, #f7f8fa 100%); }
      #sidebar ul li.selected {
        background-image: #2597e2;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33a3ef), color-stop(100%, #168ad4));
        background: -webkit-linear-gradient(top, #33a3ef 0%, #168ad4 100%);
        background: -moz-linear-gradient(top, #33a3ef 0%, #168ad4 100%);
        background: -o-linear-gradient(top, #33a3ef 0%, #168ad4 100%);
        background: -ms-linear-gradient(top, #33a3ef 0%, #168ad4 100%);
        background: linear-gradient(top, #33a3ef 0%, #168ad4 100%);
        color: #fff;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        border-bottom: 1px solid #297bbd; }

#tasks {
  position: absolute;
  height: 100%;
  z-index: 1;
  box-sizing: border-box; }
  #tasks .content {
    height: 100%;
    overflow-y: auto; }
    #tasks .content h2 {
      text-align: center; }
    #tasks .content ul {
      padding-right: 40px; }
      #tasks .content ul li {
        display: block;
        height: 30px;
        margin: 4px 0;
        padding-left: 15px;
        cursor: pointer;
        background-image: #f3f3f3;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #f0f0f0));
        background: -webkit-linear-gradient(top, #fcfcfc 0%, #f0f0f0 100%);
        background: -moz-linear-gradient(top, #fcfcfc 0%, #f0f0f0 100%);
        background: -o-linear-gradient(top, #fcfcfc 0%, #f0f0f0 100%);
        background: -ms-linear-gradient(top, #fcfcfc 0%, #f0f0f0 100%);
        background: linear-gradient(top, #fcfcfc 0%, #f0f0f0 100%);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        line-height: 30px;
        color: #111; }
        #tasks .content ul li:hover {
          background-image: #f2f2f2;
          background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #eaeaea));
          background: -webkit-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%);
          background: -moz-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%);
          background: -o-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%);
          background: -ms-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%);
          background: linear-gradient(top, #f9f9f9 0%, #eaeaea 100%); }
        #tasks .content ul li.selected {
          background-image: #a2f4ff;
          background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #acfdff), color-stop(100%, #97ebff));
          background: -webkit-linear-gradient(top, #acfdff 0%, #97ebff 100%);
          background: -moz-linear-gradient(top, #acfdff 0%, #97ebff 100%);
          background: -o-linear-gradient(top, #acfdff 0%, #97ebff 100%);
          background: -ms-linear-gradient(top, #acfdff 0%, #97ebff 100%);
          background: linear-gradient(top, #acfdff 0%, #97ebff 100%); }

.panel {
  height: 40px;
  width: 100%;
  background: #444;
  z-index: 4;
  position: relative; }

.vsplitbar {
  border-right: 4px solid transparent;
  box-sizing: border-box;
  z-index: 3;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  width: 5px;
  border-left: 1px solid #b4b4b4;
  box-shadow: 0 -40px 0 #444444;
  margin-top: 40px;
  height: 100%; }
