.web #sidebar, .web #tasks, .web .vsplitbar, .web #login { display: none; }
.web #prefsDialog { top: 80px; box-shadow: none; border-radius: 4px; border: 1px solid #BBB; }
.web #prefsDialog .nav-tabs { display: none; }
