$sidebar_back: #f8f8f8;
$selected_color: #33a3ef;
$sidebar_border: #ccc;
$vsplitbar: #aaa;

$panel_color: #333;
$panel_border: #111;
$panel_text: #fff;

#sidebar {
	background: $sidebar_back;
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);

	h2 {
		border-top: 1px solid $sidebar_border;
		border-bottom: 1px solid $sidebar_border;
	}
}
.panel {
	background: $panel_color;
	border-bottom: 0 1px solid $panel_border;
	color: $panel_text;
	box-shadow: 0 0 2px rgba(0,0,0,0.4);

	button {
		background: $panel_color;
		color: $panel_text;
		padding-right:22px;
		font-weight: bold;

		&.add {
			background: url(img/add.png) no-repeat;
			padding-left: 30px;
		}
		&.delete {
			background: url(img/delete.png) no-repeat;
			padding-left: 28px;
		}
	}

	.right input {
		border: 0;
		border-radius: 2px;
		width: 120px;
		padding-left: 23px;
		background: url(img/search.png) no-repeat, #fff;

		-webkit-transition: 150ms width ease;

		&:focus {
			outline: 0;
			box-shadow: none;
			width: 220px;

		}
	}
}
#sidebar {
	ul {
		li {
			&.selected {
				background: $selected_color;
				color: #fff;
				outline: 1px solid darken($selected_color, 20%);
			}
			
		}
	}
}
#tasks {
	h2 {
		color: lighten($panel_color, 5%);
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
	}
	ul {
		li {
			box-shadow: 0 1px 1px rgba(0,0,0,0.05);
			border-radius: 5px;
		}
	}
}
.vsplitbar {
	box-shadow: 0 -1px 0 $panel_border,0 -41px 0 $panel_color;
	border-left: 0;
}