@import "compass/css3/images";

$sidebar_back: #fdfdfd;
$selected_color: #33a3ef;
$sidebar_border: #ccc;

$panel_color: #333;
$panel_border: #111;
$panel_text: #fff;

$task_color: #fff;
$notes_bg: #FBFAF0;

body {
	background: url(img/bg.png);
}

#sidebar {
	background: $sidebar_back;
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);

	h2 {
		border-top: 1px solid $sidebar_border;
		border-bottom: 1px solid $sidebar_border;
		box-shadow: 0 0 1px rgba(0,0,0,0.2) inset;
	}
}
.panel {
	background: $panel_color;
	border-bottom: 0 1px solid $panel_border;
	color: $panel_text;
	box-shadow: 0 0 2px rgba(0,0,0,0.4);

	button {
		background: $panel_color;
		color: $panel_text;
		padding-right:22px;
		font-weight: bold;

		&.add {
			background: url(img/add.png) no-repeat;
			padding-left: 30px;
		}
		&.delete {
			background: url(img/delete.png) no-repeat;
			padding-left: 28px;
		}
	}

	.right input {
		border: 0;
		border-radius: 2px;
		width: 120px;
		padding-left: 23px;
		background: url(img/search.png) no-repeat, #fff;

		-webkit-transition: 150ms width ease;

		&:focus {
			outline: 0;
			box-shadow: none;
			width: 220px;

		}
	}
}
#sidebar {
	ul {
		li {
			&.selected {
				background: $selected_color;
				color: #fff;
				outline: 1px solid darken($selected_color, 20%);
				font-weight: bold;
				text-shadow: 0 1px 1px darken($selected_color, 15%);
			}
			
		}
	}
}
#tasks .content {
	h2 {
		color: lighten($panel_color, 5%);
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
	}
	ul {
		li {
			border: 1px solid darken($task_color, 25%);
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
			border-radius: 4px;
			@include background(linear-gradient(top, $task_color 0%, darken($task_color, 2%) 100%));



			&.expanded {
				margin: 15px 0;

				&:first-child {
					margin-top: 0;
				}

				&:hover {
					@include background(linear-gradient(top, $task_color 0%, darken($task_color, 2%) 100%));
				}
			}

			.checkbox {
				border: 1px solid #D4D4D4;
				border-radius: 3px;
				background: $task_color;
			}

			button[data-bind=priority], input.date {
				border-left: 1px solid darken($task_color, 15%);
			}

			.hidden textarea {
				border-top: 1px solid  darken($task_color, 15%);
				border-radius: 0 0 5px 5px;
				background: url(img/notes.png) no-repeat 8px 7px, $notes_bg;
			}
		}
	}
}
.vsplitbar {
	box-shadow: 0 -1px 0 $panel_border,0 -41px 0 $panel_color;
	border-left: 0;
}