@import "compass/css3/images";
@import "compass/css3/transition";

$sidebar_back: #333;
$sidebar_border: #ccc;

$panel_color: #333;
$panel_border: #111;
$panel_text: #fff;
$task_color: #fff;
$task_selected: lighten(#6CC0E5, 32%);
$notes_bg: #F8FAF0;

$none_text: #ACACAC;
$low_color: #6CC0E5;
$medium_color: #FBC93D;
$high_color: #FB4F4F;

$hl_color: #1bc1f1;

body {
	background: #EEEEEF
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
	background-size: 51px;
}

#decor {
	@include background(linear-gradient(top, #ECF0F1 0%, #C3C9CC 100%));
	box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, #A9B5BB 0px -1px 0px inset;
	z-index: 3;
}

#sidebar {
	z-index: 2;
	background: $sidebar_back;

	h2 {
		color: $hl_color;
		border-bottom: 2px solid $hl_color;
	}

	ul li {

		color: #ccc;
		border-bottom: 1px solid #4e4e4e;

		&.selected {
			font-weight: bold;
			color: #fff;
			text-shadow: 0 1px 1px #222;
		}

		input {
			border-radius: 4px;
			box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
			border: none;
		}
	}
}
#tasks .tasksContent {
	.listhead {
		color: #444;
		background: #fff;
		margin: 0;
		padding: 3px 30px 8px;
		line-height: 2;
		position: fixed;
		top: 40px;
		right: 0;
		left: 250px;
		z-index: 1;
		border-bottom: 1px solid #bbb;
		box-shadow: 0 0 3px rgba(0,0,0, 0.2) inset;
		font-weight: 300;
		letter-spacing: -1px;
		font-size: 16px;

		h2 {
			font-weight: 300;
			margin-bottom:0;
			margin-top: 15px;
			padding-right: 10px;
			font-size: 30px;
			display:inline-block;
			color: darken($hl_color, 20%);
		}

		span {
			padding-right: 7px;
			color: #ccc;

			&.black {
				color: #777;
			}
		}
	}

	.noTasks {
		width: 250px;
		margin: 0 auto;
		text-align: center;
		background: rgba(255, 255, 255, 0.4);
		padding: 15px;
		font-size: 14px;
		border-radius: 2px;
	}
	ul {
		padding-top: 85px;
		position: relative;
		z-index: 0;

		li {
			border: 1px solid #ccc;
			background: #fff;
			
			.tag {
				color: darken($low_color, 30%);
			}

			.label {
				border-left: 1px solid darken($task_color, 10%);
				&:last-child {
					border-radius: 0 4px 4px 0;
				}

				&.overdue, &.due {
					@include background(linear-gradient(top, lighten($high_color, 25%) 0%, lighten($high_color, 20%) 100%));
				}
			}
			
			&.selected {
				@include background(linear-gradient(top, $task_selected 0%, darken($task_selected, 5%) 100%));
			}

			&.expanded {
				margin: 15px 0;

				&:first-child {
					margin-top: 0;
				}

				&:hover {
					@include background(linear-gradient(top, $task_color 0%, darken($task_color, 2%) 100%));
				}
			}

			.checkbox {
				border: 1px solid #D4D4D4;
				border-radius: 2px;
				background: $task_color;

				&:hover {
					border-color: #C6C6C6;
					box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
				}

				&.low {
					border-color: darken($low_color, 10%);
					@include background(linear-gradient(top, lighten($low_color, 15%) 0%, lighten($low_color, 20%) 100%));
				}
				&.medium {
					border-color: darken($medium_color, 17%);
					@include background(linear-gradient(top, lighten($medium_color, 15%) 0%, lighten($medium_color, 24%) 100%));
				}
				&.high {
					border-color: darken($high_color, 20%);
					@include background(linear-gradient(top, lighten($high_color, 15%) 0%, lighten($high_color, 22%) 100%));
				}
			}

			button.none, button.low, button.medium, button.high, input.date, button.date {
				border-left: 1px solid darken($task_color, 10%);
			}
			button.none {
				color: $none_text;
			}
			button.low {
				@include background(linear-gradient(top, lighten($low_color, 35%) 0%, lighten($low_color, 25%) 100%));
			}
			button.medium {
				@include background(linear-gradient(top, lighten($medium_color, 35%) 0%, lighten($medium_color, 25%) 100%));
			}
			button.high {
				@include background(linear-gradient(top, lighten($high_color, 35%) 0%, lighten($high_color, 30%) 100%));
			}
		
			.hidden {
				textarea {
					border-top: 1px solid  darken($task_color, 15%);
					border-radius: 0 0 5px 5px;
				}
			}
		}
	}
}
.vsplitbar {
	box-shadow: 0 -1px 0 $panel_border,0 -41px 0 $panel_color;
	border-left: 0;
}

// Modal Dialog
.modal {
	border-radius: 5px;
	border-color: #ccc;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	h3 {
		border-bottom-color: #ccc;
	}
}

//jQuery UI trys to override
.ui-sortable-helper.tasks {
	@include background(linear-gradient(top, $task_color 0%, darken($task_color, 2%) 100%));
	color: #333;
	line-height: 24px;
	border-radius: 3px;
	border: 1px solid #BFBFBF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	font-weight: normal;
	opacity: 0.8;
}

.modal {
	display: none;
	position: absolute;
	left: 50%;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 6px rgba(0,0,0,0.75);

	h3 {
		border-radius:5px 5px 0 0;
		text-align: center;
		height: 40px;
		line-height: 40px;
		margin: 0;
		background-image: #f4f4f4;
		@include background(linear-gradient(top, #ffffff 0%, #e9e9e8 100%));
		border-bottom: 1px solid #eee;
		font-size: 15px;
		text-shadow: 0 1px 0 #fff;
		box-shadow: 0 1px 0 #ccc;
		color: #3b3b3b;
	}
	p {
		margin: 0;
		padding: 15px 15px 13px;
		display: block;
		width: 310px;
		font-size: 13px;
		text-align: center;
		color: #545454;
		line-height: 20px;
	}
	.button-container {
		button {
			height: 35px;
			border-radius: 4px;
			color: #fff;
			font: bold 13px arial;
			text-shadow: 0 1px 0 rgba(0,0,0,0.5);
			box-shadow: 0 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255,255,255,0.5), inset 0 -1px 0 rgba(0,0,0,0.15);
			&.yes {
				border: 1px solid #5e8c22;
				background-image: #89c03e;
				@include background(linear-gradient(top, #a8d34e 0%, #6aad2d 100%));
				&:hover {
					@include background(linear-gradient(top, lighten(#a8d34e, 5%) 0%, lighten(#6aad2d, 5%) 100%));
				}
				&:active {
					@include background(linear-gradient(top, darken(#a8d34e, 5%) 0%, darken(#6aad2d, 5%) 100%));
				}
			}
			&.no {
				border: 1px solid #b63540;
				background-image: #ed596a;
				@include background(linear-gradient(top, #f77087 0%, #e3414d 100%));
				&:hover {
					@include background(linear-gradient(top, lighten(#f77087, 5%) 0%, lighten(#e3414d, 5%) 100%));
				}
				&:active {
					@include background(linear-gradient(top, darken(#f77087, 5%) 0%, darken(#e3414d, 5%) 100%));
				}
			}
		}
	}
}