/* Metro Theme Author: Michael Martin-Smucker */

// Interface variables
$panel-height: 58px;

// Consistent colors for the Metro theme
$red: #e33;
$orange: #fb4;
$green: #5b2;
$blue: #0ad;
$purple: #86b;

// Mixins
@mixin labeltag($bgcolor: #666) {
    background: $bgcolor;
    &:before {
        border-right-color: $bgcolor;
    }
}
@mixin modalbutton($bgcolor: #666) {
    background: $bgcolor;
    border: 1px solid darken($bgcolor, 5%);
    &:hover {
        background: lighten($bgcolor, 5%);
        border-color: $bgcolor;
    }
}


body {
    background: #fff;
}

html, button, input, select, textarea {
    font-family: "Segoe UI", "Open Sans", sans-serif;
}

.panel {
    background: #eee;
    border: 0;
    box-shadow: none;
    color: #000;
    height: $panel-height;

    button {
        background: none;
    }
}
.vsplitbar {
    background-image: -webkit-linear-gradient(#fff 10%, #ccc, #fff 90%);
    background-clip: content-box;
    border: 0;
    box-shadow: none;
    opacity: 0;
    padding: 0 3px;
    -webkit-transition: opacity 300ms;
    top: $panel-height;
    width: 7px;
    z-index: auto;

    &:hover {
        opacity: 1;
        -webkit-transition: 0;
    }
}

#sidebar {
    display: block;
    overflow-y: auto;
    padding-top: $panel-height;
    text-transform: lowercase;
    z-index: auto;

    .panel {
        display: none;
    }
    h2 {
        border: 0;
        color: #222;
        font-size: 25px;
        font-weight: normal;
        height: auto;
        line-height: 25px;
        padding: 16px 0 8px 15px;
        text-transform: lowercase;
    }
    ul {
        li {
            color: #666;
            font-size: 15px;
            padding-left: 35px;

            input {
                background: #f4f4f4;
                border: 1px solid #ddd;
                cursor: text;
                font-size: 13px;
                height: 16px;
                outline: 0;
                padding: 3px 4px;
            }
            &.selected {
                background: none;
                border: 0;
                color: $blue;

                // Icons for the selected task should be the same as the unselected icons
                .edit, .delete {
                    opacity: 0.5;
                    &:hover {
                        opacity: 1;
                    }
                }
                .edit {
                    background-position: 0 -103px;
                    opacity: 0.5;

                    &.open {
				        background-position: 0 179px;
                    }
                }
                .delete {
                    background-position: 1px -81px;
                    opacity: 0.5;
                }
            }
            .edit, .delete {
                // Metro theme doesn't need as much of a margin above icons
                margin-top: 5px;
            }
            // Override positioning from style.scss, move icons down 2px
            .edit {
                background-position: 0 -103px;

                &.open {
				    background-position: 0 179px;
                }
            }
            .delete {
                background-position: 1px -81px;
            }
        }
    }
    #lists {
        overflow: visible;
    }
    .listAddBTN {
        border: 1px solid transparent;
        color: #aaa;
        cursor: text;
        font-style: italic;
        font-weight: normal;
        line-height: 16px;
        margin: 3px 5px 0 30px;
        padding: 3px 4px;

        &:hover {
            border-color: #ddd;
            color: #888;
        }
    }
}
#tasks {
    padding-top: $panel-height;

    .panel {
        left: 0;
        position: fixed;
        top: 0;

        .left {
            button {
                background-position: center -6px;
                background-repeat: no-repeat;
                font-size: 15px;
                line-height: 19px;
                min-width: 62px;
                padding: 36px 10px 5px;
                text-align: center;
                text-transform: lowercase;
                -webkit-transition: background-color 120ms linear;

                &:hover {
                    background-color: #fff;
                }
                &.add {
                    background-image: url('themes/metro/add.png');
                    color: $green;
                }
                &.delete {
                    background-image: url('themes/metro/cancel.png');
                    color: $red;
                }
                &.sort {
                    background-image: url('themes/metro/sort.png');
                    color: $blue;
                }
            }
            span.open {
                ul {
                    background: #999;
                    color: #fff;
                    margin-top: 10px;

                    &:before {
                        border: 10px solid transparent;
                        border-bottom-color: #999;
                        content: "";
                        left: 10px;
                        position: absolute;
                        top: -20px;
                    }

                    li {
                        width: 72px;

                        &.current {
                            background: rgba(0,0,0,0.3);
                            box-shadow: none;
                        }
                    }
                }
            }
        }
        .right {
            margin-top: ($panel-height - 26) / 2;

            button {
                height: 20px;
                line-height: 20px;
                margin: 4px 5px;
                opacity: 0.65;
                padding: 0;
                -webkit-transition: opacity 200ms;

                &:hover {
                    opacity: 1;
                    -webkit-transition: opacity 100ms;
                }
                &.runSync {
                    background: url('themes/metro/sync.png') no-repeat 0 0;
                    width: 24px;
                    &.running {
                        background-position: 0 -20px;
                    }
                }
                &.settingsbtn {
                    background: url('themes/metro/settings.png') no-repeat 0 0;
                    width: 24px;
                }
            }
            input {
                background: #fff url('themes/metro/search.png') no-repeat right center;
                background-color: rgba(255,255,255,0.9);
                border: 0;
                margin: 0 0 0 4px;
                padding-right: 25px;
                -webkit-transition: 200ms ease width;
                width: 140px;

                &:focus {
                    border: 0;
                    outline: 0;
                    width: 250px;
                }
            }
        }
    }
    .tasksContent {
        text-align: left;

        h2 {
            display: inline-block;
            font-size: 25px;
            font-weight: normal;
            line-height: 25px;
            margin: 0;
            padding: 16px 20px 8px 16px;
            text-transform: capitalize;
        }
        .button {
            border: 0;
            border-radius: 0;

            &#updateLogbook {
                color: #fff;
                float: right;
                margin: 16px 20px;
                @include modalbutton($purple);
            }
        }
        .noTasks {
            color: #888;
        }
        ul {
            li {
                background: rgba(255,255,255,0.95);
                border-color: #eee;
                border-left: 0;
                clear: both;
                height: auto;

                &.selected {
                    background: lighten($blue, 50%);
                }
                &.expanded {
                    margin: 15px 0;

                    button.priority {
                        color: #fff;
                        font-size: 12px;
                        height: 22px;
                        line-height: 22px;
                        margin: 4px 8px;

                        &.none {
                            @include modalbutton(#999);
                        }
                        &.low {
                            @include modalbutton($blue);
                        }
                        &.medium {
                            @include modalbutton($orange);
                        }
                        &.high {
                            @include modalbutton($red);
                        }
                    }
                }
                &.checked {
                    .checkbox {
                        position: static;
                        &:after {
                            left: auto;
                            top: 5px;
                        }
                    }
                    .content {
                        color: #888;
                        text-decoration: line-through;
                    }
                    &.logbook {
                        .content {
                            color: #111;
                            text-decoration: none;
                        }
                    }
                }
                .boxhelp {
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 2px 4px;
                }
                .checkbox {
                    background-color: rgba(255,255,255,0.95);
                    border-color: rgba(0,0,0,0.2);
                    box-sizing: border-box;
                    margin-top: 9px;

                    &:hover {
                        border-color: rgba(0,0,0,0.3);
                    }

                    &:before {
                        background: #ddd;
                        content: "";
                        height: 100%;
                        left: 0;
                        position: absolute;
                        top: 0;
                        width: 4px;
                    }
                    &.low:before {
                        background: $blue;
                    }
                    &.medium:before {
                        background: $orange;
                    }
                    &.high:before {
                        background: $red;
                    }
                }
                .content {
                    font-size: 15px;
                    padding: 0 10px 0 0;
                }
                .notes {
                    background: url('themes/metro/note.png') no-repeat;
                    height: 16px;
                    margin-top: 8px;
                    width: 16px;
                }
                .tag {
                    color: #999;
                    cursor: pointer;
                    font-style: italic;
                    margin: 0 6px;
                    padding: 0;

                    &:before {
                        content: "#";
                    }
                }
                .label {
                    background: $blue;
                    border: 0;
                    color: #fff;
                    font-size: 12px;
                    height: 22px;
                    line-height: 22px;
                    margin-left: 20px;
                    margin-top: 4px;
                    position: relative;
                    text-transform: capitalize;

                    &:before {
                        border: 11px solid transparent;
                        border-right-color: $blue;
                        content: "";
                        left: -22px;
                        position: absolute;
                        top: 0;
                    }
                    &:after {
                        border: 2px solid #fff;
                        border-radius: 50%;
                        content: "";
                        left: -2px;
                        position: absolute;
                        top: 9px;
                    }
                }
                .label.overdue {
                    @include labeltag($red);
                }
                .label.due {
                    @include labeltag($green);
                }
                .label.list {
                    @include labeltag($purple);
                }
                button.none, button.low, button.medium, button.high, input.date, input.tags, button.date, div.tag {
                    border: 0;
                }
                .hidden {
                    textarea {
                        background: #fafafa url('themes/metro/note.png') no-repeat 8px 8px;
                        border-top-color: #ddd;
                        color: #444;
                    }
                }
            }
        }
    }
}
// Drag & Drop styles
.ui-sortable-helper.tasks {
    background: $purple;
}
// Modal dialogs
.modal {
    h3 {
        background: #eee;
        border: 0;
        font-weight: normal;
        font-size: 28px;
        padding: 2px 12px;
        text-align: left;
    }
    p {
        margin: 12px 16px;
        text-align: left;
    }
    .button-container {
        button {
            color: #fff;
            height: auto;
            margin: 0 8px;
            text-transform: capitalize;

            &.yes {
                @include modalbutton($green);
            }
            &.no {
                @include modalbutton($red);
            }
        }
    }
}
// Datepicker calendar
.datepicker {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    &.dropdown-menu {
        font-family: "Segoe UI", "Open Sans", sans-serif;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    thead {
        tr {
            &:first-child {
                th {
                    &.switch {
                        font-size: 18px;
                        font-weight: normal;
                    }
                }
                .prev, .next {
                    opacity: 0.7;

                    &:after {
                        // using :after to avoid datepicker overriding the background on hover
                        background-image: url('themes/metro/arrows.png');
                        background-repeat: no-repeat;
                        content: "";
                        display: block;
                        height: 20px;
                        width: 20px;
                    }
                }
                .prev:after {
                    background-position: 50% 0;
                }
                .next:after {
                    background-position: 50% -20px;
                }
            }
        }
    }
    td, th {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
      td.active:hover, td.active:hover:hover, td.active.disabled:hover,
      td.active.disabled:hover:hover, td.active:active, td.active:hover:active,
      td.active.disabled:active, td.active.disabled:hover:active, td.active.active,
      td.active:hover.active, td.active.disabled.active, td.active.disabled:hover.active,
      td.active.disabled, td.active:hover.disabled, td.active.disabled.disabled,
      td.active.disabled:hover.disabled, td.active[disabled], td.active:hover[disabled],
      td.active.disabled[disabled], td.active.disabled:hover[disabled] {
        background: $blue;
        text-shadow: none;
    }
}
