@import "compass/css3";

//Animation Delay Mixin
@mixin animation-support($property, $value) {
  @include experimental($property, $value, -moz, -webkit, -o, -ms, not -khtml, official); }

@mixin animation-delay($delay-1: $default-animation-delay, $delay-2: false, $delay-3: false, $delay-4: false, $delay-5: false, $delay-6: false, $delay-7: false, $delay-8: false, $delay-9: false, $delay-10: false) {
  $delay: compact($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10);
  @include animation-support(animation-delay, $delay); }

#prefsDialog {
	display: none;
	position: fixed;
	width: 520px;
	left: 50%;
	margin-left: -250px;
	top: 100px;
	background: #fff;
	box-shadow: 0 2px 15px rgba(0,0,0,0.7);
	z-index: 100;
	border-radius: 2px;


	& > ul {
		height: 30px;
		margin: 0;
		padding: 0;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		border-bottom:  1px solid rgba(0,0,0,0.2);
		background: #ddd;

		& > li {
			display: inline-block;
			margin: 0;
			width: 20%;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			text-align: center;
			line-height: 30px;
			height: 30px;

			&.active {
				@include transition(150ms background ease);
				background: #f0f0f0;

				a {
					color: #222;
				}
			}

			&:first-child {
				border-top-left-radius: 5px;
			}

			&:last-child {
				border-top-right-radius: 5px;
			}

			&:not(:last-child) {
				border-right: 1px solid rgba(0,0,0,0.2);
			}

			a {
				text-decoration: none;
				color: #444;
				font-weight: bold;
				font-size: 13px;
				display: block;
			}
		}
	}

	.tab-content {
		.tab-pane {
			display: none;
			padding: 15px;
			border-bottom-radius: 5px;
			max-height: 400px;
			overflow-y: auto;
			color: #3b3b3b;
			font-size: 13px;
			line-height: 18px;

			input[type=checkbox] {
				margin-left: 40px;
				margin-right: 10px;
			}

			label:not(.description) {
				font-weight: bold;
			}

			label.left {
				display: inline-block;
				margin-left: 60px;
				margin-right: 10px;
				text-align: right;
			}
			label.right {
				display: inline-block;
				margin-right: 10px;
				width: 120px;
				text-align: right;
			}

			.description {
				margin-left: 60px;
				display: block;
				font-size: 12px;
				line-height: 16px;
				width: 400px;
			}

			button {
				margin: 5px 0;
				font-size: 13px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			select, input[type=file] {
				font-size: 13px;
				line-height: 22px;
				margin: 5px 0;

				&:last-child {
					margin-bottom: 0;
				}
			}

			input[type=text], input[type=password] {
				margin: 5px 0;
				width: 200px;
				font-size: 13px;
				line-height: 18px;
				height:18px;
			}

			h2 {
				text-align: center;
			}

			blockquote {
				width: 400px;
				color: #3b3b3b;
				border: 3px solid #0a6fea;
				background: #0a6fea;
				border-radius: 5px;

				h1 {
					text-align: center;
					font-size: 15px;
					margin: 0;
					padding: 5px;
					color: #fff;

				}

				span {
					display: block;
					padding: 10px;
					background: #fff;
					border-radius: 3px;
				}

				a {
					color: #0080ff;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}

				&.disabled {
					color: #3b3b3b;
					background: #fff;
					border-color: #fff;
					width: 490px;
					padding: 0;
					margin: 0;

					img {
						margin: 0 13px;
						cursor: pointer;
					}
				}

				.icon {
					float: left;
					margin: 0 10px 0 0;
				}
			}

			&.active {
				display: block;
			}

			img.center {
				display: table;
				margin: 0 auto;
			}
			p.center {
				text-align: center;
			}


			&#tabSync {

				.icons {
					text-align: center;
					margin-bottom: 30px;
				}
				position: relative;

				blockquote {
					text-align: left;
				}

				.waiting, .settings {
					display: none;
				}

				.waiting {
					text-align: center;

					p {
						color: #666;
					}

					img {
						margin-bottom: 15px;
					}

					a.cancel {
						cursor: pointer;
						color: #33A3EF;
						&:hover {
							text-decoration: underline;
						}
					}
				}

				.settings {
					.service {
						text-transform: capitalize;
					}
					.logout {
						display: block;
						float: right;
						margin-right: 20px;
					}
				}
			}
		}
	}
}

#tabLanguage {
	table {
		font-size: 13px;
		line-height: 20px;
		color: #444;
		width: 100%;
		th {
			text-align: left;
			font-size: 14px;
			border-bottom: 1px solid #aaa;
		}
		tr {
			border-bottom: 1px solid #ccc;
			&:last-of-type{
				border-bottom: none;
			}
			td, th {
				padding: 5px 0;

				&:first-of-type, &:nth-of-type(3) {
					width: 20%;
				}
				&:nth-of-type(4), &:nth-of-type(2) {
					width: 30%;
				}
			}
			a {
				color: #0ba1d0;
				text-decoration: none;
				&:hover {
					cursor: pointer;
					text-decoration: underline;
				}
				&.current {
					font-weight: bold;
					color: #444;
				}	
			}
			td.author {
				font-style: italic;
				color: #888;
				a {
					color: #555;
				}
			}
		}
	}
}

#tabAbout {
	a {
		color: #0ba1d0;
		text-decoration: none;
		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
		&.current {
			font-weight: bold;
			color: #444;
		}	
	}
	table {
		width: 100%;
		tr {
			border-bottom: 1px solid #eee;
			&.break {
				background: #eee;
			}
			td {
				&:first-child {
					font-weight: bold;
					width: 50%;
				}
				padding: 5px;
			}
		}
	}
}

#cleardataweb {
	display: none;
}

div.spinner {
	position: relative;
	width: 40px;
	height: 45px;
	display: inline-block;
	margin-top: 5px
}

div.spinner div {
  width: 12%;
  height: 26%;
  background: #444;
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
  -webkit-animation: fade 1s linear infinite;
  -moz-animation: fade 1s linear infinite;
  -ms-animation: fade 1s linear infinite;
  -o-animation: fade 1s linear infinite;
  animation: fade 1s linear infinite;
  border-radius: 50px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

div.spinner div.bar1 {@include transform(rotate(0deg) translate(0, -142%)); @include animation-delay(0s);}    
div.spinner div.bar2 {@include transform(rotate(30deg) translate(0, -142%)); @include animation-delay(-0.9167s);}
div.spinner div.bar3 {@include transform(rotate(60deg) translate(0, -142%)); @include animation-delay(-0.833s);}
div.spinner div.bar4 {@include transform(rotate(90deg) translate(0, -142%)); @include animation-delay(-0.75s);}
div.spinner div.bar5 {@include transform(rotate(120deg) translate(0, -142%)); @include animation-delay(-0.667s);}
div.spinner div.bar6 {@include transform(rotate(150deg) translate(0, -142%)); @include animation-delay(-0.5833s);}
div.spinner div.bar7 {@include transform(rotate(180deg) translate(0, -142%)); @include animation-delay(-0.5s);}
div.spinner div.bar8 {@include transform(rotate(210deg) translate(0, -142%)); @include animation-delay(-0.41667s);}
div.spinner div.bar9 {@include transform(rotate(240deg) translate(0, -142%)); @include animation-delay(-0.333s);}
div.spinner div.bar10 {@include transform(rotate(270deg) translate(0, -142%)); @include animation-delay(-0.25s);}
div.spinner div.bar11 {@include transform(rotate(300deg) translate(0, -142%)); @include animation-delay(-0.1667s);}
div.spinner div.bar12 {@include transform(rotate(330deg) translate(0, -142%)); @include animation-delay(-0.0833s);}

@-webkit-keyframes fade {
	from {opacity: 1;}
	to {opacity: 0.25;}
}
@-moz-keyframes fade {
	from {opacity: 1;}
	to {opacity: 0.25;}
}
@-ms-keyframes fade {
	from {opacity: 1;}
	to {opacity: 0.25;}
}
@-o-keyframes fade {
	from {opacity: 1;}
	to {opacity: 0.25;}
}
@keyframes fade {
	from {opacity: 1;}
	to {opacity: 0.25;}
}