/* Ubuntu Radiance Theme
 * Author: Jono Cooper
 * http://caffeinatedco.de
 */
body {
  background: url(../../images/back.png);
  font-family: "Ubuntu", "Helvetica", "Arial", sans-serif; }

#panel {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4cac0), color-stop(100%, #f0ebe7));
  background: -webkit-linear-gradient(top, #d4cac0 0%, #f0ebe7 100%);
  background: -moz-linear-gradient(top, #d4cac0 0%, #f0ebe7 100%);
  background: -o-linear-gradient(top, #d4cac0 0%, #f0ebe7 100%);
  background: -ms-linear-gradient(top, #d4cac0 0%, #f0ebe7 100%);
  background: linear-gradient(top, #d4cac0 0%, #f0ebe7 100%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 -1px 0 #e3dcd4 inset, 0 1px 0 #e3dcd4 inset; }
  #panel #brand {
    color: #fff;
    text-shadow: 0 1px 0 #222;
    border-right: 1px solid #282828;
    display: none; }
  #panel nav ul li {
    font-size: 12px;
    color: #5a5a5a;
    height: 32px;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    border-radius: 3px;
    margin: 2px 0;
    border: 1px solid transparent;
    -webkit-transition: 100ms linear background; }
    #panel nav ul li span {
      display: block;
      float: left;
      margin-top: 10px; }
    #panel nav ul li:first-of-type {
      margin-left: 10px; }
    #panel nav ul li:hover {
      background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #d4cac0), color-stop(100%, #f0ebe7));
      background: -webkit-linear-gradient(bottom, #d4cac0 0%, #f0ebe7 100%);
      background: -moz-linear-gradient(bottom, #d4cac0 0%, #f0ebe7 100%);
      background: -o-linear-gradient(bottom, #d4cac0 0%, #f0ebe7 100%);
      background: -ms-linear-gradient(bottom, #d4cac0 0%, #f0ebe7 100%);
      background: linear-gradient(bottom, #d4cac0 0%, #f0ebe7 100%);
      box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.2); }
    #panel nav ul li:active {
      background: #cfc4b9;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
      border: 1px solid transparent; }
    #panel nav ul li.disabled:hover {
      background: none;
      box-shadow: none;
      border: 1px solid transparent; }
    #panel nav ul li .icon {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 1px 4px 4px; }
      #panel nav ul li .icon.add {
        background: url(../../images/darksprite.png) no-repeat; }
      #panel nav ul li .icon.edit {
        background: url(../../images/darksprite.png) no-repeat 0 -40px; }
      #panel nav ul li .icon.delete {
        background: url(../../images/darksprite.png) no-repeat 0 -78px; }
  #panel #right > ul > li {
    height: 32px;
    top: 2px;
    border-radius: 3px;
    border: 1px solid transparent; }
    #panel #right > ul > li:not(:last-of-type):hover {
      background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #d4cac0), color-stop(100%, #f0ebe7));
      background: -webkit-linear-gradient(bottom, #d4cac0 0%, #f0ebe7 100%);
      background: -moz-linear-gradient(bottom, #d4cac0 0%, #f0ebe7 100%);
      background: -o-linear-gradient(bottom, #d4cac0 0%, #f0ebe7 100%);
      background: -ms-linear-gradient(bottom, #d4cac0 0%, #f0ebe7 100%);
      background: linear-gradient(bottom, #d4cac0 0%, #f0ebe7 100%);
      box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.2); }
    #panel #right > ul > li:not(:last-of-type):active {
      background: #cfc4b9;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
      border: 1px solid transparent; }
    #panel #right > ul > li img {
      width: 30px;
      height: 30px; }
    #panel #right > ul > li#logbookBTN img {
      background: url(../../images/darksprite.png) no-repeat 5px -118px; }
    #panel #right > ul > li#settingsBTN img {
      background: url(../../images/darksprite.png) no-repeat 5px -158px; }
    #panel #right > ul > li#settingsBTN ul {
      top: 37px; }
    #panel #right > ul > li #search {
      top: -2px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      position: relative;
      width: 100px;
      line-height: 13px;
      font-size: 13px;
      font-family: "Ubuntu", "Helvetica", "Arial", sans-serif;
      padding: 4px;
      padding-left: 23px;
      border-radius: 3px;
      margin-left: 7px;
      background: url(../../images/whitesprite.png) no-repeat 5px -366px, white;
      -webkit-transition: 200ms ease width; }
      #panel #right > ul > li #search:focus {
        width: 250px;
        border: 1px solid #e96d3a; }

#content #sidebar {
  width: 250px;
  top: 0;
  /* Set to panel height */
  z-index: 7;
  background-color: #f6f4f2;
  border-right: 0;
  box-shadow: 0 0 1px #000; }
  #content #sidebar h2 {
    margin: 0;
    padding: 8px 18px 8px 15px;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    color: #222;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    box-shadow: 0 0 3px #ddd inset; }
    #content #sidebar h2 #addListBTN {
      width: 8px;
      height: 8px;
      padding: 4px;
      border-radius: 50%;
      background: url(../../images/whitesprite.png) no-repeat 4px -413px; }
      #content #sidebar h2 #addListBTN:hover {
        background: #e2e2e2 url(../../images/whitesprite.png) no-repeat 4px -413px; }
  #content #sidebar ul li {
    height: 26px;
    font-size: 13px;
    line-height: 26px; }
    #content #sidebar ul li.dragHover:not(.selected) {
      background: #ecf8ff; }
    #content #sidebar ul li .editIcon {
      left: auto;
      right: 65px;
      top: 4px;
      width: 17px;
      height: 17px;
      background: url(../../images/whitesprite.png) no-repeat -1px -145px; }
    #content #sidebar ul li .delete {
      left: auto;
      right: 45px;
      top: 6px;
      width: 18px;
      height: 16px;
      background: url(../../images/whitesprite.png) no-repeat 0 -120px; }
    #content #sidebar ul li.selected {
      font-weight: bold;
      color: #fff;
      background-color: #f58050;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f58050), color-stop(100%, #e96d3a));
      background: -webkit-linear-gradient(top, #f58050 0%, #e96d3a 100%);
      background: -moz-linear-gradient(top, #f58050 0%, #e96d3a 100%);
      background: -o-linear-gradient(top, #f58050 0%, #e96d3a 100%);
      background: -ms-linear-gradient(top, #f58050 0%, #e96d3a 100%);
      background: linear-gradient(top, #f58050 0%, #e96d3a 100%);
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 0 #e1632f inset, 0 -1px 0 #e1632f inset; }
    #content #sidebar ul li .edit input {
      padding: 3px 4px 2px;
      margin-left: -5px;
      margin-right: 5px;
      width: 135px;
      border: 0;
      outline: 0;
      background: white;
      border-radius: 4px; }
    #content #sidebar ul li .edit .save {
      width: 18px;
      height: 16px;
      left: auto;
      right: 65px;
      top: 5px;
      background: url(../../images/whitesprite.png) no-repeat 0 -198px; }
#content #tasks {
  top: 40px;
  left: 250px; }
  #content #tasks .explanation {
    width: 300px;
    padding: 15px;
    top: 100px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #aaa;
    border-radius: 5px;
    color: #444;
    font-size: 14px; }
  #content #tasks h2 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 0 1px 0 #EEE; }
  #content #tasks p {
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 0 1px 0 #eee; }
  #content #tasks ul {
    padding: 0 15px;
    margin-bottom: 30px; }
    #content #tasks ul li {
      margin-bottom: -1px;
      border: 1px solid #bebebe;
      background: #fcfcfc;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f9f9));
      background: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
      background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
      background: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
      background: -ms-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
      background: linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
      border-radius: 4px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
      -webkit-transition: 150ms ease margin; }
      #content #tasks ul li .todotxt {
        height: 30px;
        padding: 0 10px 0 0;
        font-size: 13px;
        line-height: 32px; }
      #content #tasks ul li .labels {
        font-size: 12px;
        line-height: 30px;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f9f9));
        background: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        background: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        background: -ms-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        background: linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
        #content #tasks ul li .labels span {
          height: 30px;
          padding: 0 10px;
          line-height: 30px;
          color: #555;
          border-left: 1px solid #ddd;
          /* Remove border radius from last label */ }
          #content #tasks ul li .labels span:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px; }
          #content #tasks ul li .labels span.date, #content #tasks ul li .labels span.dateLabel {
            border-left: 1px solid #ddd; }
            #content #tasks ul li .labels span.date.overdue, #content #tasks ul li .labels span.dateLabel.overdue {
              background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff9f9), color-stop(100%, #ffdddd));
              background: -webkit-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
              background: -moz-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
              background: -o-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
              background: -ms-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
              background: linear-gradient(top, #fff9f9 0%, #ffdddd 100%); }
            #content #tasks ul li .labels span.date.due, #content #tasks ul li .labels span.dateLabel.due {
              background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff9f9), color-stop(100%, #ffdddd));
              background: -webkit-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
              background: -moz-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
              background: -o-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
              background: -ms-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
              background: linear-gradient(top, #fff9f9 0%, #ffdddd 100%); }
          #content #tasks ul li .labels span.today.inToday, #content #tasks ul li .labels span.today.todayLabel, #content #tasks ul li .labels span.todayLabel.inToday, #content #tasks ul li .labels span.todayLabel.todayLabel {
            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fff3d9));
            background: -webkit-linear-gradient(top, #ffffff 0%, #fff3d9 100%);
            background: -moz-linear-gradient(top, #ffffff 0%, #fff3d9 100%);
            background: -o-linear-gradient(top, #ffffff 0%, #fff3d9 100%);
            background: -ms-linear-gradient(top, #ffffff 0%, #fff3d9 100%);
            background: linear-gradient(top, #ffffff 0%, #fff3d9 100%); }
          #content #tasks ul li .labels span.priority.important {
            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff9f9), color-stop(100%, #ffdddd));
            background: -webkit-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
            background: -moz-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
            background: -o-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
            background: -ms-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
            background: linear-gradient(top, #fff9f9 0%, #ffdddd 100%); }
          #content #tasks ul li .labels span.priority.medium {
            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fff3d9));
            background: -webkit-linear-gradient(top, #ffffff 0%, #fff3d9 100%);
            background: -moz-linear-gradient(top, #ffffff 0%, #fff3d9 100%);
            background: -o-linear-gradient(top, #ffffff 0%, #fff3d9 100%);
            background: -ms-linear-gradient(top, #ffffff 0%, #fff3d9 100%);
            background: linear-gradient(top, #ffffff 0%, #fff3d9 100%); }
          #content #tasks ul li .labels span.priority.low {
            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e0f1ff));
            background: -webkit-linear-gradient(top, #ffffff 0%, #e0f1ff 100%);
            background: -moz-linear-gradient(top, #ffffff 0%, #e0f1ff 100%);
            background: -o-linear-gradient(top, #ffffff 0%, #e0f1ff 100%);
            background: -ms-linear-gradient(top, #ffffff 0%, #e0f1ff 100%);
            background: linear-gradient(top, #ffffff 0%, #e0f1ff 100%); }
      #content #tasks ul li .hidden textarea {
        border: 0;
        font-size: 13px;
        border-top: 1px solid #ddd;
        background: url(../../images/notes.png) no-repeat 7px 7px, #fbfaf0;
        padding: 8px 25px 8px 30px;
        border-radius: 0 0 4px 4px;
        color: #444;
        min-height: 62px; }
      #content #tasks ul li.selected {
        background: #fff6f3;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff6f3), color-stop(100%, #ffdbcd));
        background: -webkit-linear-gradient(top, #fff6f3 0%, #ffdbcd 100%);
        background: -moz-linear-gradient(top, #fff6f3 0%, #ffdbcd 100%);
        background: -o-linear-gradient(top, #fff6f3 0%, #ffdbcd 100%);
        background: -ms-linear-gradient(top, #fff6f3 0%, #ffdbcd 100%);
        background: linear-gradient(top, #fff6f3 0%, #ffdbcd 100%); }
      #content #tasks ul li.logged {
        background: #eee;
        color: #666; }
      #content #tasks ul li.placeholder {
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset; }
      #content #tasks ul li .checkbox {
        width: 13px;
        height: 13px;
        padding: 9px 8px 8px 8px; }
        #content #tasks ul li .checkbox input[type=checkbox] {
          width: 13px;
          height: 13px;
          border-radius: 2px;
          background: #fff;
          border: 1px solid #d4d4d4; }
          #content #tasks ul li .checkbox input[type=checkbox]:hover {
            border-color: #C6C6C6;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); }
          #content #tasks ul li .checkbox input[type=checkbox]:checked:after {
            top: -1px;
            left: 0px;
            content: url(../../images/checkmark.png); }
      #content #tasks ul li.low .checkbox input[type=checkbox] {
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #adceea), color-stop(100%, #bad6ee));
        background: -webkit-linear-gradient(top, #adceea 0%, #bad6ee 100%);
        background: -moz-linear-gradient(top, #adceea 0%, #bad6ee 100%);
        background: -o-linear-gradient(top, #adceea 0%, #bad6ee 100%);
        background: -ms-linear-gradient(top, #adceea 0%, #bad6ee 100%);
        background: linear-gradient(top, #adceea 0%, #bad6ee 100%);
        border: 1px solid #69a6d9; }
      #content #tasks ul li.medium .checkbox input[type=checkbox] {
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffda5d), color-stop(100%, #ffe27e));
        background: -webkit-linear-gradient(top, #ffda5d 0%, #ffe27e 100%);
        background: -moz-linear-gradient(top, #ffda5d 0%, #ffe27e 100%);
        background: -o-linear-gradient(top, #ffda5d 0%, #ffe27e 100%);
        background: -ms-linear-gradient(top, #ffda5d 0%, #ffe27e 100%);
        background: linear-gradient(top, #ffda5d 0%, #ffe27e 100%);
        border: 1px solid #D4AA20; }
      #content #tasks ul li.important .checkbox input[type=checkbox] {
        background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(15%, #ffbbbb), color-stop(100%, #ffaaaa));
        background: -webkit-linear-gradient(bottom, #ffbbbb 15%, #ffaaaa 100%);
        background: -moz-linear-gradient(bottom, #ffbbbb 15%, #ffaaaa 100%);
        background: -o-linear-gradient(bottom, #ffbbbb 15%, #ffaaaa 100%);
        background: -ms-linear-gradient(bottom, #ffbbbb 15%, #ffaaaa 100%);
        background: linear-gradient(bottom, #ffbbbb 15%, #ffaaaa 100%);
        border: 1px solid #f44; }

#loading {
  display: none; }
