/* Nitro Default
 * Authors: Jono Cooper & George Czabania
 * http://caffeinatedco.de
 */
body {
  background: url(../../images/back.png);
  font-family: "Helvetica", "Arial", "Ubuntu", sans-serif; }

#panel {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #383734), color-stop(100%, #53514a));
  background: -webkit-linear-gradient(top, #383734 0%, #53514a 100%);
  background: -moz-linear-gradient(top, #383734 0%, #53514a 100%);
  background: -o-linear-gradient(top, #383734 0%, #53514a 100%);
  background: -ms-linear-gradient(top, #383734 0%, #53514a 100%);
  background: linear-gradient(top, #383734 0%, #53514a 100%);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7); }
  #panel #brand {
    color: #fff;
    text-shadow: 0 1px 0 #222;
    border-right: 1px solid #282828; }
  #panel nav ul li {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 0 #222; }

#content #sidebar {
  width: 250px;
  top: 40px;
  /* Set to panel height */
  background-color: #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f9f9));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  background: linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  border-right: 1px solid #aaa; }
  #content #sidebar h2 {
    margin: 0;
    padding: 10px 25px 10px 15px;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    color: #222;
    background: #FAFAFA;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    box-shadow: 0 0 3px #ddd inset; }
    #content #sidebar h2 #addListBTN {
      width: 8px;
      height: 8px;
      padding: 4px;
      border-radius: 50%;
      background: url(../../images/addList.png) no-repeat 4px 4px; }
      #content #sidebar h2 #addListBTN:hover {
        background: #e2e2e2 url(../../images/addList.png) no-repeat 4px 4px; }
  #content #sidebar ul li {
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    text-indent: 25px; }
    #content #sidebar ul li.dragHover:not(.selected) {
      background: #ecf8ff; }
    #content #sidebar ul li .editIcon {
      left: 6px;
      top: 7px;
      width: 17px;
      height: 17px;
      background: url(../../images/pencil.png) no-repeat; }
    #content #sidebar ul li.selected {
      font-weight: bold;
      color: #fff;
      background-color: #7bbff1;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7bbff1), color-stop(100%, #508ccb));
      background: -webkit-linear-gradient(top, #7bbff1 0%, #508ccb 100%);
      background: -moz-linear-gradient(top, #7bbff1 0%, #508ccb 100%);
      background: -o-linear-gradient(top, #7bbff1 0%, #508ccb 100%);
      background: -ms-linear-gradient(top, #7bbff1 0%, #508ccb 100%);
      background: linear-gradient(top, #7bbff1 0%, #508ccb 100%);
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 0 #75a9e2 inset, 0 -1px 0 #5080c7 inset; }
      #content #sidebar ul li.selected .editIcon {
        left: 5px;
        top: 6px;
        background: url(../../images/pencilWhite.png); }
    #content #sidebar ul li .edit input {
      padding: 3px 4px;
      margin-left: -5px;
      margin-right: 5px;
      width: 168px;
      border: 0;
      outline: 0;
      background: white;
      border-radius: 4px; }
    #content #sidebar ul li .edit .delete, #content #sidebar ul li .edit .save {
      width: 18px;
      height: 16px;
      display: inline-block;
      vertical-align: middle; }
    #content #sidebar ul li .edit .delete {
      background: url("../../images/remove.png") no-repeat 0 0; }
    #content #sidebar ul li .edit .save {
      background: url("../../images/ok.png") no-repeat 0 0; }
    #content #sidebar ul li .count {
      width: 50px;
      margin-right: 20px;
      text-align: center; }
#content #tasks {
  padding: 40px 0 40px 250px; }
  #content #tasks .explanation {
    width: 300px;
    padding: 15px;
    top: 100px;
    margin-left: -36px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #aaa;
    border-radius: 5px;
    color: #444;
    font-size: 14px; }
  #content #tasks h2 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 0 1px 0 #EEE; }
  #content #tasks ul {
    padding: 0 15px;
    margin-bottom: 30px; }
    #content #tasks ul li {
      margin-bottom: -1px;
      border: 1px solid #bebebe;
      background: #fcfcfc;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f9f9));
      background: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
      background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
      background: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
      background: -ms-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
      background: linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
      border-radius: 4px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
      -webkit-transition: 150ms ease margin; }
      #content #tasks ul li.selected {
        background: #ebf8fd;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebf8fd), color-stop(100%, #b1e5ff));
        background: -webkit-linear-gradient(top, #ebf8fd 0%, #b1e5ff 100%);
        background: -moz-linear-gradient(top, #ebf8fd 0%, #b1e5ff 100%);
        background: -o-linear-gradient(top, #ebf8fd 0%, #b1e5ff 100%);
        background: -ms-linear-gradient(top, #ebf8fd 0%, #b1e5ff 100%);
        background: linear-gradient(top, #ebf8fd 0%, #b1e5ff 100%); }
      #content #tasks ul li.logged {
        background: #eee;
        color: #666; }
      #content #tasks ul li.placeholder {
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset; }
      #content #tasks ul li .checkbox {
        width: 13px;
        height: 13px;
        padding: 9px 8px 8px 8px; }
        #content #tasks ul li .checkbox input[type=checkbox] {
          width: 13px;
          height: 13px;
          border-radius: 2px;
          background: #fff;
          border: 1px solid #d4d4d4; }
        #content #tasks ul li .checkbox:hover {
          border-color: #C6C6C6;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); }
        #content #tasks ul li .checkbox:checked:after {
          top: -1px;
          left: 0px;
          content: url(../images/checkmark.png); }
