/* Nitro Default
 * Authors: Jono Cooper & George Czabania
 * http://caffeinatedco.de
 */
body {
  background: url(wunderlist/back.jpeg) top center no-repeat fixed;
  font-family: "Helvetica", "Arial", "Ubuntu", sans-serif; }

#panel {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646464), color-stop(100%, #424242));
  background: -webkit-linear-gradient(top, #646464 0%, #424242 100%);
  background: -moz-linear-gradient(top, #646464 0%, #424242 100%);
  background: -o-linear-gradient(top, #646464 0%, #424242 100%);
  background: -ms-linear-gradient(top, #646464 0%, #424242 100%);
  background: linear-gradient(top, #646464 0%, #424242 100%);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  height: 36px; }
  #panel #brand {
    color: #fff;
    text-shadow: 0 1px 0 #222;
    border-right: 1px solid #282828;
    display: none; }
  #panel nav {
    left: 20px; }
    #panel nav ul li {
      font-size: 12px;
      color: #ddd;
      margin-top: 9px;
      height: 19px;
      text-shadow: 0 1px 0 #222;
      -webkit-transition: 100ms linear background; }
      #panel nav ul li.disabled {
        opacity: 0.5; }
      #panel nav ul li span {
        display: block;
        float: left;
        line-height: 19px;
        text-indent: 5px; }
      #panel nav ul li:not(.disabled):hover {
        color: #fff;
        background: inherit; }
      #panel nav ul li .icon {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-top: 0px;
        vertical-align: top;
        margin-right: 2px;
        top: -5px;
        position: relative; }
        #panel nav ul li .icon.add {
          background: url(wunderlist/sprite.png) no-repeat; }
        #panel nav ul li .icon.edit {
          background: url(wunderlist/sprite.png) 0 -27px no-repeat; }
        #panel nav ul li .icon.delete {
          background: url(wunderlist/sprite.png) 0 -53px no-repeat; }
  #panel #right {
    padding-right: 0; }
    #panel #right ul li {
      height: 36px; }
      #panel #right ul li .settings {
        top: 50px;
        margin-left: -185px;
        width: 300px;
        background: rgba(51, 51, 51, 0.95);
        box-shadow: 0 1px 19px rgba(0, 0, 0, 0.35), inset 0 0 1px rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px; }
      #panel #right ul li img {
        width: 22px;
        height: 22px;
        padding: 2px;
        margin: 5px; }
      #panel #right ul li#logbookBTN img {
        background: url(wunderlist/sprite.png) 0 -81px no-repeat; }
      #panel #right ul li#settingsBTN img {
        background: url(wunderlist/sprite.png) 0 -107px no-repeat; }
      #panel #right ul li#searchWrap {
        width: 260px;
        height: 60px;
        vertical-align: top;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f7f8), color-stop(100%, #e7eaf2));
        background: -webkit-linear-gradient(top, #f6f7f8 0%, #e7eaf2 100%);
        background: -moz-linear-gradient(top, #f6f7f8 0%, #e7eaf2 100%);
        background: -o-linear-gradient(top, #f6f7f8 0%, #e7eaf2 100%);
        background: -ms-linear-gradient(top, #f6f7f8 0%, #e7eaf2 100%);
        background: linear-gradient(top, #f6f7f8 0%, #e7eaf2 100%);
        border-bottom: 1px solid #d1d2d4; }
      #panel #right ul li #search {
        border: 0;
        position: relative;
        width: 204px;
        line-height: 13px;
        font-size: 13px;
        padding: 4px;
        padding-left: 23px;
        border-radius: 3px;
        margin: 17px 13px;
        border-radius: 50px;
        background: url(../../images/whitesprite.png) no-repeat 5px -65px, white;
        border: 1px solid #ccc;
        box-shadow: 0 1px 0 #fafafa; }

#content #sidebar {
  width: 260px;
  left: 100%;
  margin-left: -260px;
  top: 40px;
  /* Set to panel height */
  padding-top: 20px;
  box-shadow: 0 0 20px #000;
  background-color: #f4f5f7; }
  #content #sidebar h2[data-translate=focus] {
    display: none; }
  #content #sidebar span[data-translate=lists] {
    display: none; }
  #content #sidebar h2 {
    margin: 0;
    top: 100%;
    height: 36px;
    margin-top: -36px;
    padding: 0;
    position: fixed;
    font-size: 13px;
    line-height: 13px;
    color: #fff;
    font-weight: bold;
    border-top: 1px solid #4a4a4a;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646464), color-stop(100%, #424242));
    background: -webkit-linear-gradient(top, #646464 0%, #424242 100%);
    background: -moz-linear-gradient(top, #646464 0%, #424242 100%);
    background: -o-linear-gradient(top, #646464 0%, #424242 100%);
    background: -ms-linear-gradient(top, #646464 0%, #424242 100%);
    background: linear-gradient(top, #646464 0%, #424242 100%); }
    #content #sidebar h2 #addListBTN {
      width: 252px;
      height: 27px;
      padding: 4px;
      background: transparent; }
      #content #sidebar h2 #addListBTN::before {
        content: 'Add List';
        display: inline-block;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #43a4ef), color-stop(100%, #1773b4));
        background: -webkit-linear-gradient(top, #43a4ef 0%, #1773b4 100%);
        background: -moz-linear-gradient(top, #43a4ef 0%, #1773b4 100%);
        background: -o-linear-gradient(top, #43a4ef 0%, #1773b4 100%);
        background: -ms-linear-gradient(top, #43a4ef 0%, #1773b4 100%);
        background: linear-gradient(top, #43a4ef 0%, #1773b4 100%);
        padding: 3px 8px;
        font-size: 11px;
        box-shadow: 0px 1px 1px #676767, 0 1px 0 rgba(255, 255, 255, 0.3) inset;
        border: 1px solid #343434;
        border-radius: 16px;
        text-shadow: 0px 1px 1px #176EA5;
        margin: 2px; }
      #content #sidebar h2 #addListBTN:hover {
        background: transparent; }
  #content #sidebar ul li {
    height: 23px;
    padding: 5px 0px 5px 15px;
    font-size: 13px;
    color: #444;
    font-weight: bold;
    line-height: 23px;
    text-indent: 0;
    border-bottom: 1px solid #E1E2E4;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #f3f4f6));
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #f3f4f6 100%);
    background: -moz-linear-gradient(top, #f8f8f8 0%, #f3f4f6 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%, #f3f4f6 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%, #f3f4f6 100%);
    background: linear-gradient(top, #f8f8f8 0%, #f3f4f6 100%); }
    #content #sidebar ul li:hover {
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f7f8fa));
      background: -webkit-linear-gradient(top, #ffffff 0%, #f7f8fa 100%);
      background: -moz-linear-gradient(top, #ffffff 0%, #f7f8fa 100%);
      background: -o-linear-gradient(top, #ffffff 0%, #f7f8fa 100%);
      background: -ms-linear-gradient(top, #ffffff 0%, #f7f8fa 100%);
      background: linear-gradient(top, #ffffff 0%, #f7f8fa 100%); }
    #content #sidebar ul li.dragHover:not(.selected) {
      background: #ecf8ff; }
    #content #sidebar ul li .editIcon {
      left: 6px;
      top: 7px;
      width: 17px;
      height: 17px; }
    #content #sidebar ul li.selected {
      font-weight: bold;
      color: #fff;
      background-color: #7bbff1;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33a3ef), color-stop(100%, #168ad4));
      background: -webkit-linear-gradient(top, #33a3ef 0%, #168ad4 100%);
      background: -moz-linear-gradient(top, #33a3ef 0%, #168ad4 100%);
      background: -o-linear-gradient(top, #33a3ef 0%, #168ad4 100%);
      background: -ms-linear-gradient(top, #33a3ef 0%, #168ad4 100%);
      background: linear-gradient(top, #33a3ef 0%, #168ad4 100%);
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 0 #75a9e2 inset, 0 -1px 0 #5080c7 inset; }
      #content #sidebar ul li.selected .editIcon {
        left: auto;
        right: 40px;
        top: 7px;
        background: url(../../images/whitesprite.png) no-repeat -1px -145px; }
    #content #sidebar ul li .edit input {
      padding: 3px 4px;
      margin-left: -5px;
      margin-right: 5px;
      width: 175px;
      border: 0;
      outline: 0;
      background: white;
      border-radius: 4px; }
    #content #sidebar ul li .edit .delete, #content #sidebar ul li .edit .save {
      width: 18px;
      height: 16px;
      display: inline-block;
      vertical-align: middle; }
    #content #sidebar ul li .edit .delete {
      background: url(../../images/whitesprite.png) no-repeat 0 -120px; }
    #content #sidebar ul li .edit .save {
      background: url(../../images/whitesprite.png) no-repeat 0 -198px; }
    #content #sidebar ul li .count {
      width: 50px;
      text-align: center; }
#content #tasks {
  padding: 40px 260px 40px 0; }
  #content #tasks .explanation {
    width: 300px;
    padding: 15px;
    top: 100px;
    margin-left: -297px;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.45), 0 1px 0 rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  #content #tasks p {
    color: #eee;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
  #content #tasks h2 {
    font-size: 18px;
    word-wrap: break-word;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0px 1px 3px #333;
    text-align: center;
    margin-bottom: 13px;
    padding-bottom: 3px; }
  #content #tasks ul {
    padding: 0 20px;
    margin-bottom: 30px; }
    #content #tasks ul li {
      margin-bottom: -1px;
      border: 1px solid #bebebe;
      background: #fcfcfc;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f9f9));
      background: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
      background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
      background: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
      background: -ms-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
      background: linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
      border-radius: 5px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); }
      #content #tasks ul li .todotxt {
        height: 30px;
        padding: 0 10px 0 0;
        font-size: 13px;
        line-height: 32px; }
      #content #tasks ul li .labels {
        font-size: 12px;
        line-height: 30px;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f9f9));
        background: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        background: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        background: -ms-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        background: linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
        #content #tasks ul li .labels span {
          height: 30px;
          padding: 0 10px;
          line-height: 30px;
          color: #555;
          border-left: 1px solid #ddd;
          /* Remove border radius from last label */ }
          #content #tasks ul li .labels span:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px; }
          #content #tasks ul li .labels span.date, #content #tasks ul li .labels span.dateLabel {
            border-left: 1px solid #ddd; }
            #content #tasks ul li .labels span.date.due, #content #tasks ul li .labels span.dateLabel.due {
              background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff9f9), color-stop(100%, #ffdddd));
              background: -webkit-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
              background: -moz-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
              background: -o-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
              background: -ms-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
              background: linear-gradient(top, #fff9f9 0%, #ffdddd 100%); }
          #content #tasks ul li .labels span.today.inToday, #content #tasks ul li .labels span.today.todayLabel, #content #tasks ul li .labels span.todayLabel.inToday, #content #tasks ul li .labels span.todayLabel.todayLabel {
            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fff3d9));
            background: -webkit-linear-gradient(top, #ffffff 0%, #fff3d9 100%);
            background: -moz-linear-gradient(top, #ffffff 0%, #fff3d9 100%);
            background: -o-linear-gradient(top, #ffffff 0%, #fff3d9 100%);
            background: -ms-linear-gradient(top, #ffffff 0%, #fff3d9 100%);
            background: linear-gradient(top, #ffffff 0%, #fff3d9 100%); }
          #content #tasks ul li .labels span.priority.important {
            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff9f9), color-stop(100%, #ffdddd));
            background: -webkit-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
            background: -moz-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
            background: -o-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
            background: -ms-linear-gradient(top, #fff9f9 0%, #ffdddd 100%);
            background: linear-gradient(top, #fff9f9 0%, #ffdddd 100%); }
          #content #tasks ul li .labels span.priority.medium {
            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fff3d9));
            background: -webkit-linear-gradient(top, #ffffff 0%, #fff3d9 100%);
            background: -moz-linear-gradient(top, #ffffff 0%, #fff3d9 100%);
            background: -o-linear-gradient(top, #ffffff 0%, #fff3d9 100%);
            background: -ms-linear-gradient(top, #ffffff 0%, #fff3d9 100%);
            background: linear-gradient(top, #ffffff 0%, #fff3d9 100%); }
          #content #tasks ul li .labels span.priority.low {
            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e0f1ff));
            background: -webkit-linear-gradient(top, #ffffff 0%, #e0f1ff 100%);
            background: -moz-linear-gradient(top, #ffffff 0%, #e0f1ff 100%);
            background: -o-linear-gradient(top, #ffffff 0%, #e0f1ff 100%);
            background: -ms-linear-gradient(top, #ffffff 0%, #e0f1ff 100%);
            background: linear-gradient(top, #ffffff 0%, #e0f1ff 100%); }
      #content #tasks ul li .hidden textarea {
        border: 0;
        font-size: 13px;
        border-top: 1px solid #ddd;
        background: url(../../images/notes.png) no-repeat 7px 7px, #fbfaf0;
        padding: 8px 25px 8px 30px;
        border-radius: 0 0 4px 4px;
        color: #444;
        min-height: 62px; }
      #content #tasks ul li.selected {
        background: #ebf8fd;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebf8fd), color-stop(100%, #b1e5ff));
        background: -webkit-linear-gradient(top, #ebf8fd 0%, #b1e5ff 100%);
        background: -moz-linear-gradient(top, #ebf8fd 0%, #b1e5ff 100%);
        background: -o-linear-gradient(top, #ebf8fd 0%, #b1e5ff 100%);
        background: -ms-linear-gradient(top, #ebf8fd 0%, #b1e5ff 100%);
        background: linear-gradient(top, #ebf8fd 0%, #b1e5ff 100%); }
      #content #tasks ul li.logged {
        background: #eee;
        color: #666; }
      #content #tasks ul li.placeholder {
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset; }
      #content #tasks ul li .checkbox {
        width: 13px;
        height: 13px;
        padding: 9px 8px 8px 8px; }
        #content #tasks ul li .checkbox input[type=checkbox] {
          width: 13px;
          height: 13px;
          border-radius: 2px;
          background: #fff;
          border: 1px solid #d4d4d4; }
          #content #tasks ul li .checkbox input[type=checkbox]:hover {
            border-color: #C6C6C6;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); }
          #content #tasks ul li .checkbox input[type=checkbox]:checked:after {
            top: -1px;
            left: 0px;
            content: url(../../images/checkmark.png); }
      #content #tasks ul li.low .checkbox input[type=checkbox] {
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #adceea), color-stop(100%, #bad6ee));
        background: -webkit-linear-gradient(top, #adceea 0%, #bad6ee 100%);
        background: -moz-linear-gradient(top, #adceea 0%, #bad6ee 100%);
        background: -o-linear-gradient(top, #adceea 0%, #bad6ee 100%);
        background: -ms-linear-gradient(top, #adceea 0%, #bad6ee 100%);
        background: linear-gradient(top, #adceea 0%, #bad6ee 100%);
        border: 1px solid #69a6d9; }
      #content #tasks ul li.medium .checkbox input[type=checkbox] {
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffda5d), color-stop(100%, #ffe27e));
        background: -webkit-linear-gradient(top, #ffda5d 0%, #ffe27e 100%);
        background: -moz-linear-gradient(top, #ffda5d 0%, #ffe27e 100%);
        background: -o-linear-gradient(top, #ffda5d 0%, #ffe27e 100%);
        background: -ms-linear-gradient(top, #ffda5d 0%, #ffe27e 100%);
        background: linear-gradient(top, #ffda5d 0%, #ffe27e 100%);
        border: 1px solid #D4AA20; }
      #content #tasks ul li.important .checkbox input[type=checkbox] {
        background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(15%, #ffbbbb), color-stop(100%, #ffaaaa));
        background: -webkit-linear-gradient(bottom, #ffbbbb 15%, #ffaaaa 100%);
        background: -moz-linear-gradient(bottom, #ffbbbb 15%, #ffaaaa 100%);
        background: -o-linear-gradient(bottom, #ffbbbb 15%, #ffaaaa 100%);
        background: -ms-linear-gradient(bottom, #ffbbbb 15%, #ffaaaa 100%);
        background: linear-gradient(bottom, #ffbbbb 15%, #ffaaaa 100%);
        border: 1px solid #f44; }

#loading {
  display: none; }
