{
	"presets": [
    "flow",
    [
      "env",
      {"modules": false}
    ],
  ],
  "plugins": [
    ["transform-class-properties"],
    ["transform-react-jsx", { "pragma":"preact.h" } ],
    ["syntax-dynamic-import"]
  ],
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": [
        [ "istanbul" ],
        ["transform-class-properties"],
        ["transform-react-jsx", { "pragma":"preact.h" } ],
        ["syntax-dynamic-import"]
      ],
    }
  }
}