{
  "env": {
    "legacy": {
      "presets": [
        "@babel/preset-flow",
        "@babel/preset-env",
        "@babel/preset-react"
      ],
      "plugins": [
        "react-native-web",
        "@babel/plugin-proposal-class-properties"
      ]
    },
    "modern": {
      "presets": [
        "@babel/preset-flow",
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": {
              "esmodules": true
            }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "react-native-web",
        "@babel/plugin-proposal-class-properties"
      ]
    },
    "test": {
      "presets": [
        "@babel/preset-flow",
        "@babel/preset-env",
        "@babel/preset-react"
      ],
      "plugins": [
        "istanbul",
        "react-native-web",
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}