{
	"presets": [
    "flow",
    "env",
    "react",
    "stage-2"
  ],
  "plugins": [
    ["react-native-web"]
  ],
  "env": {
    "test": {
      "presets": ["flow", "env", "react", "stage-2"],
      "plugins": [
        [ "istanbul" ],
        ["react-native-web"]
      ],
    }
  }
}