html, body {
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
}
#content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#sidebar {
	height: 100%;
	position: absolute;
	z-index: 1;
	box-sizing: border-box;
	min-width: 150px;
	width: 200px;
	max-width: 350px;
}
#tasks {
	position: absolute;
	height: 100%;
	z-index: 1;
	box-sizing: border-box;		
}
#tasks .content {
	height: 100%;
	overflow-y: auto;
}
.panel {
	height: 40px;
	width: 100%;
	background: #444;
	z-index: 4;
	position: relative;
}
.vsplitbar {
	border-right: 4px solid transparent;
	box-sizing: border-box;
	z-index: 3;
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	width: 5px;
	border-left: 1px solid #444;
	box-shadow: 0 -40px 0 #444;
	margin-top: 40px;
	height: 100%;
}