html, body {
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
}
#panel {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	height: 40px;
	z-index: 5;
	background: #444;
}
#content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#sidebar {
	height: 100%;
	position: absolute;
	z-index: 1;
	box-sizing: border-box;
	padding-top: 40px;
	min-width: 150px;
	width: 200px;
	max-width: 350px;
}
#tasks {
	padding-top: 40px;
	position: absolute;
	height: 100%;
	z-index: 1;
	box-sizing: border-box;		
}
#tasks div {
	height: 100%;
	overflow-y: auto;
}
.vsplitbar {
	z-index: 3;
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	width: 5px;
	height: 100%;
	background: #000;
}