
// ----------------------------------------------------------------------------
//    # AUTH
// ----------------------------------------------------------------------------

.auth {

  // White background fill
  @include pos(0, 0, 0, 0, fixed);
  background: $light-grey;
  z-index: $z-auth;

  // Scrolling in case the screen is too small
  overflow-y: auto;
  @extend %smoothScroll;

  $container-width: 620px;
  $contents-margin: 10px;

  /* Container to position content in the center of the page */
  .group {
    width: $container-width + $contents-margin;
    margin: 50px auto 40px;
    padding: 30px;
    border: 1px solid $mid-grey;
    background: $white;
  }

  // --------------------------------------------------------------------------
  //    ## ABOUT SECTION
  // --------------------------------------------------------------------------

  .about {
    width: $container-width / 2;
    float: left;
    margin-right: $contents-margin;

    img {
      display: inline-block;
    }

    h1 {
      display: inline-block;
      vertical-align: top;
      margin: 0 20px;
      line-height: 128px;
    }

    p {
      max-width: 400px;
      margin: 0 auto 25px;
      font-size: 16px;
      line-height: 1.5;
      color: #444444;
    }

  }

  // --------------------------------------------------------------------------
  //    ## LOGIN FORM
  // --------------------------------------------------------------------------

  .form {
    font-size: 16px;
    float: right;
    width: $container-width / 2;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  // --------------------------------------------------------------------------
  //    ## MODES
  // --------------------------------------------------------------------------

  &.login {
    .register,
    .auth-name,
    .note-register {
      display: none;
    }
  }

  &.register {
    .login,
    .note-login {
      display: none;
    }
  }


  // --------------------------------------------------------------------------
  //    ## MESSAGES
  // --------------------------------------------------------------------------

  p {
    font-size: 14px;
    text-align: center;
  }

  .note {
    margin-bottom: 10px;
    color: #777777;
    a {
      text-decoration: none;
      color: #555555;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .note-success {
    display: none;
  }

  .error {
    font-size: 13px;
    color: #e15556;
    font-weight: bold;

    &.populated {
      display: inline-block;
      margin-top: 20px;
    }

    a {
      text-decoration: none;
      color: darken(#e15556, 10%);

      &:hover {
        text-decoration: underline;
      }

    }
  }

  // --------------------------------------------------------------------------
  //    ## SPINNER
  // --------------------------------------------------------------------------

  button.register,
  button.login {
    @include spinner(4px, 7px, 34px);
  }


  // --------------------------------------------------------------------------
  //    ## BUTTONS
  // --------------------------------------------------------------------------

  button {
    width: 100%;
    vertical-align: top;
    position: relative;
    overflow: hidden;
  }

  button.login,
  button.register {
    @extend %thick-button;
    color: $white;
  }

  button.login {
    @include button-bg($dark-green);
    @include text-shadow(0 -1px 1px darken($dark-green, 10));
  }

  button.register {
    @include button-bg($dark-blue);
    @include text-shadow(0 -1px 1px darken($dark-blue, 10));
  }

  button.offline {
    @extend %thin-button;
    font-size: 13px;
  }

  // --------------------------------------------------------------------------
  //    ## TEXT INPUTS
  // --------------------------------------------------------------------------

  .auth-name, .auth-password, .auth-email {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 32px;
    background-size: 16px;
    background-size: 16px;
    background-position: 9px 50%;
    background-repeat: no-repeat;
    @extend %thin-input;
  }

  .auth-email {
    background-image: url("../img/emaillogin.png");
    background-size: 18px;
    background-position: 8px 50%;
    border-bottom: 0;
    margin-bottom: 0;

    &:focus {
      border-bottom: 1px #1bc1f5 solid;
      & + input {
        border-top: 0;
      }
    }
  }

  .auth-password {
    background-image: url("../img/password.png");
  }

  .auth-name {
    background-image: url("../img/user.png");
  }

}
