
.list-buttons {

  @include pos(auto, 0, 10px, auto);
  font-size: 0;
  text-align: right;

  li {
    display: inline-block;
    list-style-type: none;
    margin: 0 6px;
    height: 17px;
    width: 16px;
    background-repeat: no-repeat;
  }

  .trash, .email, .print, .sort {
    background-image: url("../img/panel/sprite_list.png");
  }

  .trash {
    background-position: -16px 0;
  }
  .email {
  }
  .print {
    background-position: -48px 0;
  }
  .share {
    background-image: url("../img/share.png");
  }
  .sort {
    background-position: -32px 0;
  }

}