
.mac {
  header {
    display: none;
  }
  .sidebar, .main {
    top: 0;
  }
}

header {

  @include user-select(none);
  @include pos(0, 0, auto, 0);
  height: 39px;
  z-index: 1;
  @include vbg-gradient(#eaeaea, #ccc);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid #aaaaaa;

  .logo {
    height: 40px;
    width: 83px;
    background-image: url(../img/logo.png);
    background-size: 83px 40px;
    margin-left: 15px;
    display: inline-block;

    @include breakpoint(retina) {
      background-image: url("../img/logo@2x.png");
    }
    
    @include breakpoint(mobile) {
      background: url("../img/hamburger.png") no-repeat 0 9px;
      background-size: 27px 21px;
    }

  }

  .user {
    float: right;
    vertical-align: top;
    display: inline-block;
    margin-top: 2px;
    margin-right: 5px;
    padding: 3px 5px 1px 3px;
    border: 1px solid transparent;
    border-radius: 3px;

    &:hover {
      @include vbg-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.1));
      border: 1px solid rgba(0, 0, 0, 0.2);
    }

    &:active {
      @include vbg-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.3));
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
    }

    img {
      margin-right: 8px;
      border-radius: 3px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-shadow: 0 1px 1px #eeeeee;
      border: 1px solid rgba(0, 0, 0, 0.7);
      vertical-align: top;
      display: none;
    }
    .name {
      display: inline-block;
      font-size: 13px;
      line-height: 30px;
      cursor: default;
      color: #333333;
      @include text-shadow(0px 1px 0px #f6f6f6);
    }
  }

  // .seperator {
  //   float: right;
  //   line-height: 40px;
  //   color: #aaaaaa;
  //   @include text-shadow(0px 1px 0px #fafafa);
  //   padding-right: 5px;
  // }

  .openSettings {
    display: inline-block;
    float: right;
    vertical-align: top;
    margin-right: 10px;

    vertical-align: top;
    margin: 14px 14px 0 5px;
    background-image: url("../img/settings.png");
    width: 14px;
    height: 14px;
    display: inline-block;
    padding-right: 0;
    background-size: 14px;

    &:active {
      opacity: 0.5;
    }

  }
}

.search {
  vertical-align: top;
  display: inline-block;
  position: relative;
  float: right;
  height: 24px;
  padding: 0 5px 0 25px;
  margin: 7px 0 0 18px;
  @include border-radius(4px);
  border: 1px solid #bbbbbb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  background: white url("../img/search.png") no-repeat 7px 5px;
  background-size: 15px 15px;

  input {
    width: 200px;
    border: 0;
    height: 18px;
    margin: 3px 0 3px 2px;
    font-size: 13px;
    line-height: 18px;
    &:focus {
      outline: none;
    }
  }

}

.clear-search {
  display: none;
  @include pos(5px, 5px);
  background: url("../img/clear-search.png");
  background-size: 14px 14px;
  opacity: 0.6;
  width: 14px;
  height: 14px;
  @include transition(0.2s, opacity);
  &:hover {
    opacity: 1;
  }
}

