@-webkit-keyframes colorpulse {
  0% {
    background: #419dfa;
  }
  50% {
    background: #2d6dad;
  }
  100% {
    background: #419dfa;
  }
}


.loading-screen {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: white;
  z-index: 200;
  &.hidden {
    display: none;
  }
  .text {
    text-align: center;
    padding: 25px;
    height: 150px;
    width: 150px;
    margin-top: 0;
    position: absolute;
    left: 50%;
    top: 25%;
    margin-left: -100px;
    text-align: center;
    line-height: 30px;
    color: #444444;
  }
  img {
    width: 27px;
    -webkit-animation: 800ms colorpulse ease infinite;
    background: #419dfa;
  }
}
