.loading-screen {
  @include pos(0, 0, 0, 0);
  background: white;
  z-index: $z-loading;

  .text {
    padding: 25px;
    height: 150px;
    width: 150px;
    text-align: center;
    line-height: 30px;
    @include pos(25%, auto, auto, 50%);
    margin-left: -100px;
    margin-top: 0;
    color: $dark-grey;
  }

  img {
    width: 27px;
    @include animation( 800ms colorpulse ease infinite );
    background: #419dfa;
  }

}
