.loading-screen {
  @include pos(0, 0, 0, 0);
  background: url(../img/logo/bolt.svg) 50% 40% no-repeat;
  background-color: $sidebar-color;
  background-size: 100px;
  z-index: $z-loading;
  color: $white;

  noscript {
    text-align: center;
    position: absolute;
    top: 62%;
    width: 100%;
  }
}
