html, body {
  height: 100%;
  background: $light-grey;
  overflow: hidden;
}

$duration: 150ms;

.enterPage {
  @include animation(enterPage $duration 1 ease-out);
}

.exitPage {
  @include animation(exitPage $duration 1 ease-in);
  opacity: 0;
}

.main {
  @include pos(0, 0, 0, $sidebar-width + $sidebar-padding * 2);
  padding: 0 0 $sidebar-padding * 2;
  overflow-y: auto;
  z-index: $z-main;

  .title {
    position: fixed;
    z-index: $z-title;
    padding: 0 $sidebar-padding $sidebar-padding + 45px;
    right: 0;
    left: $sidebar-width + $sidebar-padding*2;
    background: $light-grey;

    @if $web == true {
      height: $panelHeight + 25px;
    } @else {
      height: $panelHeight + 50px;
    }

    .list-name {
      background: transparent;
      font-size: 30px;
      line-height: 36px;
      margin: 0;
      font-weight: 300;
      letter-spacing: -1px;
      outline: none;
      @include pos(auto, auto, $sidebar-padding + 51px, $sidebar-padding);
      @include transition(0.2s, border-color);
      border: 1px transparent solid;
      color: $dark-grey;

      &:disabled {
        color: $dark-grey;
        border-color: transparent !important;
        cursor: default !important;
      }

      &:hover {
        border-color: $half-grey;
        cursor: text;
      }

      &:focus {
        border-color: $mid-grey;
        background: $white;
      }

    }
  }
}

// ----------------------------------------------------------------------------
// # CREATE TASK INPUT BOX
// ----------------------------------------------------------------------------

.task-input {
  @extend %thin-input;

  @if $web == true {
    margin-top: $panelHeight + 35px;
  } @else {
    margin-top: $panelHeight + 60px;
  }

  // right: $sidebar-padding;
  // left: $sidebar-width + $sidebar-padding*3;

  font-size: 15px;
  width: 100%;
  box-shadow: 0 20px 0 $light-grey, 0 21px 0 $task-color;

  &.search {
    background-color: $light-grey;
    background-image: url("../img/main.svg");
    background-repeat: no-repeat;
    padding-left: 32px;
    background-size: 14px;
    background-position: 10px 11px;
  }

  &:focus {
    border-color: $light-blue;
  }

  @include placeholder {
    color: $half-grey;
  }

}

