
html, body {
  height: 100%;
  overflow: hidden;
}

.main {
  @include pos(0, $sidebar-width + $sidebar-padding * 2, 0, 0);
  padding: 0 $sidebar-padding 40px;
  overflow-y: scroll;

  // TODO: Move scrollbar stuff into a module

  &.show::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    -webkit-transition: 300ms ease background;
    &:active:hover {
      background: rgba(0, 0, 0, 0.4);
    }
    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .title {
    border-bottom: 2px $light-blue solid;
    position: relative;
    height: 70px;
    margin: 0 0 20px;

    h1 {
      font-size: 26px;
      color: $dark-blue;
      margin: 0;
      outline: none;
      @include pos(auto, auto, 5px, 0);
      @include transition(0.2s, border-color);
      border: 1px transparent solid;

      &[contenteditable=true]:hover {
        border-color: $half-grey;
        cursor: text;
      }

      &[contenteditable=true]:focus {
        border-color: $mid-grey;
      }

    }
  }
}
