.panel {

  .windowcontrols {

    @if $web == true {
      display: none;
    }

    position: absolute;
    left: 0;
    margin: 16px;
    z-index: $z-panel-controls;

    img {
      vertical-align: top;
      margin: 0 3px;
    }

  }

  .avatar {
    position: absolute;
    right: $sidebar-padding;
    color: $half-grey;
    text-align: right;
    z-index: $z-panel-avatar;
  }

  .user, .img {
    display: inline-block;
    vertical-align: top;
  }

  .name {
    margin-top: 4px;
    font-size: 11px;
    font-weight: 800;
    letter-spacing: -0.5px;
    text-transform: uppercase;
  }

  .pro {
    font-size: 11px;
  }

  img {
    margin-left: 10px;
    width: $panelHeight - 4px;
    height: $panelHeight - 4px;
  }

}
