.select_js_box {
  pointer-events: none;
  background: rgba($dark-grey, 0.20);
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  opacit: 1;
  @include transition(opacity 0.2s ease);
  border: 1px solid rgba($dark-grey, 0.4);
  z-index: 10;
  box-sizing: border-box;
}

.select_js_box.hide {
  opacity: 0;
}
