.select_js_box {
  background: rgba(204, 204, 204, 0.6);
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  opacity: 1;
  transition: opacity 0.2s ease;
  border: 1px solid lighten($half-grey, 20);
  z-index: 1;
  box-sizing: border-box;
}

.select_js_box.hide {
  opacity: 0;
}
