
.modal.settings {

  width: 600px;
  margin-left: -303px;
  border: 3px solid $green;
  z-index: 11;

  & > div {
    padding: 35px 25px 30px;
    display: none;
    &.language {
      padding: 25px 35px;
    }
    &.current {
      display: block;
    }
  }

  label {
    color: #222222;
    font-size: 15px;
    width: 265px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
  }

  select {
    font-size: 16px;
  }

  button {
    font-size: 13px;
  }

  a {
    color: $dark-blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  hr {
    border: 0;
    border-top: 1px dashed #dddddd;
  }

  .tabs {

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 0;
      border-bottom: 3px solid $green;
    }

    li {
      display: inline-block;
      line-height: 30px;
      font-size: 15px;
      padding: 0 15px;
      font-weight: bold;
      color: #666666;
      cursor: default;
      background-color: white;
      &.close {
        float: right;
        border-left: 3px solid $green;
        padding: 0 10px;
      }
      &:active {
        background-color: lighten($green, 75%);
      }
      &.current {
        background-color: $green;
        text-shadow: 0 -1px 0 darken($green, 30%);
        color: white;
      }
    }
  }

  table {
    width: 100%;
    font-size: 15px;
    line-height: 1.4;

    thead {
      font-weight: bold;
      font-size: 18px;
      // Too lazy to do it properly
      tr:last-child {
        color: #444444;
        border-bottom: 1px solid #cccccc;
      }
    }

    tr {
      border-bottom: 1px dotted #cccccc;
      color: #666666;
      &:last-child {
        border: 0;
      }
    }

    a.selected {
      color: #555555;
      font-weight: bold;
    }

    td {
      padding: 5px 10px 5px 0;
      &:nth-child(2) {
        padding-right: 25px;
      }
    }
  }

  .disabled {
    color: #888888;
  }

  .account {
    padding-top: 25px;
    .special {
      margin-top: 15px;
      margin-left: 0;
      border: 2px solid $dark-blue;
      &:active {
        background-color: $dark-blue;
      }
    }
    .signedin {
      display: none;
    }
    label {
      width: 170px;
      font-weight: bold;
      color: #4c4c4c;
      &::after {
        content: ":";
      }
    }
    .center {
      text-align: center;
    }
    button {
      margin-left: 5px;
      background: white;
      border: 0;
      font-family: $font;
      color: $dark-blue;
      cursor: pointer;
      &.save {
        display: none;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    input {
      width: 220px;
      color: #444444;
      padding: 2px 5px;
      margin-bottom: 5px;
      &[disabled] {
        border-color: transparent;
        box-shadow: none;
      }
    }
    span {
      display: inline-block;
      font-size: 14px;
      vertical-align: top;
      width: 410px;
      margin-top: 16px;
      margin-left: 20px;
    }
  }
}

