
// ----------------------------------------------------------------------------
//    # SIDEBAR
// ----------------------------------------------------------------------------

// Remove from the layout
.prefsbuttons {
  position: fixed;
  bottom: 0;
  height: 28px;
  padding: 0 4px;

  img {
    width: 12px;
    height: 12px;
    opacity: 0.5;
    padding: 8px 4px;
    &:hover {
      opacity: 1;
    }
  }
}
.sidebar {

  @include pos(0, auto, 0, 0);
  position: fixed;
  width: $sidebar-width + $sidebar-padding *2;
  @if $web == true {
    padding: $panelHeight - 20px 0 0;
  } @else {
    padding: $panelHeight + 5px 0 0;
  }
  z-index: $z-sidebar;

  overflow-x: hidden;
  overflow-y: auto;

  background: $sidebar-color;

  // --------------------------------------------------------------------------
  //    ## TITLE
  // --------------------------------------------------------------------------

  .title {
      color: $sidebar-font;
      font-size: 30px;
      margin: 0 0 13px;
      text-indent: 32px;
      background: url(../img/logo/logo_white.png) $sidebar-padding 50% no-repeat;
      background-size: 23px;
      font-weight: 300;
      letter-spacing: -1px;
      padding: 0 $sidebar-padding;
  }

  // --------------------------------------------------------------------------
  //    ## LISTS
  // --------------------------------------------------------------------------

  .lists {
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  // --------------------------------------------------------------------------
  //    ## INDIVIDUAL LIST ITEMS
  // --------------------------------------------------------------------------

  .list {

    position: relative;
    list-style-type: none;

    font-size: 17px;
    letter-spacing: -.3px;
    font-weight: 300;
    line-height: 36px;
    height: 36px;
    padding: 2px 0;
    margin: 0;
    text-shadow: 0 -1px 0 lighten($sidebar-color, 10);
    color: $sidebar-font;

    // Disabled because of a strange bug with chrome
    // @include transition(background 0.1s ease);

    &:hover {
      background-color: darken($sidebar-color, 1.5);
    }

    &.droppable {
      background-color: darken($sidebar-color, 10);
    }

    &.special {
      background-image: url("../img/sidebar.svg");
      background-size: 13px;
      background-repeat: no-repeat;
      .name {
        margin-left: $sidebar-padding + 20px;
        width: $sidebar-width - $sidebar-padding *3;
      }
    }

    .name {
      margin-left: $sidebar-padding;
      width: $sidebar-width - $sidebar-padding *2;
      @extend %ellipsis;
      display: inline-block;
    }

    &.inbox {
      background-position: 19px -5px;
    }

    &.all {
      background-position: 19px -46px;
    }

    &.completed {
      background-position: 19px -87px;
    }

    &.current {
      background-color: darken($sidebar-color, 5);
    }

    .count {
      display: inline-block;
      float: right;
      margin-right: $sidebar-padding;
      font-size: 15px;
    }

  }

  // --------------------------------------------------------------------------
  //    ## NEW LIST INPUT BOX
  // --------------------------------------------------------------------------

  .create-list {
    @extend %hidden-input;
    width: 100%;
    color: $sidebar-font;

    @include placeholder {
      color: $half-grey;
    }
  }
}

