
// ----------------------------------------------------------------------------
//    # SIDEBAR
// ----------------------------------------------------------------------------

.sidebar {

  @include pos(0, 0, 0, auto);
  width: $sidebar-width;
  padding: 0 $sidebar-padding;
  border-left: 1px solid $mid-grey;

  overflow-x: hidden;
  overflow-y: auto;

  background: $light-grey;

  // --------------------------------------------------------------------------
  //    ## TITLE
  // --------------------------------------------------------------------------

  .title {
    height: 70px;
    border-bottom: 2px $light-blue solid;
    position: relative;

    h2 {
      @include pos(auto, auto, 6px, 15px);
      color: $dark-blue;
      font-size: 20px;
      margin: 0;
    }

  }

  // --------------------------------------------------------------------------
  //    ## LISTS
  // --------------------------------------------------------------------------

  .lists {
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  // --------------------------------------------------------------------------
  //    ## LIST
  // --------------------------------------------------------------------------

  .list {
    position: relative;
    font-size: 15px;
    color: $dark-grey;
    line-height: 40px;
    border-top: 1px solid darken($light-grey, 10);
    list-style-type: none;

    &.special {
      @include transition(background-position 0.1s ease);

      .name {
        margin-left: 25px;
        width: $sidebar-width - 75px;
      }

      &.current {
        background-position-x: 32px;
      }

    }

    &.search {
      border-top: 0;
    }
    
    &.inbox {
      background: url("../img/inbox.png") no-repeat 15px 15px;
      background-size: 12px 12px;
    }

    &.all {
      background: url("../img/all.png") no-repeat 15px 14px;
      background-size: 12px 11px;
    }

    &.completed {
      background: url("../img/completed.png") no-repeat 15px 15px;
      background-size: 13px 10px;
    }

    .name {
      margin-left: 5px;
      width: $sidebar-width - 55px;
      @extend %ellipsis;
      @include pos(auto, 45px, auto, 10px);
      // @include transition(margin 0.1s ease);
    }

    .arrow {
      display: inline-block;
      margin-top: 10px;
      width: 7px;
      height: 10px;
      position: relative;
      left: 15px;
    }

    .count {
      display: inline-block;
      float: right;
      margin-right: 15px;
    }

    &.current {
      font-weight: 700;
      &.special .name {
        width: $sidebar-width - 95px;
      }
      .name {
        width: $sidebar-width - 75px;
        margin-left: 20px;
      }
      .arrow {
        background: url("../img/arrow-left-fade.png") no-repeat;
        @include animation(200ms steps(10, end) fade-out 1);
      }
    }

  }

  // --------------------------------------------------------------------------
  //    ## NEW LIST INPUT BOX
  // --------------------------------------------------------------------------

  .create-list {
    @extend %hidden-input;
    border-top: 1px darken($light-grey, 10) solid;
    width: 100%;
    color: $dark-grey;

    @include placeholder {
      color: $half-grey;
    }
  }
}

