

// ----------------------------------------------------------------------------
// # TASKS HOLDER
// ----------------------------------------------------------------------------

.tasks-container {
  margin-left: $sidebar-padding;
  margin-right: $sidebar-padding;

  ul{
    padding: 0;
    margin: 0;

    @if $web {
      margin-top: $panelHeight + 92px;
    } @else {
      margin-top: $panelHeight + 117px;
    }
  }

}

// ----------------------------------------------------------------------------
// # MESSAGES
// ----------------------------------------------------------------------------

.message {
  display: none;
  text-align: center;
  padding-top: 80px;
  color: $half-grey;
  font-size: 18px;
  background: url(../img/notasks.png) no-repeat 50%;
  background-size: 48px 30px;
}

.empty {
  .message {
    display: block;
  }
}

.group {
  margin-bottom: 20px;
  & + .task {
    border-top: 1px $task-color solid;
  }
}

.seperator {
  list-style-type: none;
  height: 20px;
  & + .task {
    border-top: 1px $task-color solid;
  }
}


