
// ----------------------------------------------------------------------------
// # CREATE TASK INPUT BOX
// ----------------------------------------------------------------------------

.new-task {
  @extend %thin-input;
  font-size: 14px;
  position: fixed;
  z-index: 2;
  top: $panelHeight + 54px;
  right: $sidebar-padding;
  left: $sidebar-width + $sidebar-padding*3;
  box-shadow: 0 20px 0 $light-grey, 0 21px 0 $task-color;

  &:focus {
    border-color: $light-blue;
  }

  @include placeholder {
    color: $half-grey;
  }

}


// ----------------------------------------------------------------------------
// # TASKS HOLDER
// ----------------------------------------------------------------------------

ul.tasks {
  padding: 0 $sidebar-padding $sidebar-padding * 2 $sidebar-padding;
  margin: $panelHeight + 110px 0 0;
}


// ----------------------------------------------------------------------------
// # MESSAGES
// ----------------------------------------------------------------------------

.message {
  display: none;
  @include user-select(none);
  text-align: center;
  padding-top: 80px;
  color: $half-grey;
  font-size: 18px;
  background: url(../img/notasks.png) no-repeat 50%;
  background-size: 48px 30px;
}

.empty {
  .message {
    display: block;
  }
}

.group {
  margin-bottom: 20px;
  & + .task {
    border-top: 1px $task-color solid;
  }
}

.seperator {
  list-style-type: none;
  height: 20px;
  & + .task {
    border-top: 1px $task-color solid;
  }
}


