
// ----------------------------------------------------------------------------
// # CREATE TASK INPUT BOX
// ----------------------------------------------------------------------------

.task-input-container {

  position: fixed;
  z-index: 2;

  @if $web == true {
    top: $panelHeight + 35px;
  } @else {
    top: $panelHeight + 60px;
  }

  right: $sidebar-padding;
  left: $sidebar-width + $sidebar-padding*3;
}

.task-input {
  @extend %thin-input;

  font-size: 15px;
  width: 100%;
  box-shadow: 0 20px 0 $light-grey, 0 21px 0 $task-color;

  &:focus {
    border-color: $light-blue;
  }

  @include placeholder {
    color: $half-grey;
  }

}


// ----------------------------------------------------------------------------
// # TASKS HOLDER
// ----------------------------------------------------------------------------

.tasks-container {
  margin-left: $sidebar-padding;
  margin-right: $sidebar-padding;

  ul{
    padding: 0;
    margin: 0;

    @if $web {
      margin-top: $panelHeight + 92px;
    } @else {
      margin-top: $panelHeight + 117px;
    }
  }

}

// ----------------------------------------------------------------------------
// # MESSAGES
// ----------------------------------------------------------------------------

.message {
  display: none;
  @include user-select(none);
  text-align: center;
  padding-top: 80px;
  color: $half-grey;
  font-size: 18px;
  background: url(../img/notasks.png) no-repeat 50%;
  background-size: 48px 30px;
}

.empty {
  .message {
    display: block;
  }
}

.group {
  margin-bottom: 20px;
  & + .task {
    border-top: 1px $task-color solid;
  }
}

.seperator {
  list-style-type: none;
  height: 20px;
  & + .task {
    border-top: 1px $task-color solid;
  }
}


