
/*
 * A SINGLE TASK
 */

.task {

  display: block;
  list-style-type: none;
  border: 1px $task-color solid;
  position: relative;
  font-size: 14px;
  color: #4c4c4c;
  line-height: 28px;
  cursor: default;
  border-top: 0;
  border-left: 0;

  @include transition(.15s, ease, margin);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.new {
    -webkit-transform: none;
    -webkit-animation: new-task 1 ease 150ms;
    -moz-animation: new-task 1 ease 150ms;
    -ms-animation: new-task 1 ease 150ms;
    animation: new-task 1 ease 150ms;
  }

  &:first-child {
    border-top: 1px solid $task-color;
  }

  // Vertical Stripes
  &:before {
    content: "";
    display: block;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    width: 2px;
    @include abs(0, auto, 0, 31px);
  }

  &.p3 .checkbox, &.p3 .notes {
    border-left: 4px solid $red;
  }

  &.p2 .checkbox, &.p2 .notes {
    border-left: 4px solid $green;
  }

  &.p1 .checkbox, &.p1 .notes {
    border-left: 4px solid $light-blue;
  }

  .tag {
    color: $dark-blue;
    cursor: pointer;
    @include transition(150ms, color, ease);
    &:hover {
      text-decoration: underline;
    }
  }

  // Checkbox
  .checkbox {
    display: inline-block;
    position: relative;
    // Not sure why, but there is a large space underneath
    margin-bottom: -11px;
    width: 28px;
    height: 30px;
    top: -1px;
    &:before {
      display: block;
      content: "";
      top: 9px;
      left: 8px;
      position: absolute;
      border: 1px #d9d9d9 solid;
      height: 10px;
      width: 10px;
    }
  }

  // Task Name
  .name {
    line-height: 18px;
    @include abs(6px, 0, auto, 44px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
    @include transition(150ms, color, ease);
  }

  .input-name {
    color: #4c4c4c;
    @include abs(6px, 0, auto, 44px);
    @include transition(0.2s, background);
    display: none;
    border: none;
    outline: none;
    padding: 0;
  }

  // Buttons
  .right-controls {
    @include abs(0, 0, auto, auto);
    text-align: right;
    font-size: 0;
  }

  // Trash Can
  .delete {
    display: none;
    background: url("../img/trashcan_grey.png") 50% 50% no-repeat;
    width: 25px;
    height: 29px;
    padding: 0 5px;
    opacity: 1;
    @include transition(0.2s, opacity);
    &:hover {
      opacity: 0.6;
    }
  }

  .priority-button {
    display: none;
    padding: 0 10px;
    height: 29px;
    vertical-align: top;
    border-left: 1px solid $task-color;
    border-right: 1px solid $task-color;
    .low, .medium, .high {
      display: inline-block;
      margin: 9px 2px 0;
      width: 9px;
      height: 9px;
      border: 1px solid rgba(black, 0.2);
      @include transition(0.1s, border);
      &:hover {
        border: 1px solid rgba(black, 0.5);
      }
    }
    .low {
      background: $light-blue;
    }
    .medium {
      background: $green;
    }
    .high {
      background: $red;
    }
  }

  // Date
  // This is so it shows up in the print styles
  img {
    vertical-align: top;
    padding: 9px 0;
    display: none;
  }

  time {
    font-size: 13px;
    padding: 0 10px;
    color: #999;
    &.soon {
      color: $dark-blue;
    }
    &.overdue, &.due {
      color: $red;
    }
  }

  .listName {
    font-size: 13px;
    padding-right: 10px;
    color: #999;
    background: url("../img/all_light.png") no-repeat 5px 50%;
    background-size: 12px 11px;
    padding-left: 25px;
  }

  .date {
    height: 28px;
    line-height: 20px;
    display: none;
    vertical-align: top;
    font-size: 13px;
    color: #999999;
    padding: 0 5px 0 7px;
    background: white;
    border: 0;
    outline: 0;
    width: 80px;
  }

  &.animout {
    .notes {
      -webkit-animation: 0.15s ease rev 1;
      -moz-animation: 0.15s ease rev 1;
      -ms-animation: 0.15s ease rev 1;
      animation: 0.15s ease rev 1;
    }
  }

  // Show the notes
  .notes {
    background: #fafafa;
    line-height: 21px;
    outline: none;
    height: 0;
    padding: 0 5px 0 40px;
    overflow: hidden;
    &::-webkit-scrollbar-track {
      margin: 10px 0;
    }
    &::-webkit-scrollbar {
      width: 0;
    }
    &.placeholder {
      color: hsl(0, 0, 40%);
    }
  }

  // Expanded Task
  &.expanded {
    border-top: 1px solid $task-color;
    &.group {
      margin-bottom: 20px;
    }
    &+ li {
      border-top: 1px solid $task-color;
      &.seperator {
        border-top: 0;
      }
    }
    // Add some spacing around the task
    margin: 5px 0;
    // Show right buttons
    .date, .delete, .priority-button, img {
      display: inline-block;
    }
    // Hide List Name
    .name, time, .listName {
      display: none;
    }
    .input-name {
      display: inline-block;
      cursor: text;
      right: 214px;
    }
    .notes {
      cursor: text;
      display: block;
      //min-height: 40px
      height: 40px;
      padding: 5px 5px 5px 40px;
      border-top: 1px #e6e6e6 solid;
      -webkit-animation: 0.15s ease height 1;
      -moz-animation: 0.15s ease height 1;
      -ms-animation: 0.15s ease height 1;
      animation: 0.15s ease height 1;
      overflow: auto;
      max-height: 200px;
      &.auto {
        height: auto;
        &::-webkit-scrollbar {
          width: 7px;
        }
      }
      .inner {
        min-height: 40px;
        width: 100%;
        outline: 0;
      }
    }
  }

  // Completed Task
  &.completed {
    // Add Tick to Checkbox
    .checkbox:after {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      left: 9px;
      width: 10px;
      height: 10px;
      background: url("../img/checkmark.png") no-repeat;
    }
    .checkbox, .notes {
      border-left: 4px solid #cccccc;
    }
    // Strikethrough task name
    .name {
      // text-decoration: line-through
      color: hsl(0, 0, 60%);
      // Change tag Color
      .tag {
        color: hsl(0, 0, 60%);
      }
    }
    // Hide Due Date
    img, time {
      display: none !important;
    }
  }
}

