
// ----------------------------------------------------------------------------
// A SINGLE TASK
// ----------------------------------------------------------------------------

.drag-helper {
  position: absolute;
  height: 29px;
  min-width: 80px;
  line-height: 27px;
  padding: 0px 20px;
  background: rgba($white, 0.85);
  border: 1px solid $mid-grey;
  font-size: 15px;
  overflow: hidden;
  white-space: pre;
  z-index: $z-drag-helper;
}

.tasks .placeholder {
  height: 30px;
}

.task {

  $taskHeight: 34px;

  position: relative;
  list-style-type: none;

  font-size: 15px;
  line-height: $taskHeight;
  color: #4c4c4c;
  background: $white;

  border: 1px $task-color solid;
  border-top: 0;
  border-left: 0;

  @include transition(margin 150ms ease);
  @include transform(translate3d(0, 0, 0));

  &.hidden {
    display: block;
    opacity: 0.4;
  }

  &:first-child {
    border-top: 1px solid $task-color;
  }

  // Vertical Stripes
  &:after {
    content: "";
    display: block;
    width: 2px;
    border-left: 1px solid $task-stripes;
    border-right: 1px solid $task-stripes;
    @include pos(0, auto, 0, $taskHeight + 2);
  }

  // Newly created tasks
  &.new {
    @include transform(none);
    @include animation(new-task 1 ease 150ms);
  }

  &.selected {
    border-color: $light-blue;
    background: mix($white, $light-blue, 92);
    &:not(:first-child) {
      box-shadow: 0 -1px 0 $light-blue;
    }
  }

  // --------------------------------------------------------------------------
  // TAGS
  // --------------------------------------------------------------------------

  .tag {
    color: $dark-blue;
    cursor: pointer;
    @include transition(color 150ms ease);

    &:hover {
      text-decoration: underline;
    }
  }


  // --------------------------------------------------------------------------
  // PRIORITY
  // --------------------------------------------------------------------------

  .checkbox {
    display: inline-block;
    position: relative;
    top: -1px;
    width: $taskHeight;
    height: $taskHeight + 2px;
    margin-bottom: ($taskHeight / 2 - 4px ) * -1;
    border-left: 4px solid $mid-grey;
    @include transition(border-color 150ms ease);
  }


  // --------------------------------------------------------------------------
  // CHECKBOX
  // --------------------------------------------------------------------------

  .checkbox:before {
    display: block;
    content: "";
    @include pos(12px, auto, auto, 10px);
    border: 1px $task-color solid;
    height: 10px;
    width: 10px;
  }


  // --------------------------------------------------------------------------
  // PRIORITY COLOURS
  // --------------------------------------------------------------------------

  &.p3 .checkbox,
  &.p3 .notes {
    border-left-color: $red;
  }

  &.p2 .checkbox,
  &.p2 .notes {
    border-left-color: $green;
  }

  &.p1 .checkbox,
  &.p1 .notes {
    border-left-color: $light-blue;
  }


  // --------------------------------------------------------------------------
  // NAME
  // --------------------------------------------------------------------------

  .name {
    line-height: $taskHeight;
    @extend %ellipsis;
    @include pos(0, 0, auto, 50px);
    @include transition(color 150ms ease);
  }

  .input-name {
    display: block;
    @include pos(0, 110px, auto, 50px);
    // Chrome OSX Fix. It's really quite wat.
    width: calc(100% - 160px);
    color: $dark-grey;
    border: none;
    outline: none;
    padding: 7px 0 7px 0;
    line-height: 1;
    cursor: text;
    background: transparent;
  }


  // --------------------------------------------------------------------------
  // RIGHT CONTROLS
  // --------------------------------------------------------------------------

  &.expanded-task .date {
    @include pos(0, 35px, auto, auto);
  }

  .date {
    @include pos(0, 0, auto, auto);
    text-align: right;
    font-size: 0;
    @include transition(opacity 150ms ease);

    &:before {
      content: "";
      display: inline-block;
      vertical-align: top;
      position: relative;
      background: url('../img/calendar.png');
      background-size: 10px 10px;
      width: 10px;
      height: 10px;
      top: 11px;
      left: 0px;
    }

    &.hidden {
      display: none;
    }

  }

  // Date
  time {
    font-size: 13px;
    padding: 0 10px;
    color: $half-grey;

    &.soon {
      color: $dark-blue;
    }

    &.overdue, &.due {
      color: $red;
    }

  }

  // --------------------------------------------------------------------------
  // PRIORITY
  // --------------------------------------------------------------------------
  .priority-toggle {
    @include pos(0, 0, auto, auto);
    @include transition(opacity 250ms ease);
    opacity: 0;
    padding: 10px;
    line-height: 0;
    border-left: 1px solid $task-color;
    &:hover {
      background: $light-grey;
    }
    &:active svg {
      fill: #fff;
    }
    svg {
      width: 14px;
      height: 15px;
      vertical-align: top;
    }
  }

  &.p2 svg {
    fill: $red;
  }
  &.p1 svg {
    fill: $dark-green;
  }
  &.p3 svg {
    fill: $dark-blue;
  }
  &.p2 .priority-toggle:active {
    background: $red;
  }

  &.p1 .priority-toggle:active {
    background: $dark-green;
  }

  &.p3 .priority-toggle:active {
    background: $dark-blue;
  }

  // --------------------------------------------------------------------------
  // NOTES
  // --------------------------------------------------------------------------

  .notes {
    display: block;
    position: relative;
    background: $task-notes;
    line-height: 21px;
    padding: 0 5px 0 46px;
    height: 0px;
    width: 100%;
    outline: 0;
    max-height: 400px;
    overflow: auto;
    box-sizing: border-box;
    resize: none;

    // Priority
    border: 0;
    border-left: 4px solid $mid-grey;
    color: $dark-grey;

    @include transition(all 150ms ease);

    &.placeholder {
      color: $half-grey;
    }

  }

  // --------------------------------------------------------------------------
  // EXPANDED TASK
  // --------------------------------------------------------------------------

  &.expanded-task {

    &:before {
      content: "";
      display: block;
      @include pos($taskHeight, 0, auto, 4px);
      height: 1px;
      background: $task-stripes;
      z-index: $z-notes-border;
    }

    border-top: 1px solid $task-color;
    & + .task {
      border-top: 1px solid $task-color;

      &.seperator {
        border-top: 0;
      }
    }

    .date.hidden {
      display: block;
      opacity: 0;
    }

    .input-date {
      height: $taskHeight;
      line-height: 20px;
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      color: $half-grey;
      padding: 0 10px;
      background: transparent;
      border: 0;
      outline: 0;
      width: 72px;
    }
  }

  &.expanded {
    margin: 5px 0;
    .date, .priority-toggle {
      opacity: 1 !important;
    }
  }

  // --------------------------------------------------------------------------
  // COMPLETED TASK
  // --------------------------------------------------------------------------

  &.completed {

    // Display the checkmark icon
    .checkbox:after {
      content: "";
      width:  10px;
      height: 10px;
      @include pos(13px, auto, auto, 11px);
      background: url("../img/checkmark.png") no-repeat;
    }

    // Set priority color to grey
    .checkbox, .notes {
      border-left-color: $mid-grey;
    }

    // Dim text
    .name {
      color: $half-grey;
    }

    // Dim tags
    .tag {
      color: $dark-grey;
    }

    // Hide images?
    // img, time {
    //   display: none !important;
    // }

  }

}

