.contextmenu-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;

	&.hide {
		opacity: 0;
		pointer-events: none;
	}
}

.contextmenu {
	position: absolute;
	background: $neutral-back-color;
	border: 1px solid rgba(#000, 0.1);
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		padding: $indent-width * 2/3 $indent-width;
		cursor: default;

		&:hover {
			background: rgba(#000, 0.1);
		}
	}
}