.contextmenu-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;

	@media (max-width: $tablet-breakpoint - 1) {
		overflow: hidden;
	}

	&.hide {
		// opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}

.contextmenu {
	position: absolute;
	background: $neutral-back-color;
	border: 1px solid rgba(#ccc, 0.85);
	margin: 0;
	padding: $indent-width / 2 0;
	list-style-type: none;
	background-clip: padding-box;

	li {
		padding: $indent-width * 3/4 $indent-width;
		cursor: default;
		font-size: 16px;
		line-height: 1;

		&:hover {
			background: rgba(#000, 0.1);
		}
	}
}