.datepicker-wrapper {
  top: 0;
  left: 0;  
  transition: 200ms ease opacity;

  &.floating {
    position: absolute;
  }
  &.sheet {
    background: rgba(#000, 0.2);
    display: flex;
    width: 100%;
    height: 100vh;
    height: var(--real-height);
    overflow: hidden;

    .datepicker-container {
      flex: 1;
    }
  }
  &.popover {
    .datepicker-container {
      border-radius: 3px;
      box-shadow: 0 1px 3px rgba(#000, 0.3);
    }
  }
  &.hidden {
    opacity: 0;
    pointer-events: none;

    &.sheet {
      display: flex;

      .datepicker-container {
        transform: translate3d(0, 2rem, 0);
      }
    }
    &.popover {
      display: block;

      .datepicker-container {
        transform: scale(0.9);
      }
    }

  }
}
.datepicker-container {
  background: #fff;
  flex: 1;
  margin: auto auto 0;
  transition: 200ms ease transform;
  padding: 0.5rem;
  box-shadow: 0 -1px 2px rgba(#000, 0.2);

  header {
  	display: flex;

  	h3 {
  		flex: 1;
  		margin: 0;
  	}
  }
}