.dialogbox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 200;
	background: rgba(#000, 0.2);
	transition: 200ms ease opacity;

	&.hide {
		opacity: 0;
		pointer-events: none;

		.dialogbox {
			transform: translate3d(0, 1.5em, 0);
		}
	}
}

.dialogbox {
	$radius: 3px;
	background: #fff;
	margin: 10vh 0.5rem;
	box-shadow: 0 1px 2px rgba(#000, 0.25);
	border-radius: $radius;
	transition: 200ms ease transform;
	max-width: 30rem;

	header {
		font-weight: 900;
		text-transform: uppercase;
		font-size: 1.1rem;
		padding: 0.75rem 1rem;
		background: $neutral-back-color;
		border-radius: $radius $radius 0 0;
		border-bottom: 1px solid rgba(#000, 0.1);
		letter-spacing: 0.25px;
	}
	&.danger header, &.danger .button-box .confirm {
		color: #fff;
		background: $danger-color;
	}
	&.danger .button-box .confirm:hover {
		background: lighten($danger-color, 3);
	}

	.content {
		padding: 1.5rem 1rem 0.5rem;
		font-size: 1.1rem;
		line-height: 1.3;

		strong {
			font-weight: 600;
		}
	}
	.button-box {
		padding: 1rem 0.75rem 1.5rem;
		text-align: center;

		button {
			margin: 0 0.25rem;
			outline: 0;
			box-shadow: 0 0.5px 0.5px rgba(#000, 0.25);
			border: 0;
			padding: 0.5rem 1rem;
			font-weight: 600;
			border-radius: 3px;
			font-size: 0.9rem;
			background: darken($neutral-back-color, 2);
			transition: 150ms ease transform;

			&:hover {
				background: lighten($neutral-back-color, 1);
			}
			&:active {
				transform: scale(0.95);
			}
		}
	}

	@media (min-width: 30rem) {
		margin: 15vh auto;

		.button-box {
			text-align: right;
		}
	}
}