.desktop-grid {
  @media (min-width: $tablet-breakpoint) {
    display: grid;
    grid-template-columns: 2fr 4fr;
  }
  
  height: 100vh;
  height: var(--real-height);
  overflow: hidden;
  

  @media (min-width: 1200px) {
    grid-template-columns: 350px 1fr;
  }
}