.material-header {
  background: #ddd;
  padding: 0 $indent-width;

  .back, h1 {
    display: inline-block;
    line-height: $header-height;
    vertical-align: top;
  }

  .back {
    padding-right: $indent-width / 2;

    img {
      height: 24px;
      vertical-align: top;
      padding-top: 16px;
    }
  }

  h1 {
    font-size: 1.4em;
    margin: 0;
  }
}

.lists-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    border-bottom: 1px solid #ddd;
    line-height: 48px;
    text-indent: $indent-width;
  }
}