.sidebar-container {
  background: $neutral-back-color;

  @media (min-width: $tablet-breakpoint) {
    max-width: $sidebar-width-small;
    background: $neutral-back-color-transparent;
  }
  @media (min-width: $desktop-breakpoint) {
    max-width: $sidebar-width-desktop;
  }
}

.brand {
  text-transform: uppercase;
}

.material-header {
  display: flex;

  .brand.header-child {
    font-weight: 900;
    
    img {
      height: 1.8rem;
      vertical-align: middle;
      margin-top: -0.2rem;
      margin-right: 0.5rem;
    }
  }

  &.main-nav {
    @media (max-width: $mobile-breakpoint) {
      background: #fff;
      box-shadow: 0 1px 3px rgba(#000, 0.15);
    }
  }
  @media (min-width: $mobile-breakpoint + 1) {
    .search {
      display: none;
    }
  }

  @media all and (display-mode: standalone) {
    .brand {
      display: none;
    }
    &.main-nav {
      background: $brand-color;
      color: #fff;
      box-shadow: 0 1px 3px rgba(#000, 0.2);

      img {
        filter: invert(100);
      }
    }
  }

  .header-child {
    line-height: $header-height;
    height: $header-height;
    overflow-x: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    vertical-align: top;

    img {
      vertical-align: top;
      width: 1.5rem;
    }

    &.header-left {
      padding-left: $indent-width + 0.3rem;
      padding-right: $indent-width / 2;
    }
    &.header-right {
      padding-left: 1rem;
      padding-right: $indent-width + 0.1rem;
    }
  }

  > div {
    display: flex;
  }

  h1 {
    font-size: 1.3rem;
    margin: 0;
    flex: 1;
    transition: 150ms ease-out opacity;
    font-weight: 600;
  }
}
.lists-sidebar {
  box-sizing: border-box;
  height: calc(100vh - #{$header-height});
  height: calc(#{var(--real-height)} - #{$header-height});
  padding: 1rem 0;
  overflow-y: auto; 
  touch-action: pan-y;

  @media (min-width: $mobile-breakpoint + 1) {
    padding: 0.25rem 0 0.5rem;    
    height: calc(100vh - #{$header-height} - #{$footer-height});
    height: calc(#{var(--real-height)} - #{$header-height} - #{$footer-height});
  }
}

.search-container {
  padding: 0 $indent-width - 0.3rem $indent-width;

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
  input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid transparent;
    background-color: rgba(#000, 0.1);
    border-radius: 3px;
    padding: 0.5rem 0.75rem;
    outline: 0;
    font-size: 0.9rem;
    line-height: 1.1rem;

    background-image: url('/img/icons/search.svg');
    background-repeat: no-repeat;
    background-size: 1.3rem;
    background-position: calc(100% - 0.5rem) 50%;
  }
}

.lists-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    line-height: $list-height;
    padding: 0 $indent-width;
    cursor: default;
    display: flex;
    font-weight: 600;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;

    .icon {
      margin-right: $indent-width * (2/3);
      width: 2rem;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 1.5rem;
      background-image: url('/img/icons/'+ $icon-style +'/list.svg');
    }
    &.inbox .icon {
      background-image: url('/img/icons/'+ $icon-style +'/inbox.svg');
    }
    &.today .icon {
      background-image: url('/img/icons/'+ $icon-style +'/today.svg');
    }
    &.next .icon {
      background-image: url('/img/icons/'+ $icon-style +'/next.svg');
    }
    &.all .icon {
      background-image: url('/img/icons/'+ $icon-style +'/all.svg');
    }

    &.today, &.all + li {
      margin-top: 0.7rem;
    }

    .label {
      flex: 1;
      color: #444;
      font-size: 1.1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .count {
      font-size: 1rem;
      color: #666;
      padding: 0 0.3rem;

      @media (min-width: $mobile-breakpoint + 1) {
        padding: 0 0.5rem;
      }
    }

    &:last-child {
      border-bottom: 0;
    }

    @media (pointer: fine) {
      &:hover {
        background: rgba(#000, 0.02);
      }
    }

    &:active {
      background: rgba(#000, 0.05);
    }

    &.add {
      .label {
        color: rgba(#000, 0.6);
        font-size: 1rem;
      }
      .icon {
        background-image: url('/img/icons/'+ $icon-style +'/add.svg');
        opacity: 0.6;
      }
    }

    @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint - 1) {
      line-height: $list-height - 0.2rem;
      padding: 0 $indent-width - 0.3rem;

      .label {
        font-size: 1rem;
      }
      .count {
        font-size: 0.9rem;
      }
      &.add .label {
        font-size: 0.9rem;
      }
    }
  }
}

.subtle-footer {
  border-top: 1px solid $line-color;
  height: $footer-height; 
  text-align: right;
  box-sizing: border-box;
  padding: 0 0.25rem;
  overflow: hidden;

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }

  button {
    width: $footer-height;
    height: 100%;
    border: 0;
    color: transparent;
    background-color: transparent;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    outline: 0;
    opacity: 0.4;

    &:hover {
      opacity: 0.45;
    }

    &:active {
      opacity: 0.6;
    }

    // these icons work better here
    $icon-style: 'material';

    &.feedback {
      background-image: url('/img/icons/'+ $icon-style +'/feedback.svg');
    }
    &.settings {
      background-image: url('/img/icons/'+ $icon-style +'/settings.svg');
    }
  }
}