.sidebar-container {
  background: $neutral-back-color;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-breakpoint) {
    background: linear-gradient($neutral-back-color-transparent, #fff);
    border-right: 1px solid rgba(0,0,0,0.1);
  }
}

.brand {
  text-transform: uppercase;
}

.material-header {
  display: flex;

  .brand.header-child {
    font-weight: 900;
    
    img {
      height: 1.8rem;
      vertical-align: middle;
      margin-top: -0.2rem;
      margin-right: 0.5rem;
    }
  }

  &.main-nav {
    @media (max-width: $tablet-breakpoint - 1) {
      background: #fff;
      box-shadow: $default-shadow;
    }
  }
  @media (min-width: $tablet-breakpoint) {
    .search {
      display: none;
    }
  }

  button {
    @include button-blank();
    display: flex;
  }

  .header-child {
    line-height: $header-height;
    height: $header-height;
    overflow-x: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    vertical-align: top;

    img {
      vertical-align: top;
      width: 1.5rem;
      margin: auto;
    }

    &.header-left {
      padding-left: $indent-width + 0.3rem;
      padding-right: $indent-width / 2;
    }
    &.header-right {
      padding-left: 1rem;
      padding-right: $indent-width + 0.1rem;
    }
  }

  input.header-child {
    box-sizing: border-box;
    border: 0;
    outline: 0;
    line-height: 2.5rem;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .grow {
    flex: 1;
    padding-right: $indent-width + 0.1rem;
  }

  > div {
    display: flex;
  }

  h1 {
    font-size: 1.2rem;
    margin: 0;
    flex: 1;
    transition: 150ms ease-out opacity;
    font-weight: 600;
  }
}
.sidebar-container .material-header {
  @media all and (display-mode: standalone) {
    .brand {
      display: none;
    }
    &.main-nav {
      background: $brand-color;
      color: #fff;
      box-shadow: $default-shadow;

      img {
        filter: invert(100);
      }
    }
  }
}
.lists-sidebar {
  box-sizing: border-box;
  padding: 1rem 0;
  overflow-y: auto; 
  overflow-x: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-scroll-rails: railed;
  touch-action: pan-y;
  flex: 1;

  @media (min-width: $tablet-breakpoint) {
    padding: 0.25rem 0 0.5rem;    
  }
}

.search-container {
  padding: 0 $indent-width / 2 $indent-width;

  @media (max-width: $tablet-breakpoint - 1) {
    display: none;
  }
  input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid transparent;
    background-color: rgba(#000, 0.05);
    border-radius: 3px;
    padding: 0.5rem 0.75rem;
    outline: 0;
    font-size: 0.9rem;
    line-height: 1.1rem;

    background-image: url('/img/icons/search.svg');
    background-repeat: no-repeat;
    background-size: 1.3rem;
    background-position: calc(100% - 0.5rem) 50%;
  }
}

.lists-list {
  margin: 0;
  padding: 0 $indent-width / 2;
  list-style-type: none;

  li {
    padding: 0;
    margin-bottom: 0.25rem;
    border-radius: 3px;
  }

  li a, li.add {
    border-radius: 3px;
    line-height: $list-height;
    padding: 0 $indent-width / 2;
    cursor: default;
    display: flex;
    font-weight: 600;
    user-select: none;
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(#000, 0.05); // :active for ios safari

    .icon {
      margin-right: $indent-width * (2/3);
      width: 2rem;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 1.5rem;
      background-image: $list-icon;
    }

    .label {
      flex: 1;
      color: #444;
      font-size: 1.1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .count {
      font-size: 1rem;
      color: #666;
      padding: 0 0.3rem;

      @media (min-width: $mobile-breakpoint + 1) {
        padding: 0 0.5rem;
      }
    }

    &:last-child {
      border-bottom: 0;
    }

    @media (pointer: fine) {
      &:hover {
        background: rgba(#000, 0.02);
      }
    }
    &:focus {
      background: #e6e6e7;
      outline: 0;
    }

    &:active {
      background: rgba(#000, 0.05);
    }

    &.add {
      .label {
        color: rgba(#000, 0.5);
        font-size: 1.1rem;
      }
      .icon {
        background-image: url('/img/icons/'+ $icon-style +'/add.svg');
        opacity: 0.5;
      }
    }

    @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint - 1) {
      line-height: $list-height - 0.2rem;

      .label {
        font-size: 1rem;
      }
      .count {
        font-size: 0.9rem;
      }
      &.add .label {
        font-size: 0.9rem;
      }
    }
  }

  .selected {
    background: #e6e6e7;
  }

  .list-inbox .icon {
    background-image: $inbox-icon;
  }
  .list-today .icon {
    background-image: $today-icon;
  }
  .list-next .icon {
    background-image: $next-icon;
  }
  .list-all .icon {
    background-image: $all-icon;
  }

  .list-today, .list-all + li {
    margin-top: 0.625rem;
  }
}