@keyframes show-tasks {
  0% {
    transform: translate3d(100vw, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0); 
  }
}
@keyframes hide-tasks {
  0% {
    transform: translate3d(0, 0, 0); 
  }
  100% {
    transform: translate3d(100vw, 0, 0);
  }
}


$selected-color: lighten($neutral-back-color, 2);
$tablet-max-width: 92%;
$desktop-max-width: 92%;

@media (min-width: $tablet-breakpoint) {
  body {
    &.selected-task {
      background-color: $selected-color;
    }
  }
}

.tasks-pane {
  animation: show-tasks $default-timing $default-curve 1;
  transition: $background-speed ease background-color;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-scroll-rails: railed;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  overflow-y: visible;
  // overflow-x: hidden; // this fixes when windows dpi changes and things go bad\

  &.hide {
    animation: hide-tasks $default-timing $default-curve 1;
    transform: translate3d(100vw, 0, 0);
  }

  @media (max-width: $tablet-breakpoint - 1) {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }

  @media (min-width: $tablet-breakpoint) {
    animation: none;
    // border-left: 1px solid $line-color;
    // overflow-y: scroll;

    &.hide {
      transform: none;
      animation: none;
    }

    .material-header .back {
      display: none;
    }
  }

  .material-header {
    @media (min-width: $tablet-breakpoint) {
      display: none;
    }
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: #fff;

    h1 {
      opacity: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      box-shadow: 0 1px 4px rgba(#000, 0.25);
      transition: 150ms ease-out opacity;
      z-index: -1;
      opacity: 0;
    }
  }
  .scale-header .material-header {
    h1, &::after {
      opacity: 1;
    }
  }
}

.no-animate .tasks-pane {
  // faster than 60fps, so doesn't play
  animation-duration: 0.0001s;
}

.tasks-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;

  @media (max-width: $tablet-breakpoint - 1) {
    padding-top: $header-height;
    will-change: scroll;
  }

  @media (min-width: $tablet-breakpoint) {
    position: static;
    width: $tablet-max-width;
    margin: 0 auto;
    overflow-y: visible;

    .tasks-sticky-helper {
      height: $header-height;
    }
  }
  @media (min-width: $desktop-breakpoint) {
    width: $desktop-max-width;
  }
}

@media (min-width: $tablet-breakpoint) {
  .tasks-sticky-container {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    background: #fff;
    transition: $background-speed ease background-color;
    z-index: 2;
  }
  .selected-task .tasks-sticky-container {
    background-color: $selected-color;
  }

  .scale-header {
    .tasks-fancy-header {
      h1 {
        transform: scale(0.7);
        -webkit-transform: scale(0.7) translate3d(0,0,0);
        -webkit-backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
        button {
          opacity: 0;
        }
      }
    }
  }
}

.list-context {
  background: transparent;
  opacity: 0.5;
  border: 0;
  outline: 0;
  vertical-align: top;
  padding: 0;
  overflow: hidden;

  img {
    height: 1.8rem;
    margin: 0.9rem 0 0 -0.3rem;
  }

  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.9;
  }
  &:focus {
    opacity: 0.8;
  }
}

.tasks-fancy-header {
  $speed: 200ms;
  h1 {
    -webkit-transform: translate3d(0,0,0);
    margin: $indent-width / 4 $indent-width;
    position: relative;
    overflow: hidden;
    font-size: 2rem;

    input {
      font-weight: 900;
      border: 0;
      padding: $indent-width / 2 $indent-width / 4 $indent-width / 2 $indent-width / 2;
      background: transparent;
      outline: 0;
      transition: 150ms ease background;
      border-radius: 3px;
      min-width: 25px; 
      max-width: calc(100% - #{$indent-width + 1.5rem});
      transition: $speed ease transform;

      &:disabled {
        color: inherit;
        opacity: 1;
        -webkit-text-fill-color: #000;
      }

      &:not(:disabled):hover {
        background: rgba(#000, 0.04);
      }
      &:not(:disabled):focus {
        background: rgba(#000, 0.08);
      }
    }

    button {
      transition: $speed/2 ease-out opacity;
    }

    span {
      font-weight: 900;
      white-space: pre;
      position: absolute;
      visibility: hidden;
      top: 0;
      left: 0;
      pointer-events: none;
    }

    .icon {
      margin: 0.5rem $indent-width / 4 $indent-width / 2 $indent-width / 4;
      vertical-align: top;
      width: 2rem;
      height: 2rem;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 2rem;
    }

    @media (min-width: $tablet-breakpoint) {
      transform-origin: left bottom; // RTL?
      transition: $speed ease-out transform;
      font-size: 2.25rem;
      line-height: $header-height - 0.5rem;
      margin: $indent-width / 2 $indent-width / 2 $indent-width / 4;

      .icon {
        width: 2.25rem; // this random number helps with the aliasing
        height: 2.25rem;
        background-size: 2.25rem;
        margin: 0.6rem 0.2rem 0 0;
      }
    }
  }
}

@keyframes show-creator {
  0% { transform: translate3d(0,3.5rem,0); }
  60% { transform: translate3d(0,3.5rem,0); }
  100% { transform: translate3d(0,0,0); }
}
@keyframes hide-creator {
  0% { transform: translate3d(0,0,0); }
  100% { transform: translate3d(0,3.5rem,0); }
}
.tasks-creator-background {
  box-sizing: border-box;
  padding: 0.25rem $indent-width / 2 0.75rem;

  @media (max-width: $tablet-breakpoint - 1) {
    transform: translate3d(0,3.5rem,0);
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    padding: 0 $indent-width / 4 0 $indent-width / 2;
    display: flex;
    box-shadow: 0 0 3px rgba(#000, 0.3);

    &.show {
      animation: 250ms show-creator ease 1;
      transform: translate3d(0,0,0);
    }
    &.hide {
      animation: 150ms hide-creator ease 1;
    }
  }
}

.tasks-creator {
  $timing: 250ms;
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid transparent;
  background-color: rgba(#000, 0.08);
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  outline: 0;
  font-size: 0.9rem;
  line-height: 1rem;
  transition: $timing ease border-color, $timing ease background-color;
  box-shadow: none;
  
  &:focus {
    border-color: $brand-color;
    background-color: rgba(#000, 0.04);
  }

  @media (max-width: $tablet-breakpoint - 1) {
    background: transparent;
    border: 0;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0.9rem 0.75rem;
    flex: 1;

    &:focus {
      background: transparent;
    }

    &:invalid + .tasks-create-button span {
      background-color: invert(#ccc);
      background-image: url("/img/icons/material/down.svg");

      &:active {
        background-color: invert(#999);
      }
    }
  }
}

.tasks-create-button {
  @include button-blank();
  padding: 0.6rem;

  @media (min-width: $tablet-breakpoint) {
    display: none;
  }

  span {
    transition: 150ms ease-out background;
    display: inline-block;
    height: 26px;
    width: 26px;
    border-radius: 3px;
    background-color: invert($brand-color);
    background-image: url("/img/icons/material/add.svg");
    background-size: 24px;
    background-position: 50%;
  }
}

.tasks-list {
  margin: 0;
  padding: 0 0 $indent-width / 2;
  list-style-type: none;
  position: relative;
  z-index: 1;

  @media (max-width: $tablet-breakpoint - 1) {
    padding-bottom: $indent-width
  }
}

.selected-task {
  .tasks-list {
    pointer-events: none;
  }
}

// if you don't change the animation, then no reflow occurs
@keyframes scale-in {
  0% { transform: scale(0); }
  75% { transform: scale(0); }
  100% { transform: scale(1); }
}
@keyframes scale-out {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}
.floating-button {
  position: fixed;
  z-index: 1;
  border: 0;
  outline: 0;
  bottom: 1rem;
  right: 1rem;
  background: $brand-color;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;

  &.show {
    animation: 300ms scale-in ease-in 1;
  }

  &.hide {
    animation: 150ms scale-out ease-out 1;
    transform: scale(0);
    pointer-events: none;
  }

  @media (min-width: $tablet-breakpoint) {
    display: none;
  }
}

.img-vert-inverse {
  vertical-align: top;
  filter: invert(100);
}
.tasks-pane-footer {
  padding: 0 0.5rem $indent-width * 4;
  transition: $task-expand-speed ease transform;

  img {
    padding: 6px 5px 0 0;
    opacity: 0.7;
  }

  @media (max-width: $tablet-breakpoint - 1) {
    padding-left: 1.25rem;

    img {
      padding-top: 8px;
    }
  }
}