@keyframes show-tasks {
  0% {
    transform: translate3d(100vw, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0); 
  }
}
@keyframes hide-tasks {
  0% {
    transform: translate3d(0, 0, 0); 
  }
  100% {
    transform: translate3d(100vw, 0, 0);
  }
}

$tablet-max-width: 96%;
$desktop-max-width: 92%;
$background-speed: 400ms;

.tasks-pane {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #fff;
  overflow-x: hidden;
  animation: show-tasks $default-timing $default-curve 1;
  transition: $background-speed ease background-color;

  &.selected-task {
    background-color: lighten($neutral-back-color, 2);
  }

  &.hide {
    animation: hide-tasks $default-timing $default-curve 1;
    transform: translate3d(100vw, 0, 0);
  }

  @media (min-width: $tablet-breakpoint) {
    left: $sidebar-width-small;
    animation: none;
    border-left: 1px solid $line-color;
    width: auto;

    &.hide {
      transform: none;
      animation: none;
    }

    .material-header .back {
      display: none;
    }
  }
  @media (min-width: $desktop-breakpoint) {
    left: $sidebar-width-desktop;
  }

  .material-header {
    @media (min-width: $tablet-breakpoint) {
      display: none;
    }
  }
}

.no-animate .tasks-pane {
  animation-duration: 0s;
}

.tasks-content {
  overflow-y: auto;
  position: absolute;
  top: $header-height;
  bottom: 0;
  width: 100%;

  @media (min-width: $tablet-breakpoint) {
    position: static;
    overflow-y: visible;
    width: $tablet-max-width;
    margin: 0 auto;
  }
  @media (min-width: $desktop-breakpoint) {
    width: $desktop-max-width;
  }
}

@media (min-width: $tablet-breakpoint) {
  .tasks-sticky-container {
    position: sticky;
    top: -1px;
    background: #fff;
    margin-top: $header-height;
    transition: $background-speed ease background-color;
    z-index: 2;
  }
  .selected-task .tasks-sticky-container {
    background-color: lighten($neutral-back-color, 2);
  }
}
.scale-header {
  .tasks-fancy-header {
    h1 {
      font-size: 1.5rem;

      input {
        transform: translate3d(-0.5rem, 0.5rem, 0);
      }

      .icon {
        transform: scale(0.6666) translate3d(0, 0.35rem, 0);
      }
    }
  }
}

.list-context {
  background: transparent;
  opacity: 0.5;
  border: 0;
  outline: 0;
  vertical-align: top;
  padding: 0;
  overflow: hidden;

  img {
    height: 1.8rem;
    margin: 0.9rem 0 0 -0.3rem;
  }

  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.9;
  }
  &:focus {
    opacity: 0.8;
  }
}

.tasks-fancy-header {
  $speed: 200ms;
  h1 {
    margin: $indent-width;
    position: relative;
    overflow: hidden;

    input {
      font-weight: 900;
      border: 0;
      padding: $indent-width / 2 $indent-width / 3 $indent-width / 2 $indent-width / 2;
      background: transparent;
      outline: 0;
      transition: 150ms ease background;
      border-radius: 3px;
      min-width: 25px;
      max-width: calc(100% - #{$indent-width + 1.5rem});
      transition: $speed ease transform;

      &:disabled {
        color: inherit;
      }

      &:not(:disabled):hover {
        background: rgba(#000, 0.02);
      }
      &:not(:disabled):focus {
        background: rgba(#000, 0.06);
      }
    }

    span {
      font-weight: 900;
      white-space: pre;
      position: absolute;
      visibility: hidden;
      top: 0;
      left: 0;
      pointer-events: none;
    }

    .icon {
      margin: 0.2rem 0.5rem 0 0.2rem;
      vertical-align: top;
      width: 2rem;
      height: 2rem;
    }

    @media (min-width: $tablet-breakpoint) {
      transition: $speed ease font;
      font-size: 2.25rem;
      line-height: $header-height - 0.5rem;
      margin: $indent-width / 2 $indent-width / 2 0.5rem;

      .icon {
        width: 2.3rem; // this random number helps with the aliasing
        height: auto;
        margin: 0.6rem 0.2rem 0 0;
        transition: $speed ease transform;
      }
    }
  }
}
.tasks-creator-background {
  padding: 0.25rem $indent-width / 2 0.75rem;

  @media (max-width: $tablet-breakpoint - 1) {
    display: none;
  }
}

.tasks-creator {
  $timing: 250ms;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid transparent;
  background-color: rgba(#000, 0.05);
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  outline: 0;
  font-size: 0.9rem;
  line-height: 1.1rem;
  transition: $timing ease border-color, $timing ease background-color;
  
  &:focus {
    border-color: $brand-color;
    background-color: rgba(#000, 0.03);
  }
}

.tasks-notes {
  font-size: 0.95rem;
  line-height: 1.5;
  margin: 0.25rem $indent-width 1rem;
}

.tasks-list {
  margin: 0;
  padding: 0 0 $indent-width;
  list-style-type: none;
  position: relative;
}