.tasks-editor {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #eee;
	z-index: 5;

	@media (min-width: 700px) {
		display: none;
	}

	&.animate-in {
		animation: show-tasks $default-timing $default-curve 1;
	}
	&.animate-out {
		animation: hide-tasks $default-timing $default-curve 1;
		transform: translate3d(100vw, 0, 0);
	}
	&.hide {
		visibility: hidden;
		pointer-events: none;
	}

	textarea {
		@include button-blank;
		padding: $indent-width;
		width: 100%;
		min-height: 5rem;
		box-sizing: border-box;
	}
}

$curve: ease;

.tasks-popover-desktop-wrapper {
	position: absolute;
	top: 0;
	height: 100vh;
	height: var(--real-height);
	left: $sidebar-width + 1; // border offset
	right: 0;
	background: $selected-color;
	z-index: 0;
	will-change: opacity;
	transition: $background-speed $curve opacity;

	@media (max-width: $tablet-breakpoint - 1) {
		display: none;
	}

}

.tasks-pane:not(.selected-task) .tasks-popover-desktop-wrapper {
	opacity: 0;
	pointer-events: none;
}


.tasks-popover-desktop {
	position: absolute;
	top: 0;
	left: 0;
	height: 150px;
	transition: $task-expand-speed $curve transform;
	margin-top: 14px;
	width: 100%;
}

.tasks-pane:not(.selected-task) .tasks-popover-desktop {
	transform: translate3d(0, -16px, 0);
}

.tasks-popover-content {
	background: #fff;
	width: 92%;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
	
	.content {
		height: 150px;
		border: 1px solid $line-color;
		display: block;
		padding: 0 5px;

		.outer {
			display: flex;
		}
	}
}

.bottom-hider {
	border-top: 1px solid $line-color;
	height: 100px;
	width: 100%;
	background: $selected-color;
	position: absolute;
	top: 149px;
	transition: $task-expand-speed $curve transform;
}

.tasks-pane:not(.selected-task) .bottom-hider {
	transform: translate3d(0, -100px, 0);
}