.selected-task .task-item:not(.expanded):hover, .selected-task .task-item:not(.expanded):active {
  background: none;
}

$speed: $task-expand-speed;

.tasks-transition .task-item, .tasks-transition .header-item {
  transition: $speed ease-out transform;
}

.task-item, .header-item {
  cursor: default;
  @include user-select(none);
  display: flex;
  box-sizing: border-box;
}


.header-item {
  font-size: 1.125rem;
  line-height: 2.5rem;
  padding: $indent-width $indent-width 0.5rem;

  input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    padding: $indent-width / 2 0 $indent-width / 2 0;
    flex: 1;
    outline: 0;
    border-radius: 0;
    line-height: 1rem;

    &:disabled {
      color: inherit;
      opacity: 1;
      -webkit-text-fill-color: #000;
    }

    &:hover:not(:disabled) {
      border-color: rgba($brand-color, 0.3);
    }
    &:focus {
      border-color: rgba($brand-color, 0.8);
    }
  }

  button {
    @include button-blank();
    position: absolute;
    right: 0;
    padding: 0.25rem 0.5rem 0.25rem 2rem;

    &:hover {
      opacity: 0.7;
    }
  }

  @media (max-width: $tablet-breakpoint - 1) {
    font-size: 1.2rem;
    line-height: 2.6rem;
    padding: $indent-width + 0.5rem $indent-width + 0.3rem 0.5rem;

    .outer button {
      padding-right: 0.5rem + 0.3rem;
    }
  }
}

.offset-down {
  transform: translate3d(0, 150px, 0);
}
.no-transition {
  transition-duration: 0ms !important;
}

.selected-task, .selected-task-hide {
  .header-item, .task-item {
    transition: $speed $fancy-curve transform, $speed $fancy-curve opacity;
  }
}

.task-item {
  $radius: 3px;
  font-size: 1rem;
  margin: 0;
  padding: 0 $indent-width 0 $indent-width - 0.5rem;
  height: $task-height;

  @media (pointer: fine) {
    &:hover {
      background: rgba(#000, 0.01);
      border-radius: $radius;
    }
  }
  &:active {
    background: rgba($brand-color, 0.04);
    border-radius: $radius;
  }
  &.active {
    background: rgba($brand-color, 0.1);
    border-radius: $radius;
  }

  @media (max-width: $tablet-breakpoint - 1) {
    .inner {
      display: none;
    }
  }

  @media (min-width: $tablet-breakpoint) {    
    

    &.expanded {
      // position: relative;
      // z-index: 1;
      // background: #fff;
      transform: translate3d(0, 16px, 0);
      opacity: 0;
      // border-radius: $radius $radius 0 0;

      // .inner {
      //   height: 105px;
      //   border: 1px solid;
      //   border-top: 0;
      //   border-radius: 0 0 $radius $radius;
      // }
      // .inner, .outer {
      //   animation: 250ms ease border-color-nice 1;
      //   border-color: #e5e6e9 #dfe0e4 #d0d1d5;
      // }
    }

    .outer {
      border-radius: $radius $radius 0 0;
      border: 1px solid transparent;
      border-bottom: 0;
    }

    .inner {
      background: #fff;
      overflow: hidden;
      border: 0;
      border-color: #fff;
      margin-top: -1px;
    }
  }


  .check {
    $box-height: 1rem;
    width: 2.25rem;
    padding: 0 0.5rem;
    display: flex;
    box-sizing: border-box;

    $check-border-color: #bbb;

    .box {
      margin: auto auto auto 0;
      width: $box-height;
      height: $box-height;
      border: 1px solid $check-border-color;
      border-radius: 10px;
      transition: 50ms ease-in transform;
      background-position: 0 1px;
    }

    &:hover {
      $check-border-color: #ccc;
      .box {
        background-color: $check-border-color;
        border-color: $check-border-color;
      }
    }

    &:active .box {
      background-color: darken($box-color, 5);
      border-color: darken($box-color, 5);
      transform: scale(0.9);
    }
  }
  .check:hover .box, &.completed .check .box {
    background-image: url('/img/icons/'+ $icon-style +'/check.svg');
    background-size: 16px;
    background-repeat: no-repeat;
  }
  &.completed {
    .label {
      color: #666;
    }
    .check .box {
      background-color: $box-color;
      border-color: $box-color;
    }
  }
  .label {
    flex: 1;
    line-height: $task-height;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  $padding-size: 0.25rem;
  input {
    outline: 0;
    border: 0;
    background: transparent;
    flex: 1;
    padding: $padding-size 0;
    line-height: $task-height - $padding-size * 2;
  }

  // MOBILE HAS BIGGER TASKS
  @media (max-width: $tablet-breakpoint - 1) {
    height: $task-height-mobile;

    .outer {
      padding: 0 $indent-width + 0.1rem 0 $indent-width + 0.3rem;
    }
    .outer, .inner {
      border-left: 0 !important;
      border-right: 0 !important;
    }

    .label {
      line-height: $task-height-mobile;
      font-size: 1.1rem;
    }

    input {
      line-height: $task-height-mobile - $padding-size * 2;
      font-size: 1.1rem;
    }


    .check {
      $box-height: 1.125rem;
      width: 2rem;
      padding: 0;

      .box {
        margin-top: 0.75rem;
        width: $box-height + 0.125rem;
        height: $box-height + 0.125rem;
        background-position: 2px 3px;
        border-radius: 12px;
      }
    }
  }

  textarea {
    border: 0;
    padding: 0;
    background: transparent;
    width: 100%;
    outline: 0;
    font-size: 0.9rem;
    line-height: 1.1rem;
    resize: none;
    min-height: 1.1rem * 3 + $indent-width;
    display: block;
    padding: 0 $indent-width $indent-width 1.75rem + $indent-width;
    box-sizing: border-box;
  }

  .button-bar {
    background: lighten($neutral-back-color, 3);
    padding: 0 $indent-width 0 1.75rem + $indent-width;
    display: flex;
    align-items: center;
    height: 2.4rem;

    img {
      height: 1.2rem;
      vertical-align: top;
      opacity: 0.4;
      margin-right: 0.8rem;

      &:hover {
        opacity: 0.5;
      }
      &:active {
        opacity: 0.6;
      }
    }
  }
}

.front-indicator {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin: 12px 4px 0 0;
  background-size: 20px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-breakpoint) {
    width: 18px;
    height: 18px;
    background-size: 18px;
    margin: 11px 3px 0 0;
  }
}
.indicator-today {
  background-image: url('/img/icons/feather/today.svg');
}

.indicator {
  display: inline-block;
  vertical-align: top;
}

.indicator-notes, .indicator-deadline {
  opacity: 0.25;
  background-repeat: no-repeat;

  &:hover {
    opacity: 0.5;
  }
}
.indicator-notes {
  margin: 12px 0 0 7px;
  background-image: url('/img/icons/material/note.svg');
  width: 18px;
  height: 20px;
}
.indicator-deadline {
  margin: 7px 2px 7px 3px;
  background-image: url('/img/icons/material/task-deadline.svg');
  width: 24px;
  height: 20px;
}
.indicator-deadline-label {
  font-size: 13px;
  color: #444;
}
.indicator-date {
  border: 1px solid $line-color;
  font-size: 13px;
  padding: 2px 9px 2px;
  line-height: 1;
  border-radius: 10px;
  margin: 9px 0 9px 4px;
}

