@keyframes show-tasks {
  0% {
    transform: translate3d(100vw, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0); 
  }
}
@keyframes hide-tasks {
  0% {
    transform: translate3d(0, 0, 0); 
  }
  100% {
    transform: translate3d(100vw, 0, 0);
  }
}

$desktop-max-width: 92%;

.tasks-pane {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #fff;
  overflow-x: hidden;
  animation: show-tasks $default-timing $default-curve 1;

  &.hide {
    animation: hide-tasks $default-timing $default-curve 1;
    transform: translate3d(100vw, 0, 0);
  }

  @media (min-width: $tablet-breakpoint) {
    left: $sidebar-width-small;
    animation: none;
    border-left: 1px solid $line-color;
    width: auto;

    &.hide {
      transform: none;
      animation: none;
    }

    .material-header .back {
      display: none;
    }
  }
  @media (min-width: $desktop-breakpoint) {
    left: $sidebar-width-desktop;
  }

  .material-header {
    @media (min-width: $tablet-breakpoint) {
      display: none;
    }
  }
}

.no-animate .tasks-pane {
  animation-duration: 0s;
}

.tasks-content {
  overflow-y: auto;
  position: absolute;
  top: $header-height;
  bottom: 0;
  width: 100%;

  @media (min-width: $tablet-breakpoint) {
    position: static;
    overflow-y: visible;
  }
  @media (min-width: $desktop-breakpoint) {
    width: $desktop-max-width;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-breakpoint) {
  .tasks-sticky-container {
    position: sticky;
    top: -1px;
    background: #fff;
    margin-top: $header-height;
  }
}
.scale-header {
  .tasks-fancy-header {
    h1 {
      font-size: 1.5rem;

      span {
        transform: translate3d(-0.4rem, 0.5rem, 0);
      }

      img {
        transform: scale(calc(2/3)) translate3d(0, 0.75rem, 0);
      }
    }
  }
}

.tasks-fancy-header {
  $speed: 250ms;
  h1 {
    margin: $indent-width;

    img {
      margin: 0.2rem 0.5rem 0 0.2rem;
      vertical-align: top;
      width: 2rem;
      height: 2rem;
    }

    @media (min-width: $tablet-breakpoint) {
      transition: $speed ease font;
      font-size: 2.25rem;
      line-height: $header-height - 0.5rem;
      margin: $indent-width $indent-width 0.5rem;

      img {
        width: 2.25rem;
        height: 2.25rem;
        margin: 0.3rem 0.6rem 0 0;
        transition: $speed ease transform;
      }

      span {
        display: inline-block;
        vertical-align: top;
        transition: $speed ease transform;
      }
    }
  }
}
.tasks-creator-background {
  padding: 0.25rem $indent-width 0.75rem;

  @media (max-width: $tablet-breakpoint - 1) {
    display: none;
  }
}

.tasks-creator {
  $timing: 250ms;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid transparent;
  background-color: rgba(#000, 0.05);
  border-radius: 3px;
  padding: 0.5rem 0.75rem;
  outline: 0;
  font-size: 0.9rem;
  line-height: 1.1rem;
  transition: $timing ease border-color, $timing ease background-color;
  
  &:focus {
    border-color: $brand-color;
    background-color: rgba(#000, 0.03);
  }
}

.tasks-list {
  margin: 0;
  padding: 0 0 $indent-width;
  list-style-type: none;

  li {
    margin: 0 $indent-width 1px;
    line-height: $task-height;
  }
}