$font-family: 'Raleway', sans-serif;
// $header-height: calc(2.8rem + (2vh);
$header-height: 3.5rem;
$indent-width: 1rem;
$list-height: 2.75rem;
$task-height: 2.5rem;
$task-height-mobile: 2.75rem;
$footer-height: 2.75rem;

$sidebar-width-small: 20rem;
$sidebar-width-desktop: 24rem;

// gonna figure something else out later with custom
$neutral-back-color: #f2f2f3;
$back-color: $neutral-back-color;
$neutral-back-color-transparent: $neutral-back-color;
// $neutral-back-color-transparent: rgba($neutral-back-color, 0.75);
$brand-color: #3a7df8;
$line-color: rgba(#000, 0.12);

$default-timing: 300ms;
$default-curve: ease;
$task-expand-speed: 200ms;
$fancy-curve: cubic-bezier(.10, .10, .25, .90);

$mobile-breakpoint: 480px;
$tablet-breakpoint: 700px;
$desktop-breakpoint: 900px;

$box-color: #6eaf01;
$danger-color: #c0392b;

$icon-style: 'feather';

$default-shadow: 0 1px 3px rgba(#000, 0.2);

// $pd-picker-bg: transparent;
$pd-picker-border: transparent;
$pd-picker-border-bottom: transparent;
$pd-font-family: $font-family;
$pd-day-hover-bg: rgba(#000, 0.15);
$pd-day-today-color: $brand-color;
$pd-day-selected-bg: $brand-color;
$pd-day-selected-shadow: transparent;
$pd-day-bg: $neutral-back-color;

$list-icon: url('/img/icons/'+ $icon-style +'/list.svg');
$inbox-icon: url('/img/icons/'+ $icon-style +'/inbox.svg');
$today-icon: url('/img/icons/'+ $icon-style +'/today.svg');
$next-icon: url('/img/icons/'+ $icon-style +'/next.svg');
$all-icon: url('/img/icons/'+ $icon-style +'/all.svg'); 