// Nitro 3 Styles

@import "_normalize";
@import "_vars";

body {
  background: $neutral-back-color;

  @media (min-width: $tablet-breakpoint) {
    background: $back-color;
  }
}
body, input, button {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}
.pwa {
  display: none;
}
@media all and (display-mode: standalone) {
  .pwa {
    display: block;
  }
}

.hidden {
  display: none;
}

@import "_lists";
@import "_tasks";
@import "_task";