// Nitro 3 Styles

@import "_normalize";
@import "_vars";

body {
  background: $back-color;
}
body, input, button {
  font-family: 'Raleway', sans-serif;
}

.hidden {
  display: none;
}

@import "_lists";
@import "_tasks";
@import "_task";
@import "_taskeditor";