// Nitro 3 Styles

@import "_normalize";
@import "_fonts";
@import "_vars";
@import "_mixins";

body {
  background: $neutral-back-color;

  @media (min-width: $tablet-breakpoint) {
    background: $back-color;
  }
}
body, input, button, textarea {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}
a {
  color: darken($brand-color, 10);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.pwa {
  display: none;
}
@media all and (display-mode: standalone) {
  .pwa {
    display: block;
  }
}

.hidden {
  display: none;
}

@import "_forms";

@import "_lists";
@import "_tasks";
@import "_taskseditor";
@import "_task";
@import "_login";
@import "_contextmenu";
@import "_dialogbox";