@mixin user-select($select) {
  -webkit-user-select: $select;
     -moz-user-select: $select;
      -ms-user-select: $select;
          user-select: $select;
}

@mixin button-blank() {
	border: 0;
	background: transparent;
	outline: 0;
}