
.loading-screen
  top: 0
  left: 0
  bottom: 0
  right: 0
  position: absolute
  background: #fff
  z-index: 200

  &.hidden
    display: none


  .text
    position: absolute
    left: 50%
    top: 50%
    margin-left: -100px
    margin-top: -25px
    height: 50px
    width: 200px
    background: #eee
    text-align: center
    line-height: 50px
    border-radius: 2px
    color: #333



