
button.disabled {
  pointer-events: none;
}

%core-button {
  cursor: pointer;
  padding: 0;
  line-height: 34px;
  font-size: 15px;
  border: 0;
}

%thick-button {
  @extend %core-button;
}

%thin-button {
  @extend %core-button;
  background: $white;
  border: 1px solid $mid-grey;
  color: $half-grey;

  @include transition(
    background-color 0.1s
  );

  &:hover {
    background: $light-grey;
  }

  &:active {
    background: $mid-grey;
    color: $dark-grey;
  }

}

@mixin button-bg ($bgcolor) {

  background: $bgcolor;
  @include transition(background-color 0.1s);

  &:active {
    background: darken($bgcolor, 6);
  }

  &.disabled, &:hover {
    background: lighten($bgcolor, 6);
  }

}

/*
 * BUTTONS
 */

button {
  outline: none;
}

button.special, a.special {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #555555;
  background: white;
  font-size: 16px;
  color: #222222;
  margin-top: 15px;
  padding: 8px 15px;
  font-family: $font;
  cursor: default;

  &:active {
    background: #555555;
    color: white;
  }

}
