
button.disabled {
  pointer-events: none;
}

%core-button {
  cursor: pointer;
  padding: 0;
  line-height: 34px;
  font-size: 15px;
  border: 0;
}

%thick-button {
  @extend %core-button;
}

%thin-button {
  @extend %core-button;
  background: $white;
  border: 1px solid $mid-grey;
  color: $half-grey;

  @include transition(
    background-color 0.1s
  );

  &:hover {
    background: $light-grey;
  }

  &:active {
    background: $mid-grey;
    color: $dark-grey;
  }

}

@mixin button-bg ($bgcolor) {

  background: $bgcolor;
  @include transition(background-color 0.1s);

  &:active {
    background: darken($bgcolor, 6);
  }

  &.disabled, &:hover {
    background: lighten($bgcolor, 6);
  }

}

/*
 * BUTTONS
 */

button {
  outline: none;
}

button.special, a.special {
  cursor: default;
  margin-top: 15px;
  font-size: 13px;
  background: $light-grey;
  border: 2px solid $mid-grey;
  color: $dark-grey;
  text-transform: uppercase;
  padding: 0 20px;

  &:hover {
    background: lighten($mid-grey, 10);
  }
  &:active {
    color: $white;
    border-color: $dark-grey;
    background: $dark-blue;
  }

  &.false, &.true {
    color: $white;
    border-color: $dark-grey;
  }

  &.false {
    background: $dark-green;
    &:hover {
      background: darken($dark-green, 7);
    }
    &:active {
      background: darken($dark-green, 15);
    }
  }
  &.true {
    background: $red;
    &:hover {
      background: darken($red, 7);
    }
    &:active {
      background: darken($red, 15);
    }
  }
}
