.dark body {
  background: $sidebar-color;
}
.dark {
  /* Panel */
  .panel {
    .avatar {
      color: $mid-grey;
    }
  }
  /* Main */
  .main .title {
    background: $sidebar-color;
    h1 {
      color: $white;
    }
  }
  .task-input {
    background: darken($sidebar-color, 4);
    border-color: darken($sidebar-color, 7);
    box-shadow: 0 20px 0 $sidebar-color, 0 21px 0 darken($sidebar-color, 7);;
    color: $light-grey;

    &:focus {
      border-color: darken($dark-blue, 15);
      // border-color: $light-blue, 20);
    }
  }
  .task {
    background: darken($sidebar-color, 4);
    border-color: darken($sidebar-color, 7);
    color: $light-grey;

    .notes, .input-name, .date {
      background: darken($sidebar-color, 4);
      color: $light-grey;
    }

    &.p3 .checkbox,
    &.p3 .notes {
      border-left-color: darken($red, 10);
    }

    &.p2 .checkbox,
    &.p2 .notes {
      border-left-color: darken($dark-green, 10);
    }

    &.p1 .checkbox,
    &.p1 .notes {
      border-left-color: darken($dark-blue, 10);
    }

    &:first-child, &::after, .checkbox::before, &.expanded, &.expanded-task + li {
      border-color: darken($sidebar-color, 7);
    }
    &::before, &.expanded-task::before {
      background: darken($sidebar-color, 7);
    }
  }
  /* Sidebar */
  .sidebar {
    background: darken($sidebar-color, 8);
    .list {
      &:hover {
        background-color: darken($sidebar-color, 9.5);
      }
      &.current {
        background-color: darken($sidebar-color, 12);
      }
    }
  }
}
