@media not print {

.dark body {
  background: $sidebar-color;
}
.dark {
  /* Panel */
  .panel {
    .avatar {
      color: $mid-grey;
    }
  }
  /* Main */
  .main .title {
    background: $sidebar-color;
    .list-name, .list-name:disabled {
      color: $white;
    }
  }
  .dropdown-menu {
    &:hover .arrowsvg {
      fill: $white;
    }
    .menu-contents {
      background: $sidebar-color;
      border-color: darken($sidebar-color, 7);

      &::before {
        border-bottom: 6px solid darken($sidebar-color, 7);
      }

      &::after {
        border-bottom: 4px solid $sidebar-color;
      }

      li {
        color: $light-blue;
        border-color: darken($sidebar-color, 7);

        &:hover {
          background: darken($sidebar-color, 4);
        }
      }
    }
  }
  .task-input {
    background: darken($sidebar-color, 4);
    border-color: darken($sidebar-color, 7);
    box-shadow: 0 20px 0 $sidebar-color, 0 21px 0 darken($sidebar-color, 7);
    color: $light-grey;

    &:focus {
      border-color: darken($dark-blue, 15);
    }

    &.search {
      background-color: $sidebar-color;

      &:focus {
        background-color: darken($sidebar-color, 4);
      }
    }
  }
  .task {
    background: darken($sidebar-color, 4);
    border-color: darken($sidebar-color, 7);
    color: $light-grey;

    .notes, .input-name, .date {
      background: darken($sidebar-color, 4);
      color: $light-grey;
    }

    &.p3 .checkbox,
    &.p3 .notes {
      border-left-color: darken($red, 10);
    }

    &.p2 .checkbox,
    &.p2 .notes {
      border-left-color: darken($dark-green, 10);
    }

    &.p1 .checkbox,
    &.p1 .notes {
      border-left-color: darken($dark-blue, 10);
    }

    &:first-child, &::after, .checkbox::before, &.expanded-task, &.expanded-task + li {
      border-color: darken($sidebar-color, 7);
    }
    &::before, &.expanded-task::before {
      background: darken($sidebar-color, 7);
    }
  }
  /* Sidebar */
  .sidebar, body .settings .menu {
    background: darken($sidebar-color, 8);
    .list {
      &:hover {
        background-color: darken($sidebar-color, 9.5);
      }
      &.current {
        background-color: darken($sidebar-color, 12);
      }
    }
  }
  /* Settings */
  .pane {
    background: $sidebar-color;
  }
  .about-logo {
    h2 {
      color: $white;
    }
    .copyright {
      color: $mid-grey;
    }
  }
  .left-label, .about, .pane .title{
    color: $light-grey;
  }
  .blurb, .control, .control:first-child {
    border-color: darken($sidebar-color, 5);
  }
  .about a {
    color: $light-blue;
  }
  .radio-button label {
    background: darken($sidebar-color, 4);
    color: $light-grey;
    outline-color: darken($sidebar-color, 8);
  }
  .radio-button input[type='radio']:hover + label {
    background: darken($sidebar-color, 6);
  }
  .radio-button input[type='radio']:checked + label, .radio-button input[type='radio']:active + label {
    outline-color: darken($sidebar-color, 12);
    background: $dark-blue;
  }
  button.clear-data, button.export-data {
    border-color: darken($sidebar-color, 8);
  }
}

}
