@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(../fonts/lato.woff2) format("woff2"), url(../fonts/lato.woff) format("woff");
}


@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(../fonts/lato_bold.woff2) format("woff2"), url(../fonts/lato_bold.woff) format("woff");
}
