%thin-input {
  color: $dark-grey;
  border: 1px $mid-grey solid;
  outline: 0;
  @extend %border-box;
  padding: 7px 10px 8px;
  @include transition(border-color 0.3s);

  &:focus {
    border-color: $light-blue;
  }

}

%hidden-input {
    @extend %border-box;
    background: transparent;
    border: 0;
    height: 40px;
    padding: 0 0 0 20px;
    font-size: 15px;
    outline: none;
}
