
@mixin spinner ($inner, $outer, $parent_height, $width: 2px, $color: $white) {

  $size: ($inner + $outer) * 2;
  position: relative;

  .text,
  .spinner {
    @include transition(0.3s ease all);
  }

  .text {
    position: relative;
    display: inline-block;
  }

  .spinner {
    @include pos(50%, auto, auto, 50%);
    display: inline-block;
    width: $size;
    height: $size;
    margin-left: $size / -2;
    margin-top: $parent_height / 2 - ($width * 2.5);
    z-index: $z-spinner;
    opacity: 0;
    @include transform(scale(2.5));

    /* SPINNER LINE */
    span {
      position: absolute;
      width: $outer;
      height: $width;
      background-color: $color;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
      border-radius: 1px;
      @include vendor( transform-origin, 0% 50% );
      @include animation( spin-1 1s linear infinite );
    }

  }

  &.active {
    .text {
      opacity: 0;
      @include transform(scale(0.5));
    }

    .spinner {
      opacity: 1;
      margin-top: 0;
      @include transform(none);
    }
  }

  .spinner .spinner-line-1 {
    @include vendor( animation-name, spin-1 );
    @include transform( rotate(0deg) translate($inner, 0px) );
  }
  .spinner .spinner-line-2 {
    @include vendor( animation-name, spin-2 );
    @include transform( rotate(30deg) translate($inner, 0px) );
  }
  .spinner .spinner-line-3 {
    @include vendor( animation-name, spin-3 );
    @include transform( rotate(60deg) translate($inner, 0px) );
  }
  .spinner .spinner-line-4 {
    @include vendor( animation-name, spin-4 );
    @include transform( rotate(90deg) translate($inner, 0px) );
  }
  .spinner .spinner-line-5 {
    @include vendor( animation-name, spin-5 );
    @include transform( rotate(120deg) translate($inner, 0px) );
  }
  .spinner .spinner-line-6 {
    @include vendor( animation-name, spin-6 );
    @include transform( rotate(150deg) translate($inner, 0px) );
  }
  .spinner .spinner-line-7 {
    @include vendor( animation-name, spin-7 );
    @include transform( rotate(180deg) translate($inner, 0px) );
  }
  .spinner .spinner-line-8 {
    @include vendor( animation-name, spin-8 );
    @include transform( rotate(210deg) translate($inner, 0px) );
  }
  .spinner .spinner-line-9 {
    @include vendor( animation-name, spin-9 );
    @include transform( rotate(240deg) translate($inner, 0px) );
  }
  .spinner .spinner-line-10 {
    @include vendor( animation-name, spin-10 );
    @include transform( rotate(270deg) translate($inner, 0px) );
  }
  .spinner .spinner-line-11 {
    @include vendor( animation-name, spin-11 );
    @include transform( rotate(300deg) translate($inner, 0px) );
  }
  .spinner .spinner-line-12 {
    @include vendor( animation-name, spin-12 );
    @include transform( rotate(330deg) translate($inner, 0px) );
  }


 }
