$font: "Open Sans", sans-serif;
$web: true;

/*
 * LAYOUT
 */
$panelHeight: 40px;
$sidebar-width: 250px;
$sidebar-padding: 20px;

/*
 * Z-INDEX
 */

$z-loading: 100;

$z-auth: 80;

$z-panel: 70;

$z-modal: 60;
$z-modal-overlay: 55;

$z-settings: 50;

$z-drag-helper: 30;

$z-context-menu: 20;
$z-sidebar: 20;

$z-main: 16;

$z-title: 15;

$z-select-box: 10;

$z-notes-border: 5;

$z-spinner: 2;



/*
 * COLORS
 */

$white:        #fff;
$light-grey:   #f3f3f3;
$mid-grey:     #ccc;
$half-grey:    #888;
$dark-grey:    #4c4c4c;
$black:        #000;

$task-color:   #d9d9d9;
$task-stripes: #e6e6e6;
$task-notes:   #fafafa;

$sidebar-color:#33393d;
$sidebar-font: #eee;

$dark-border:  #272727;
$dark-blue:    #068dd8;
$light-blue:   #1bc1f5;
$green:        #9dd071;
$dark-green:   #67A640;
$red:          #e15556;
