$font: "Open Sans", sans-serif;

/*
 * LAYOUT
 */

$sidebar-width: 250px;
$sidebar-padding: 20px;

/*
 * Z-INDEX
 */

$z-auth: 50;
$z-loading: 100;

/*
 * COLORS
 */

$white:        #fff;
$light-grey:   #f3f3f3;
$mid-grey:     #ccc;
$half-grey:    #888;
$dark-grey:    #4c4c4c;
$black:        #000;

$task-color:   #d9d9d9;
$task-stripes: #e6e6e6;
$task-notes:   #fafafa;

$sidebar-color:#33393d;
$sidebar-font: #eee;

$dark-border:  #272727;
$dark-blue:    #068dd8;
$light-blue:   #1bc1f5;
$green:        #9dd071;
$dark-green:   #1d943b;
$red:          #e15556;
