$font: "Lato", sans-serif;

/*
 * Z-INDEX
 */

$z-auth: 50;

/*
 * COLORS
 */

$white:        #fff;
$light-grey:   #eee;
$mid-grey:     #ccc;
$half-grey:    #888;
$dark-grey:    #4c4c4c;
$black:        #000;

$task-color:   #d9d9d9;
$dark-border:  #272727;
$dark-blue:    #068dd8;
$light-blue:   #1bc1f5;
$green:        #9dd071;
$dark-green:   #1d943b;
$red:          #e15556;
